- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/books/back-bundle"
  = stylesheet_link_tag "pages/staff_mobile/books/back-bundle", :media => "all"

- content_for :app_content do
  .main-div
    - if @success != true
      .unreturn-div
        %img.unreturn-icon{:src => "/assets/manager/fail.png"}
        - if @book_inst.blank?
          %p.title#unfound 该绘本不是本儿童中心藏书！
        - else
          %p.title#unreturn 该绘本未出借！
    - else
      .desc-div
        .desc
          %p.items= "读者姓名：" + @book_borrow.client.name
          %p.items= "手机号码：" + @book_borrow.client.mobile
          %p.items= "绘本名称：" + @book_inst.book.name
          - if @book_inst.book.isbn.present?
            %p.items#num= "ISBN号：" + @book_inst.book.isbn
        %img.icon{:src => "/assets/manager/success_mini.png"}
    .btn-div
      %a.btn#clicked{:type => "button", href: "javascript:void(0);"} 继续归还
      %a.btn#unclicked{:type => "button", href: "/staff_mobile/books"} 完成
