- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/books/borrow_result-bundle"
  = stylesheet_link_tag "pages/staff_mobile/books/borrow_result-bundle", :media => "all"

- content_for :app_content do
  .main-div
    - if @err.present?
      .unreturn-div
        %img.unreturn-icon{src: asset_path("manager/fail.png")}
        - if @err == "book_not_exist"
          %p.title#unfound 该绘本不是本儿童中心藏书！
        - if @err == "book_not_returned"
          %p.title#unreturn 该绘本尚未归还！
        - if @err == "book_in_transfer"
          %p.title#unreturn 该绘本正在迁移途中
        - if @err == "book_not_available"
          %p.title#unreturn 绘本已下架
        - if @err == "has_expired_book"
          %p.title#unreturn 当前有绘本逾期
        - if @err == "reach_max_borrow"
          %p.title#unreturn 已达最大借阅数目
        - if @err == "book_all_off_shelf"
          %p.title#unreturn 绘本已全部借出
    - else
      .desc-div
        .desc
          %p.items= "读者姓名：" + @borrow.client.name
          %p.items= "手机号码：" + @borrow.client.mobile
          %p.items= "绘本名称：" + @borrow.book_inst.book.name
          - if @borrow.book_inst.book.isbn.present?
            %p.items#num= "ISBN号：" + @borrow.book_inst.book.isbn
        %img.icon{src: asset_path("manager/success_mini.png")}
    .btn-div
      %a.btn#clicked{:type => "button", href: borrow_staff_mobile_books_path + "?mobile=" + @mobile} 继续借出
      %a.btn#unclicked{:type => "button", href: staff_mobile_books_path} 完成
