- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/books/show-bundle"
  = stylesheet_link_tag "pages/staff_mobile/books/show-bundle", :media => "all"

- content_for :app_content do
  .main-div
    - if @book.blank?
      .unreturn-div
        %img.unreturn-icon{src: asset_path("manager/fail.png")}
        %p.title#unfound 该绘本不是本儿童中心藏书！
    - else
      .desc-div
        .desc
          %p.items= "绘本名称：" + @book.name
          - if @book.publisher.present?
            %p.items= "出版社：" + @book.publisher
          - if @book.isbn.present?
            %p.items#num= "ISBN号：" + @book.isbn
          %p.items= "当前状态：" + @book_inst.status_str
          - if @book_inst.current_borrow.present?
            %p.items= "借阅人：" + @book_inst.borrow_info
        %img.icon{src: asset_path("manager/success_mini.png")}
    .btn-div
      %a.btn#clicked{:type => "button", href: "/staff_mobile/books"} 完成
