- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/courses/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/courses/index-bundle", :media => "all"
  :javascript
    window.keyword="#{@keyword}"

- content_for :app_content do
  .content-area
    = render "user_mobile/partials/list_header", list_type: "courses"
    = render "user_mobile/partials/no_centers"
    .choice-div
      .choice-item.border-right
        = select_tag "choice-price", options_for_select(CourseInst.price_for_select, "-1"), class: "no-padding"
        .triangle
      .choice-item
        = select_tag "choice-age", options_for_select(User.age_for_select, "-1"), class: "no-padding"
        .triangle
    - if User.see_feeds(@current_user)
      - if @courses.present?
        - @courses.each do |e|
          .content{data: {id: e.id.to_s}}
            .left-div
              %img.visit{:src => e.photo.nil? ? asset_path("web/course.png") : e.photo.path}
            .right-div
              / %img.icon{src: asset_path("kidscenter/ke.png")}
              %span.caption= e.name || e.course.name
              %span{class: e.status_class}
              .location-div
                %span.age 适合年龄: 
                %span.age= e.min_age.present? ? e.min_age.to_s + "~" + e.max_age.to_s + "岁" : "无"
                %span.age.price 价格:
                %span.age= e.judge_price
              .location-div
                %img.time{src: asset_path("web/time.png")}
                %span.date= truncate(e.date.strip(), length: 25)
              / %p.message= truncate(strip_tags(e.course.desc).strip(), length: 50)
              .location-div.margin-b
                %img.location{src: asset_path("web/location.png")}
                %span.center= e.center.name
        - if @current_user.try(:is_client)
          .render-more
            %p 加载更多
          .load
            %img.loading{src: asset_path("loading.gif")}
      - else
        .unfound
          %img.unfound-icon{src: asset_path("web/cry.png")}
