- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/courses/new-bundle"
  = stylesheet_link_tag "pages/user_mobile/courses/new-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 购买课程
      %a{:href => user_mobile_course_path(@course)}
        %img.back{:src => "/assets/mybook/back.png"}
    .item-div
      .item
        .icon-div
          %img.icon{:src => @course.photo.present? ? @course.photo.path : "/assets/robotclass/robot.jpg"}
        .title= @course.name
      .details
        .span-div
          %span.left 上课中心：
          %span.right= @course.center.name
        .span-div
          %span.left 详细地址：
          %span.right= @course.address
        .span-div
          %span.left 上课时间：
          %span.right= @course.date
      .price-div
        .price.clearfix
          %span.float-left 市场价：
          %span.float-right= @course.price
        .price.clearfix
          %span.float-left 政府补贴：
          %span.float-right= "-" + (@course.price - @course.price_pay).to_s
        .price.clearfix
          %span.float-left 公益价：
          %span.float-right#public-price= @course.price_pay
    %a.btn#wechat-pay{href: "javascript:void(0);", :type => "button"}　微信支付
