- content_for :app_head do
  = javascript_include_tag "http://map.qq.com/api/js?v=2.exp"
  = javascript_include_tag "pages/user_mobile/courses/show-bundle"
  = stylesheet_link_tag "pages/user_mobile/courses/show-bundle", :media => "all"
  :javascript
    window.course_inst_id = "#{@course_inst.id.to_s}"
    window.course_participate_id = "#{@course_participate.try(:id).to_s}"
    window.lat = "#{@course_inst.center.lat}"
    window.lng = "#{@course_inst.center.lng}"

.content-div
  %img.course-img{src: @course_inst.photo.present? ? @course_inst.photo.path : asset_path("wap/course.png")}
  %a{href: course_back_url(@back)}
    %img.course-icon.back-icon{src: asset_path("wap/back2.png")}
  - if @current_user.favorite_on(@course_inst)
    %img.course-icon.like-icon{src: asset_path("wap/like_selected.png"), data: {fav: "false"}}
  - else
    %img.course-icon.like-icon{src: asset_path("wap/like_normal.png"), data: {fav: "true"}}
  - if @current_user.reviews.present?
    %a.comment-icon.have-comment{:href => user_mobile_reviews_path + "?back=" + @back.to_s + "&course_inst_id=" + @course_inst.id.to_s}
      %p.reviews-num.f12-op54= @course_inst.reviews.public_and_mine(@current_user).length
  - else
    %a.comment-icon.no-comment{:href => user_mobile_reviews_path + "?back=" + @back.to_s + "&course_inst_id=" + @course_inst.id.to_s}

  .course-div
    %p.f20-op87.font-color2.course-name= @course_inst.name
    .desc-div
      %img.date-icon{src: asset_path("wap/date.png")}
      %span.f12-op56.font-color2= @course_inst.date
    .desc-div
      %img.location-icon{src: asset_path("wap/location.png")}
      %span.f12-op56.font-color2= @course_inst.center.address
    .flex-div.font-color2
      .box
        %p.mb24.f12-op56 价格
        %p.f14-op87= @course_inst.price.to_s + "元"
      .box
        %p.mb24.f12-op56 课次
        %p.f14-op87= @course_inst.length.to_s + "次"
      .box
        %p.mb24.f12-op56 剩余名额
        %p.f14-op87= "#{@course_inst.effective_signup_num}/#{@course_inst.capacity}" + "人"
      .box
        %p.mb24.f12-op56 评分
        %p.f14-op87= @course_inst.reviews.present? ? ("#{@course_inst.reviews.sum("score")}" / "#{@course_inst.reviews.length}").to_s + "分" : "--"
  - if @course_participate.present? && @course_participate.is_success      
    .course-div.no-pt
      .sign-desc
        %p.f20-op87.font-color2.tc 课程签到
        .sign-in-div
          - @course_inst.length.times do |i|
            - if @course_participate.signin_info[i].present?
              .sign-in-box= i + 1
            - else
              - if @course_inst.is_class_pass?(i)
                .absence= i + 1
              - else
                .future= i + 1
      .map-div
        %p.f20-op87.font-color2.tc.mb24 上课地址
        #map-container

  .course-div.font-color2.no-pt
    %p.f20-op87.tc.mb24 课程详情
    .speaker-div.tc.f14-op87
      %span 主讲人:
      %span= @course_inst.speaker
    .course-desc.f14-op87
      = @course_inst.course.desc.html_safe
    - if @course_participate.nil? || @course_participate.prepay_id.blank?
      - if Time.parse(@course_inst.end_date).past?
        %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 已结课
      - elsif @course_inst.capacity <= @course_inst.effective_signup_num
        %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 已无名额
      - else
        - if @course_inst.price > 0
          %a.btn.btn-style.bg1.f16.font-color1{href: "https://open.weixin.qq.com/connect/oauth2/authorize?appid=#{Rails.configuration.wechat_app_id}&redirect_uri=#{CGI::escape('http://' + Rails.configuration.domain + '/user_mobile/courses/new/')}&response_type=code&scope=snsapi_base&state=#{@course_inst.id.to_s}#wechat_redirect", :type => "button"} 立即报名
        - else
          %a.btn.btn-style.bg1.f16.font-color1{href: "/user_mobile/courses/new/?state=#{@course_inst.id.to_s}"} 立即报名
    - elsif @course_participate.is_expired
      - if Time.parse(@course_inst.end_date).past?
        %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 已结课
      - elsif @course_inst.capacity <= @course_inst.effective_signup_num
        %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 已无名额
      - else
        - if @course_inst.price > 0
          %a.btn.btn-style.bg1.f16.font-color1{href: "https://open.weixin.qq.com/connect/oauth2/authorize?appid=#{Rails.configuration.wechat_app_id}&redirect_uri=#{CGI::escape('http://' + Rails.configuration.domain + '/user_mobile/courses/new/')}&response_type=code&scope=snsapi_base&state=#{@course_inst.id.to_s}#wechat_redirect", :type => "button"} 已过期,重新报名
        - else
          %a.btn.btn-style.bg1.f16.font-color1{href: "/user_mobile/courses/new/?state=#{@course_inst.id.to_s}"} 已过期,重新报名
    - elsif @course_participate.is_success
      - if Time.parse(@course_inst.start_date).future?
        - if (Time.parse(@course_inst.start_date).beginning_of_day - 1.day).future?
          %a.refund.tc.font-color8.f14{href: "#"} 申请退款
        %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 已报名
      - if Time.parse(@course_inst.start_date).past? && Time.parse(@course_inst.end_date).future?
        %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 正在上课
      - if Time.parse(@course_inst.end_date).past?
        - if @current_user.review_on(@course_inst)
          %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 已结课
        - else
          %a.btn.btn-style.bg1.f16.font-color1{href: user_mobile_reviews_path + "?back=" + @back.to_s + "&review_type=course_inst&course_inst_id=" + @course_inst.id.to_s} 立即评价
    - elsif @course_participate.is_paying
      %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 支付进行中
    - else
      - if Time.parse(@course_inst.end_date).past?
        %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 已结课
      - elsif @course_inst.capacity <= @course_inst.effective_signup_num
        %button.btn.btn-style.bg2.f16.font-color1{type: "button"} 已无名额
      - else
        %a.btn.btn-style.bg1.f16.font-color1{href: new_user_mobile_course_path + "/?direct_pay=true&state=" + @course_inst.id.to_s, :type => "button"}= @course_inst.price == 0 ? "去确认" : "去付款"



#confirmModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      .modal-body
        %p.account 课程退款
        %p.question　是否确认退出当前课程并退款！
        .confirm-div
          %a.line.clicked#confirm-refund 退款
          %a.clicked{"data-dismiss" => "modal"} 取消



