- content_for :app_head do
  = javascript_include_tag "http://map.qq.com/api/js?v=2.exp"
  = javascript_include_tag "pages/user_mobile/courses/show-bundle"
  = stylesheet_link_tag "pages/user_mobile/courses/show-bundle", :media => "all"


- content_for :app_content do
  .content-area
    .header
      %img.robot{:src => @course.photo.present? ? @course.photo.path : "/assets/robotclass/robot.jpg"}
      %a{:href => @back == "courses" ? "/user_mobile/courses" : "/user_mobile/feeds"}
        %img.back.last_page{:src => "/assets/robotclass/back.png"}
    .right-float
      %a.a-div{:href => "#"}
        %img.grayheart{:src => "/assets/robotclass/grayheart.png"}
      %a.a-div{:href => "#"}
        %img.dialog{:src => "/assets/robotclass/dialog.png"}
      %p.num= @course.feedbacks.length
    .boxtitle
      .bookcloud
        %p 机器人初级班特色

    .course-desc
      = @course.course.desc.html_safe
    - if @course_participate.present?
      .content#sign-desc
        %p.title 签到情况
        .sign_in-div
          - 8.times do
            .sign_in-box 1
          - 4.times do
            .absence 2
    .assign-div
      %p.center 课程详情
      .item-box
        .item
          .left-div#residual_num
            %span 剩余名额：
            %span.residual= @course.capacity - @course.course_participates.length
            %span= "/#{@course.capacity}"
          .right-div
            %span 主讲人：
            %span= @course.speaker
        .item
          .left-div
            %span 课程次数：
            %span= "#{@course.length}课时"
          .right-div
            %span 公益价：
            %span#public_price= @course.price_pay
            %span#market_price= @course.price
        .item-div.clearfix
          %span.class_time 上课时间：
          %span.desc_time= @course.date
        .item-div
          %span 上课地点：
          %span= @course.address
    .content
      #map-container
      / %img.map-jpg{:src => "/assets/web/map.jpg"}
    - if @course_participate.nil?
      / %a.btn.click-btn{href: new_user_mobile_course_path + "?course_id=" + @course.id.to_s, :type => "button"} 我要报名
      %a.btn.click-btn{href: "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxfe4fd89f6f5f9f57&redirect_uri=#{CGI::escape('http://babyplan.bjfpa.org.cn/user_mobile/courses/new')}&response_type=code&scope=snsapi_base&state=#{@course.id.to_s}#wechat_redirect", :type => "button"} 我要报名
    - elsif @course_participate.paid == false
      %a.btn.click-btn{href: new_user_mobile_course_path + "?course_id=" + @course.id.to_s, :type => "button"} 去付款
    - elsif @course_participate.status = CourseInst::NOT_BEGIN
      %button.btn.unclick-btn{:type => "button"} 已报名
    - else
      %a.btn.click-btn{:type => "button"} 立即评价

     

     