- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/transfers/in_list-bundle"
  = stylesheet_link_tag "pages/staff_mobile/transfers/in_list-bundle", :media => "all"

- content_for :app_content do
  .main-div
    - @ongoing_transfers.each do |transfer|
      .item-div.transfer-item{data: {id: transfer.id.to_s}}
        .blue-line
        .desc-div
          .caption-div
            %img.icon{:src => "/assets/manager/time.png"}
            %span.date= transfer.created_at.strftime("%Y-%m-%d")
            %span.time= transfer.created_at.strftime("%H:%M")
            %span.status= transfer.status_str
          .address-div
            %span.start= transfer.out_center.name
            %img.arrow{:src => "/assets/manager/arrow.png"}
            %span.end= transfer.in_center.name

    %p.transfer-none 当前没有需要处理的迁移

