- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/transfers/list-bundle"
  = stylesheet_link_tag "pages/staff_mobile/transfers/list-bundle", :media => "all"

- content_for :app_content do
  .main-div
    .header
      %ul.nav
        %li.out-li.active
          %a.vertical-line{:href => "#"} 迁出记录
        %li.in-li
          %a{:href => "#"}　迁入记录
    .content.out-list
      - @current_user.staff_center.out_transfers.each do |transfer|
        .item-div{data: {id: transfer.id.to_s}}
          .blue-line
          .desc-div
            .caption-div
              %img.icon{src: asset_path("manager/time.png")}
              - if transfer.out_time.present?
                %span.date= Time.at(transfer.out_time).strftime("%Y-%m-%d")
                %span.time= Time.at(transfer.out_time).strftime("%H:%M")
              %span.transit= transfer.status_str
            .address-div
              %span.start= transfer.out_center.name
              %img.arrow{src: asset_path("manager/arrow.png")}
              %span.end= transfer.in_center.name
      - if @current_user.staff_center.out_transfers.blank?
        %p.transfer-none 还没有相关记录
    .content.in-list
      - @current_user.staff_center.in_transfers.each do |transfer|
        .item-div{data: {id: transfer.id.to_s}}
          .blue-line
          .desc-div
            .caption-div
              %img.icon{src: asset_path("manager/time.png")}
              - if transfer.out_time.present?
                %span.date= Time.at(transfer.out_time).strftime("%Y-%m-%d")
                %span.time= Time.at(transfer.out_time).strftime("%H:%M")
              %span.transit= transfer.status_str
            .address-div
              %span.start= transfer.out_center.name
              %img.arrow{src: asset_path("manager/arrow.png")}
              %span.end= transfer.in_center.name
      - if @current_user.staff_center.in_transfers.blank?
        %p.transfer-none 还没有相关记录
