- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/transfers/show-bundle"
  = stylesheet_link_tag "pages/staff_mobile/transfers/show-bundle", :media => "all"

- content_for :app_content do
  .main-div
    .box
      .content-div
        .caption
          .blue-line
          .title 迁移信息
        .desc
          .items
            %span 迁移本数：
            %span#num= @transfer.book_insts.count
          .items
            %span 迁移状态：
            %span#status= @transfer.status_str
          - if @transfer.out_time.present?
            .items
              %span 迁出时间：
              %span#date= Time.at(@transfer.out_time).strftime("%Y-%m-%d %H:%M")
          .items
            %span 迁出中心：
            %span#center-out= @transfer.out_center.name
          .items
            %span 迁入中心：
            %span#center-in= @transfer.in_center.name
      / 缺失绘本项#lost-book
      - if @transfer.status == Transfer::ABNORMAL && @lost_books_info.present?
        .content-div#lost-book
          .caption
            .blue-line
            .title 缺失绘本
          .lost-desc
            - @lost_books_info.each do |lost_book|
              .lost-items
                %span= lost_book[:name]
                %span.nums= "×" + lost_book[:count]
      - if @books_info.present?
        .content-div
          .caption
            .blue-line
            .title 绘本信息
          .desc
            - @books.each do |book|
              .items
                %span= book[:name]
                %span.book-nums= "×" + book[:count]
    - if @transfer.status == Transfer::PREPARE
      .btn-div
        %button.btn#finish{:type => "button"} 完成
        %button.btn#continue{:type => "button"}　继续迁出
    - if @transfer.status == Transfer::ONGOING
      / 开始迁入button
      %button.btn#start{:type => "button"}　开始迁入
    - if @transfer.status == Transfer::DONE
      / 回到首页button
      %button.btn#back{:type => "button"}　回到首页
    
