- content_for :app_head do
  = javascript_include_tag "pages/staff_mobile/transfers/show-bundle"
  = stylesheet_link_tag "pages/staff_mobile/transfers/show-bundle", :media => "all"
  :javascript
    window.transfer_id="#{@transfer.id.to_s}"

- content_for :app_content do
  .main-div
    .box
      .content-div
        .caption
          .blue-line
          .title 迁移信息
        .desc
          .items
            %span 迁移本数：
            %span#num= @transfer.book_insts.count
          .items
            %span 迁移状态：
            %span#status= @transfer.status_str
          - if @transfer.out_time.present?
            .items
              %span 迁出时间：
              %span#date= Time.at(@transfer.out_time).strftime("%Y-%m-%d %H:%M")
          .items
            %span 迁出中心：
            %span#center-out= @transfer.out_center.name
          .items
            %span 迁入中心：
            %span#center-in= @transfer.in_center.name
      / 缺失绘本项#lost-book
      - if @transfer.arrived_books.present? && @lost_books_info.present?
        .content-div#lost-book
          .caption
            .blue-line
            .title 缺失绘本
          .lost-desc
            - @lost_books_info.each do |lost_book|
              .lost-items
                %span= lost_book[:name]
                %span.nums= "×" + lost_book[:count].to_s
      - if @books_info.present?
        .content-div
          .caption
            .blue-line
            .title 绘本信息
          .desc
            - @books_info.each do |book|
              .items
                %span= book[:name]
                %span.book-nums= "×" + book[:count].to_s
    .btn-div
      - if @transfer.status == Transfer::PREPARE
        %button.btn.left-btn#confirm-transfer-out{:type => "button", data: {id: @transfer.id.to_s}} 确定运出
        %button.btn.right-btn#continue-transfer-out{:type => "button"}　继续添加
      - if @transfer.status == Transfer::ONGOING
        - if @transfer.in_center == @current_user.staff_center
          - if @transfer.arrived_books.blank?
            / 开始迁入button
            %button.btn.full-btn#start{:type => "button"}　开始迁入
          - else
            %button.btn.left-btn#confirm-transfer-in{:type => "button"} 完成
            %button.btn.right-btn#start{:type => "button"} 继续迁入
        - else
          / 回到首页button
          %button.btn.full-btn#back{:type => "button"}　回到首页
      - if @transfer.status == Transfer::DONE || @transfer.status == Transfer::ABNORMAL
        / 回到首页button
        %button.btn.full-btn#back{:type => "button"}　回到首页
