- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/announcements/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/announcements/index-bundle", :media => "all"
  :javascript
    window.keyword="#{@keyword}"

- content_for :app_content do
  .content-area
    = render "user_mobile/partials/list_header", list_type: "announcements"
    = render "user_mobile/partials/no_centers"
    - if @current_user.client_centers.present?
      - if @announcements.present?
        - @announcements.each do |e|
          .content{data: {id: e.id.to_s}}
            .left-div
              %img.visit{:src => e.photo.nil? ? asset_path("web/announcement.png") : e.photo.path}
            .right-div
              %img.icon{src: asset_path("kidscenter/gao.png")}
              %p.caption= e.title
              %p.message= truncate(strip_tags(e.content).strip(), length: 50)
              .location-div
                %img.location{src: asset_path("web/location.png")}
                %span.center= e.center.present? ? e.center.name : "所有儿童中心"
        .render-more
          %p 加载更多 
        .load
          %img.loading{src: asset_path("loading.gif")}
      - else
        .unfound
          %img.unfound-icon{src: asset_path("web/cry.png")}
 
