- content_for :head do
  = javascript_include_tag "pages/staff/courses/index-bundle"
  = stylesheet_link_tag "pages/staff/courses/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"


.content-area
  /courses-index
  .content-box
    .manage-box
      .user-search-box
        .input-group
          %input.form-control#search-input{:type => "text", :placeholder => "输入课程名称", :value => "#{@keyword}"}
          %span.input-group-btn
            %button.btn.btn-default#search-btn{:type => "button"}
      .btn.bookadd-btn{:type => "button", "data-target" => "#course-addModal", "data-toggle" => "modal"} 
        %img.book-edit{:src => "/assets/managecenter/add.png"}
        添加课程

    - if @course_insts[:data].length == 0
      .undiscover
        %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
        %span.message 抱歉！暂无查找信息
    - else
      .manage-content
        .table-box
          %table.table.table-bordered#user-table
            %thead
              %tr
                %th 课&nbsp程
                %th 上课时间
                %th 上课地址
                %th 主讲人
                %th 费用
                %th{:colspan => "2"} 操&nbsp作
            %tbody
              - @course_insts[:data].each do |ci|
                %tr
                  %td= ci[:name]
                  %td= ci[:date]
                  %td= ci[:address]
                  %td= ci[:speaker]
                  %td= ci[:price]
                  %td 
                    %a.details{:href => "/staff/courses/" + ci[:id]} 详情
                  %td
                    %a.set-available.link-available{:href => "javascript:void(0);"} 下架

        .select-page 
          %span.totalitems= "共#{@course_insts[:total_page]}页,总计#{@course_insts[:total_number]}条"
          %span.choice-page
            %ul.pagination.pagination-sm
              %li
                %a{:href => "/staff/courses?keyword=#{@keyword}&page=#{@course_insts[:previous_page]}"} «
              - ( (@course_insts[:previous_page] > 2 ? @course_insts[:previous_page] - 2 : 1) .. (@course_insts[:next_page] < @course_insts[:total_page] - 2 ? @course_insts[:next_page] + 2 : @course_insts[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "/staff/courses?keyword=#{@keyword}&page=#{page}"}= page
              %li
                %a{:href => "/staff/courses?keyword=#{@keyword}&page=#{@course_insts[:next_page]}"} »


#course-addModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      .modalheader
        %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
      .modal-body
        .form-group
          %label.course-caption{:for => "coursename"} 添加课程
          %input.form-control#coursename{:placeholder => "请输入名称或编号并从列表中选择"}
      .modal-footer
        %button.btn.btn-default#confirm-btn{"data-dismiss" => "modal", :type => "button"} 确定
        %button.btn.btn-primary#cancel{:type => "button"} 取消


#shelveModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modalheader
    %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
    %p.caption 请填写完整信息后再选择上架
  .modal-body
    %a.footbox#signup-signin{:href => "javascript:void(0);"}
      点击前往补全信息
      %span.right-arrow
        %img{:src => "/assets/managecenter/right-arrow.png"}


                              
