- content_for :head do
  = javascript_include_tag "pages/staff/courses/index-bundle"
  = stylesheet_link_tag "pages/staff/courses/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"
    window.profile = "#{@profile}"


.content-area
  /courses-index
  .content-box
    .manage-box
      .user-search-box
        .input-group
          %input.form-control#search-input{:type => "text", :placeholder => "输入课程名称", value: "#{@keyword}"}
          %span.input-group-btn
            %button.btn.btn-default#search-btn{:type => "button"}

    .manage-content
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1"} 本区开课
          %li
            %a#open_course{"data-toggle" => "tab", :href => "#tab2"} 可开课程

        .tab-content
          #tab1.tab-pane.active
            .local-course
              - if @course_insts[:data].length == 0
                .undiscover
                  %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                  %span.message 抱歉！暂无课程信息
              - else
                .table-box
                  %table.table.table-bordered#local-course-table
                    %thead
                      %tr
                        %th 课&nbsp程
                        %th 上课时间
                        %th 上课地址
                        %th 主讲人
                        %th 市场价
                        %th 操&nbsp作
                    %tbody
                      - @course_insts[:data].each do |ci|
                        %tr{class: "book-record #{ ci[:available] ? "available" : "unavailable" }", "data-id" => ci[:id]}
                          %td= link_to ci[:name], "/staff/courses/#{ci[:id]}"
                          %td= ci[:date]
                          %td= ci[:address]
                          %td= ci[:speaker]
                          %td= ci[:price]
                          %td
                            - if ci[:available]
                              %a.set-available.link-available{:href => "javascript:void(0);"} 下架
                            - else
                              %a.set-available.link-unavailable{:href => "javascript:void(0);"} 上架
                = render "staff/partials/auto_paginate", locals: { instance: @course_insts, url: "/staff/courses?keyword=#{@keyword}&", page: 'course_inst_page'}

          #tab2.tab-pane
            .open-course
              - if @courses[:data].length == 0
                .undiscover
                  %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                  %span.message 抱歉！暂无课程信息
              - else
                .table-box
                  %table.table.table-bordered#course-table
                    %thead
                      %tr
                        %th 课&nbsp程
                        %th 编&nbsp号
                        %th 主讲人
                        %th 市场价
                        %th 操&nbsp作
                    %tbody
                      - @courses[:data].each do |e|
                        / %tr{class: i == 1 ? "clicked" : (i == 2 ? "unavailable" : "") }
                        %tr{class: e[:available] == false ? "unavailable" : ""}
                          %td
                            = link_to e[:name], "/staff/courses/" + e[:id] + "/show_template"
                          %td= e[:code]
                          %td= e[:speaker]
                          %td= e[:price]
                          %td#open
                            = link_to "开设课程", "/staff/courses/new?course_id=" + e[:id], class: "prepare"
                = render "staff/partials/auto_paginate", locals: { instance: @courses, url: "/staff/courses?keyword=#{@keyword}&profile=template&", page: 'course_page'}    
        



                              
