- content_for :head do
  = javascript_include_tag "pages/staff/courses/new-bundle"
  = stylesheet_link_tag "pages/staff/courses/new-bundle", :media => "all"
  :javascript
    window.cid = "#{@course.id.to_s}"

.content-area
  /courses-new
  .content-box
    .manage-box.clearfix
      %p.course-set 开设课程
      .btn.end-btn{:type => "button"} 
        %img.end{:src => "/assets/managecenter/ticker.png"}
        完成

    .manage-content
      %form.form-inline
        %label.input-name 课程名称:
        %span.unedit-box#name-span= @course.name
        %label.checkbox
          %input.checkbox-content#available{:type => "checkbox"} 上架

      .controls.controls-row
        %label.input-caption 开课编号:
        %span.course-num= @course.code + "-"
        %input.input-area.form-control#course-code{:type => "text"}
        %label.input-caption 容量:
        %input.input-area.form-control#course-capacity{:type => "text"}
        %label.input-caption 费用:
        %input.input-area.form-control#course-price{:type => "text", value: @course.price}
        %label.input-caption.course-length 课次:
        %input.input-area.form-control#course-length{:type => "text", value: @course.length}
      .controls.controls-row
        %label.input-caption 上课时间:
        %input.input-area.form-control#course-date{:type => "text"}
        %label.input-caption.course-speaker 主讲人:
        %input.input-area.form-control#course-speaker{:type => "text", value: @course.speaker}
      .controls.controls-row
        %label.input-caption 上课地址:
        %input.input-area.form-control#course-address{:type => "text"}
      
      .controls.controls-row.clearfix
        %label.input-caption.class-calendar 课程日历:
        #calendar-wrapper
          #calendar-operation-wrapper
            #add-event-wrapper.form-inline
              %span 日期
              %input.form-control#datepicker{:type => "text", placeholder: "请选择上课日期"}
              %span ，从
              %input.form-control#start-time{:type => "text", placeholder: "请选择上课时间"}
              %span 到
              %input.form-control#end-time{:type => "text", placeholder: "请选择下课时间"}
              %button.btn.btn-success#add-event{type: "button"} 添加
            #rm-event-wrapper.form-inline
              %span 单击日历中的事件进行删除
          #calendar
