- content_for :head do
  = javascript_include_tag "pages/staff/courses/new-bundle"
  = stylesheet_link_tag "pages/staff/courses/new-bundle", :media => "all"

.content-area
  /courses-new
  .content-box
    .manage-box
      %a#back{:href => "/staff/courses"}
        %img{src: asset_path("web/back.png")}
      %p.course-add 添加课程
      .btn.end-btn{:type => "button"} 
        %img.end{src: asset_path("managecenter/ticker.png")}
        完成
      %label.checkbox-inline.open#available
        %input#unshelve{:type => "checkbox"} 暂不上架

    .manage-content
      .top-box.clearfix
        .text-message
          %form.form-inline
            %label.input-caption 课程名称:
            %input.input-area.form-control#course-name{:type => "text"}
          .form-group
            %label.input-caption 上课时间:
            %input.input-area.form-control#course-date{:type => "text"}
          .form-group
            %label.input-caption 上课地址:
            %input.input-area.form-control#course-address{:type => "text"}
        .photo
          = form_tag("/", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
            = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
          %a#upload-photo{href: "javascript:void(0);"}
            %img.edit-photo#photo{src: asset_path("web/photo.png")}

      .controls.controls-row
        %label.input-caption 开课编号:
        %span.num-box= @center.course_num
        %label.input-caption 主讲人:
        %input.input-area.form-control#course-speaker{:type => "text"}
        %label.input-caption.kids-capacity 容量:
        %input.input-area.form-control#course-capacity{:type => "text"}
      .controls.controls-row
        %label.input-caption.course-length 课次:
        %input.input-area.form-control#course-length{:type => "text"}
        %label.input-caption 市场价:
        %input.input-area.form-control#course-price{:type => "text"}
        %label.input-caption 公益价:
        %input.input-area.form-control#public-price{:type => "text"}
      .controls.controls-row
        %label.input-caption 最小适龄:
        %input.input-area.form-control#min-age{:type => "text"}
        %label.input-caption.margin-l 最大适龄:
        %input.input-area.form-control#max-age{:type => "text"}
        %label.input-caption.margin-l 开课单位:
        %input.input-area.form-control#school{:type => "text"}

      .course-introduce
        %span.introduce 课程介绍:
        %span.wangedit-area
          #edit-area
      
      .calendar-wrapper.clearfix
        .calendar-operation-wrapper
          %p.title 课程日历
          %p.small-tips （单击日历中的时间进行删除）
          .form-inline
            %label.input-date 上课日期:
            %input.input-area.form-control#datepicker{:type => "text"}
          .form-inline
            %label.input-date 开始时间:
            %input.input-area.form-control#start-time{:type => "text"}
          .form-inline
            %label.input-date 结束时间:
            %input.input-area.form-control#end-time{:type => "text"}
          .btn#add-event{:type => "button"} 添加单次
          .repeat.clearfix
            .btn.date-btn{:type => "button"} 次日重复
            .btn.week-btn{:type => "button"} 每周重复
        #calendar


