- content_for :head do
  = javascript_include_tag "pages/staff/courses/show_template-bundle"
  = stylesheet_link_tag "pages/staff/courses/show_template-bundle", :media => "all"
  :javascript
    window.course_id = "#{@course.id.to_s}"
    window.profile = "#{@profile}"


.content-area
  .main-top.direction
    %a#back{href: "#"}
      %img.back{src: asset_path("back.png")}
    %ul.set
      %li
        %a.f16{href: staff_accounts_path} 账号设置
      %li
        %a.f16.set-left-border{href: signout_sessions_path} 退出登录
        / %a.f16.set-left-border= link_to "退出登录",  signin_page_sessions_path, class: "类名", method: :delete
  .main-content.bg2
    %button.btn.delete-normal.font-color1.delete-btn-position#delete-btn{type: "button"} 删除
    %button.btn.new-normal.font-color1.create-btn-position#create-btn{type: "button"} 开设课程
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1#template-desc{"data-toggle" => "tab", :href => "#tab1"} 模板详情
          %li
            %a.f16.font-color1#series-course{"data-toggle" => "tab", :href => "#tab2"} 系列课程
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div
              .desc-items
                %span.course-name 课程名称:
                %span.unedit-box#classname-span= @course.name
                %span.course-name#speaker 主讲人:
                %span.unedit-box#classspeaker-span= @course.speaker
              
              .desc-items
                %span.course-name 课程编号:
                %span.unedit-box#code-span= @course.code
                %span.course-name#charge 价格:
                %span.unedit-box#charge-span= @course.price
                %span.course-name#nums 课次:
                %span.unedit-box#nums-span= @course.length.to_s
              .course-introduce.clearfix
                %span.introduce 课程介绍:
                %div.introduce-details= @course.desc.html_safe
          #tab2.tab-pane
            .desc-div
              - if @course_insts[:data].length == 0
                .undiscover.f14
                  %img.undiscover-icon{src: asset_path("undiscover.png")}
              - else
                .table-box.f14
                  %table.table.table-hover.table-height
                    %thead.th-bg.font-color2
                      %tr
                        %th 课程编号
                        %th 上课时间
                        %th 上课地址
                        %th 主讲人
                        %th 价&nbsp格
                        %th 课&nbsp次
                    %tbody.font-color3
                      - @course_insts[:data].each do |e|
                        %tr{"data-id" => e[:id]}
                          %td= e[:code]
                          %td= e[:date]
                          %td= e[:address]
                          %td= e[:speaker]
                          %td= e[:price]
                          %td= e[:length]
                .select-page 
                  %span.totalitems= "共#{@course_insts[:total_page]}页，总计#{@course_insts[:total_number]}条"
                  %span.choice-page
                    %ul.pagination.pagination-sm
                      %li
                        %a{href: "/staff/courses?course_inst_page=#{@course_insts[:previous_page]}&profile=template"} «
                      - ( (@course_insts[:previous_page] > 2 ? @course_insts[:previous_page] - 2 : 1) .. (@course_insts[:next_page] < @course_insts[:total_page] - 2 ? @course_insts[:next_page] + 2 : @course_insts[:total_page]) ).to_a.each do |page|
                        %li
                          %a{href: "/staff/courses?course_inst_page=#{page}&profile=template"}= page
                      %li
                        %a{href: "/staff/courses?course_inst_page=#{@course_insts[:next_page]}&profile=template"} »


