- content_for :head do
  = javascript_include_tag "pages/staff/courses/show-bundle"
  = stylesheet_link_tag "pages/staff/courses/show-bundle", :media => "all"
  :javascript
    window.cid = "#{@course_inst.id.to_s}"
    window.capacity = "#{@course_inst.capacity}"
    window.price = "#{@course_inst.price}"
    window.length = "#{@course_inst.length}"

.content-area
  .manage-content
    .btn.finish-btn{:type => "button"} 
      %img.ticker{:src => "/assets/managecenter/ticker.png"}
      完成
    .btn.edit-btn{:type => "button"} 
      %img.edit{:src => "/assets/managecenter/edit.png"}
      编辑
    - if @course_inst.available == true
      .btn#unshelve-btn.available{:type => "button"} 
        %img.end{:src => "/assets/managecenter/unshelve.png"}
        %span 下架
    - else
      .btn#unshelve-btn.unavailable{:type => "button"} 
        %img.end{:src => "/assets/managecenter/shelve.png"}
        %span 上架
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a#course-message{"data-toggle" => "tab", :href => "#tab1"} 课程信息
        %li
          %a#user-review{"data-toggle" => "tab", :href => "#tab2"} 用户评价
        %li
          %a#register-message{"data-toggle" => "tab", :href => "#tab3"} 报名信息

      .tab-content
        #tab1.tab-pane.active
          .book-detail
            %form.form-inline
              %label.input-caption 课程名称:
              %span#name-span= @course_inst.course.name
              - if @course_inst.available == true
                %label#available-status.shelve 在架上
              - else
                %label#available-status.shelve 已下架

            .controls.controls-row
              %label.input-caption 开课编号:
              %span.course-num= @course_inst.course.code + "-"
              %span.unedit-box#num-span= @course_inst.inst_code
              %span.edit-box
                %input.input-area#course-num{:type => "text"}
              %label.input-caption 容量:
              %span.unedit-box#capacity-span= @course_inst.capacity.to_s + "人"
              %span.edit-box
                %input.input-area#course-capacity{:type => "text"}
              %label.input-caption 费用:
              %span.unedit-box#charge-span= @course_inst.price.to_s + "元"
              %span.edit-box
                %input.input-area#course-charge{:type => "text"}
              %label.input-caption.course-times 课次:
              %span.unedit-box#times-span= @course_inst.length.to_s + "次"
              %span.edit-box
                %input.input-area#course-times{:type => "text"}
            .controls.controls-row
              %label.input-caption 上课时间:
              %span.unedit-box#date-span= @course_inst.date
              %span.edit-box
                %input.input-area#course-date{:type => "text"}
              %label.input-caption.course-speaker 主讲人:
              %span.unedit-box#speaker-span= @course_inst.speaker
              %span.edit-box
                %input.input-area#course-speaker{:type => "text"}
            .controls.controls-row
              %label.input-caption 上课地址:
              %span.unedit-box#address-span= @course_inst.address
              %span.edit-box
                %input.input-area#course-address{:type => "text"}
            .calendar-desc.clearfix
              %span.class-calendar 课程日历:
              %span.notice 请在日历上添加历次上课时间
              #calendar
      
        #tab2.tab-pane
          .undiscover
            %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
            %span.undiscover-message 抱歉！暂无查找信息
          .user-review-box
            .user-checkbox
              %label.checkbox.inline
                %input#inlineCheckbox1{:type => "checkbox", :value => "option1"} 未公开
              %label.checkbox.inline
                %input#inlineCheckbox2{:type => "checkbox", :value => "option2"} 已公开
            .book-description
              .user-item.clearfix
                %img.book-img{:src => "/assets/managecenter/user-img.png"}
                %p.user-name
                  %span 大鱼海棠
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                %p.date 2017-6-23 13:20
                %p.user-review-content 这本书看了感觉很好，儿童容易理解。
                %p.review-status#open 公开
            .book-description
              .user-item.clearfix
                %img.book-img{:src => "/assets/managecenter/user-img.png"}
                %p.user-name
                  %span 大鱼海棠
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                %p.date 2017-6-23 13:20
                %p.user-review-content 这本书看了感觉很好，儿童容易理解。
                %p.review-status#unopen 未公开
          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              .pagination.pagination-small
                %ul
                  %li
                    %a{:href => "javascript:void(0);"} «
                  / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                  %li
                    %a{:href => "javascript:void(0);"} 1
                  %li
                    %a{:href => "javascript:void(0);"} »

        #tab3.tab-pane
          .undiscover
            %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
            %span.undiscover-message 抱歉！暂无查找信息
          .table-box
            %table.table.table-bordered.user-table
              %caption
              %thead
                %tr
                  %th 姓&nbsp名
                  %th 住&nbsp址
                  %th 电&nbsp话
              %tbody
                / - @books[:data].each do |b|
                /   %tr{class: "book-record #{ b[:available] ? "available" : "unavailable" }", "data-id" => b[:id]}
                %tr
                  %td 小明
                  %td 天创世缘311号楼
                  %td 13324567865
          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              .pagination.pagination-small
                %ul
                  %li
                    %a{:href => "javascript:void(0);"} «
                  / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                  %li
                    %a{:href => "javascript:void(0);"} 1
                  %li
                    %a{:href => "javascript:void(0);"} »
