- content_for :head do
  = javascript_include_tag "pages/staff/courses/show-bundle"
  = stylesheet_link_tag "pages/staff/courses/show-bundle", :media => "all"
  :javascript
    window.cid = "#{@course_inst.id.to_s}"
    window.capacity = "#{@course_inst.capacity}"
    window.price = "#{@course_inst.price}"
    window.price_pay = "#{@course_inst.price_pay}"
    window.length = "#{@course_inst.length}"
    window.date_in_calendar = "#{@course_inst.date_in_calendar_str}"

.content-area
  .manage-content
    .btn.finish-btn{:type => "button"} 
      %img.ticker{:src => "/assets/managecenter/ticker.png"}
      完成
    .btn.edit-btn{:type => "button"} 
      %img.edit{:src => "/assets/managecenter/edit.png"}
      编辑
    - if @course_inst.available == true
      .btn.unshelve-btn.available{:type => "button"} 
        %img.end{:src => "/assets/managecenter/unshelve.png"}
        %span 下架
    - else
      .btn.unshelve-btn.unavailable{:type => "button"} 
        %img.end{:src => "/assets/managecenter/shelve.png"}
        %span 上架
    .tabbable
      %a{:href => "/staff/courses"}
        %img.back{:src => "/assets/web/tab-back.png"}
      %ul.nav.nav-tabs
        %li.active
          %a#course-message{"data-toggle" => "tab", :href => "#tab1"} 课程信息
        %li
          %a#register-message{"data-toggle" => "tab", :href => "#tab2"} 报名信息
        %li
          %a#user-review{"data-toggle" => "tab", :href => "#tab3"} 用户评价
        %li
          %a#course-sign{"data-toggle" => "tab", :href => "#tab4"} 课程签到

      .tab-content
        #tab1.tab-pane.active
          .top-box.clearfix
            .text-message
              %form.form-inline
                %label.input-caption 课程名称:
                %span#name-span= @course_inst.course.name
              %form.form-inline
                %label.input-caption 上课时间:
                %span.unedit-box#date-span= @course_inst.date
                %span.edit-box
                  %input.input-area.form-control#course-date{:type => "text"}
              %form.form-inline
                %label.input-caption 上课地址:
                %span.unedit-box#address-span= @course_inst.address
                %span.edit-box
                  %input.input-area.form-control#course-address{:type => "text"}
            .photo
              %img.unedit-photo{:src => @course_inst.photo.nil? ? "/assets/banner.png" : @course_inst.photo.path }
              = form_tag("/staff/courses/" + @course_inst.id.to_s + "/upload_photo", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
                = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
              %a#upload-photo{href: "javascript:void(0);"}
                %img.edit-photo{:src => "/assets/web/photo.png"}

          .controls.controls-row
            %label.input-caption 开课编号:
            %span.num-box
              %span.course-num= @course_inst.course.code + "-" 
              %span.unedit-box#num-span= @course_inst.inst_code
              %span.edit-box
                %input.input-area.form-control#course-num{:type => "text"}
            %label.input-caption.course-speaker 主讲人:
            %span.unedit-box#speaker-span= @course_inst.speaker
            %span.edit-box
              %input.input-area.form-control#course-speaker{:type => "text"}
            %label.input-caption.kids-capacity 容量:
            %span.unedit-box#capacity-span= @course_inst.capacity.to_s + "人"
            %span.edit-box
              %input.input-area.form-control#course-capacity{:type => "text"}
          .controls.controls-row
            %label.input-caption.course-times 课次:
            %span.unedit-box#times-span= @course_inst.length.to_s + "次"
            %span.edit-box
              %input.input-area.form-control#course-times{:type => "text"}
            %label.input-caption 市场价:
            %span.unedit-box#charge-span= @course_inst.price.to_s + "元"
            %span.edit-box
              %input.input-area.form-control#course-charge{:type => "text"}
            %label.input-caption 公益价:
            %span.unedit-box#public-span= @course_inst.price_pay.to_s + "元"
            %span.edit-box
              %input.input-area.form-control#public-charge{:type => "text"}
          .calendar-wrapper.clearfix
            %label.class-calendar 课程日历:
            .show-calendar#calendar
            .calendar-operation-wrapper
              %p.title 课程日历
              %p.small-tips （单击日历中的时间进行删除）
              %form.form-inline
                %label.input-date 上课日期:
                %input.input-area.form-control#datepicker{:type => "text"}
              %form.form-inline
                %label.input-date 开始时间:
                %input.input-area.form-control#start-time{:type => "text"}
              %form.form-inline
                %label.input-date 结束时间:
                %input.input-area.form-control#end-time{:type => "text"}
              .btn#add-event{:type => "button"} 添加单次
              .repeat.clearfix
                .btn.date-btn{:type => "button"} 次日重复
                .btn.week-btn{:type => "button"} 每周重复

        #tab2.tab-pane
          .table-box
            %table.table.table-bordered#register-table
              %thead
                %tr
                  %th 姓&nbsp名
                  %th 住&nbsp址
                  %th 电&nbsp话
                  %th 操&nbsp作
              %tbody
                / - @books[:data].each do |b|
                /   %tr{class: "book-record #{ b[:available] ? "available" : "unavailable" }", "data-id" => b[:id]}
                %tr
                  %td.td-data 李星
                  %td.td-data 朝阳区新街口外大街27号院
                  %td.td-data 13324567865
                  %td.td-data
                    %a.details{:href => "javascript:void(0);"} 
                      上课情况
                      %span.triangle-down
                %tr.status
                  %td{:colspan => "4"}
                    .course-status
                      %span.item-status 上课状态：
                      %span.join-square
                      %span.join-square
                      %span.join-square
                      %span.join-square
                      %span.square
                      %span.miss-square
                      %span.square
                      %span.square
                      %span.square
                      %span.square
                    .comments
                      %span.comments-title 评论：
                      %span.comments-content 孩子刚上完这门课程，内容很新颖，学了很多知识，丰富了孩子的视野，是一门很好的课，老师讲的也很Nice，很棒的一门课程，会继续为孩子报名参加中心其它孩子感兴趣的课程。
                %tr
                  %td.td-data 李星
                  %td.td-data 朝阳区新街口外大街27号院
                  %td.td-data 13324567865
                  %td.td-data
                    %a.details{:href => "javascript:void(0);"} 
                      上课情况
                      %span.triangle-down
                %tr.status
                  %td{:colspan => "4"}
                    .course-status
                      %span.item-status 上课状态：
                      %span.join-square
                      %span.join-square
                      %span.join-square
                      %span.join-square
                      %span.square
                      %span.miss-square
                      %span.square
                      %span.square
                      %span.square
                      %span.square
                    .comments
                      %span.comments-title 评论：
                      %span.uncomment 暂未评论

          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              %ul.pagination.pagination-sm
                %li
                  %a{:href => "javascript:void(0);"} «
                / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "javascript:void(0);"} 1
                %li
                  %a{:href => "javascript:void(0);"} »

        #tab3.tab-pane
          .undiscover
            %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
            %span.undiscover-message 抱歉！暂无查找信息
          .user-review-box
            .user-checkbox
              %label.checkbox-inline
                %input#inlineCheckbox1{:type => "checkbox", :value => "option1"} 未公开
              %label.checkbox-inline
                %input#inlineCheckbox2{:type => "checkbox", :value => "option2"} 已公开
            .book-description
              .user-item.clearfix
                %img.book-img{:src => "/assets/managecenter/user-img.png"}
                %p.user-name
                  %span 大鱼海棠
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                %p.date 2017-6-23 13:20
                %p.user-review-content 这本书看了感觉很好，儿童容易理解。
                %p.review-status#open 公开
            .book-description
              .user-item.clearfix
                %img.book-img{:src => "/assets/managecenter/user-img.png"}
                %p.user-name
                  %span 大鱼海棠
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                  %img.star-img{:src => "/assets/managecenter/star.png"}
                %p.date 2017-6-23 13:20
                %p.user-review-content 这本书看了感觉很好，儿童容易理解。
                %p.review-status#unopen 未公开
          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              %ul.pagination.pagination-sm
                %li
                  %a{:href => "javascript:void(0);"} «
                / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "javascript:void(0);"} 1
                %li
                  %a{:href => "javascript:void(0);"} »
          
        #tab4.tab-pane
          .sign-box.clearfix
            .sign-method
              .class-choice
                %form.form-horizontal
                  .form-group
                    %label.col-sm-5.col-md-3.control-label{:for => "class"} 课次选择
                    .col-sm-6.col-md-6
                      %select.form-control#class{:type => "text"}
                        %option 1
                        %option 2
                        %option 3
                        %option 4
                        %option 5
                        %option 6
                        %option 7
              .method
                %p.caption 签到方式一：扫描签到
                #qr-code
                  %img.code-figure{:src => "/assets/web/bigqrcode.png"}
                %p.caption 签到方式二：手机号签到
                %input.form-control{:type => "text"}
                .btn.sign-btn{:type => "button"} 立即签到
            .sign-status-box
              .sign-status
                %h5 签到情况
                %table.table.table-bordered#sign-table
                  %tbody
                    %tr
                      %td.sign-data 小赵
                      %td.sign-data 小钱
                      %td.sign-data 小孙
                      %td.sign-data 小李
                      %td.sign-data 小周
                    %tr
                      %td.sign-data 小赵
                      %td.sign-data 小钱
                      %td.sign-data 小孙
                      %td.sign-data 小李
                      %td.sign-data 小周
                    %tr
                      %td.sign-data 小赵
                      %td.sign-data 小钱
                      %td.sign-data 小孙
                      %td.sign-data 小李
                      %td.sign-data 小周
                    %tr
                      %td.sign-data 小赵
                      %td.sign-data 小钱
                      %td.sign-data 小孙
                      %td.sign-data 小李
                      %td.sign-data 小周
                    %tr
                      %td.sign-data.check-in 小赵
                      %td.sign-data 小钱
                      %td.sign-data 小孙
                      %td.sign-data 小李
                      %td.sign-data 小周
#dialog-confirm{:title => "警告"}
  %p
    %span.ui-icon.ui-icon-alert{:style => "float:left; margin:12px 12px 20px 0;"}>
    确定删除？
        
