- content_for :head do
  = javascript_include_tag "pages/admin/books/index-bundle"
  = stylesheet_link_tag "pages/admin/books/index-bundle", :media => "all"
  :javascript
    window.book_keyword = "#{@book_keyword}"
    window.transfer_keyword = "#{@transfer_keyword}"
    window.profile = "#{@profile}"

.content-area
  .content-box
    .manage-box
      .user-search-box
        .input-group
          %input.form-control#search-input-book{:type => "text", :placeholder => "输入绘本名称", :value => "#{@book_keyword}"}
          %input.form-control#search-input-transfer{:type => "text", :placeholder => "输入儿童中心名称", :value => "#{@transfer_keyword}"}
          %span.input-group-btn
            %button.btn.btn-default#search-btn{:type => "button"}
      .btn.borrowset-btn{:type => "button", :href => "#borrowModal", "data-toggle" => "modal"} 
        %img.setting{:src => "/assets/managecenter/setting.png"}
        借阅设置  

    .manage-content
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a#books-tab{"data-toggle" => "tab", :href => "#tab1"} 全部绘本
          %li
            %a#transfers-tab{"data-toggle" => "tab", :href => "#tab2"} 绘本迁移

        .tab-content
          #tab1.tab-pane.active
            .book-nums
              - if @books[:data].blank?
                .undiscover
                  %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
                  %span.message 抱歉！暂无查找信息
              - else
                .table-box
                  %table.table.table-bordered#book-table
                    %thead
                      %tr
                        %th 绘本名称
                        %th 儿童中心
                        %th 标&nbsp签
                        %th 数&nbsp量
                        %th 作&nbsp者
                        %th ISBN编码
                    %tbody
                      - @books[:data].each do |e|
                        %tr
                          %td= link_to e[:name], "/admin/books/#{e[:id]}"
                          %td= e[:center]
                          %td= truncate((e[:tags] || "").gsub(',', '，'), length: 10)
                          %td= e[:stock]
                          %td= e[:author]
                          %td= e[:isbn]
                .select-page 
                  %span.totalitems= "共#{@books[:total_page]}页,总计#{@books[:total_number]}条"
                  %span.choice-page
                    %ul.pagination.pagination-sm
                      %li
                        %a{:href => "/admin/books?transfer_keyword=#{@transfer_keyword}&book_keyword=#{@book_keyword}&page=#{@books[:previous_page]}"} «
                      - ( (@books[:previous_page] > 2 ? @books[:previous_page] - 2 : 1) .. (@books[:next_page] < @books[:total_page] - 2 ? @books[:next_page] + 2 : @books[:total_page]) ).to_a.each do |page|
                        %li
                          %a{:href => "/admin/books?transfer_keyword=#{@transfer_keyword}&book_keyword=#{@book_keyword}&page=#{page}"}= page
                      %li
                        %a{:href => "/admin/books?transfer_keyword=#{@transfer_keyword}&book_keyword=#{@book_keyword}&page=#{@books[:next_page]}"} »
          #tab2.tab-pane  
            .book-migrate
              - if @transfers[:data].blank?
                .undiscover
                  %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
                  %span.message 抱歉！暂无查找信息
              - else
                .table-box
                  %table.table.table-bordered#migrate-table
                    %thead
                      %tr
                        %th 迁出时间
                        %th 迁出中心
                        %th 迁入中心
                        %th 绘本数量
                        %th 迁移状态
                        %th 操&nbsp作
                    %tbody
                      - @transfers[:data].each do |e|
                        %tr
                          %td= Time.at(e[:out_time]).strftime("%Y.%m.%d")
                          %td= e[:out_center]
                          %td= e[:in_center]
                          %td= e[:count]
                          %td{class: e[:status_class]}= e[:status_str]
                          %td
                            = link_to "详情", "/admin/transfers/#{e[:id]}"
                .select-page 
                  %span.totalitems= "共#{@transfers[:total_page]}页,总计#{@transfers[:total_number]}条"
                  %span.choice-page
                    %ul.pagination.pagination-sm
                      %li
                        %a{:href => "/admin/books?profile=transfers&book_keyword=#{@book_keyword}&transfer_keyword=#{@transfer_keyword}&page=#{@transfers[:previous_page]}"} «
                      - ( (@transfers[:previous_page] > 2 ? @transfers[:previous_page] - 2 : 1) .. (@transfers[:next_page] < @transfers[:total_page] - 2 ? @transfers[:next_page] + 2 : @transfers[:total_page]) ).to_a.each do |page|
                        %li
                          %a{:href => "/admin/books?profile=transfers&book_keyword=#{@book_keyword}&transfer_keyword=#{@transfer_keyword}&page=#{page}"}= page
                      %li
                        %a{:href => "/admin/books?profile=transfers&book_keyword=#{@book_keyword}&transfer_keyword=#{@transfer_keyword}&page=#{@transfers[:next_page]}"} »

#borrowModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      .modalheader
        %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
      .modal-body
        %form.form-inline.form-div{:role => "form"}
          .form-group
            %label.control-label.borrow-label{:for => "borrow-num"} 最大可借本数
            %input.unclicked-box#borrow-num.form-control{:type => "text"}
          .form-group
            %label.control-label.borrow-label{:for => "borrow-time"} 最长可借时间
            %input.unclicked-box#borrow-time.form-control{:type => "text"}
          .confirm-button
            %button.btn#confirm.button-disabled{:href => "javascript:void(0);"} 确&nbsp定
