- content_for :head do
  = javascript_include_tag "pages/admin/books/show-bundle"
  = stylesheet_link_tag "pages/admin/books/show-bundle", :media => "all"
  :javascript
    window.profile = "#{@profile}"
    window.bid = "#{@book.id.to_s}"

.content-area
  .manage-content
    .tabbable
      %a{:href => "/admin/books"}
        %img.tab-back{src: asset_path("web/tab-back.png")}
      %ul.nav.nav-tabs
        %li.active
          %a#book-message{"data-toggle" => "tab", :href => "#tab1"} 绘本信息
        %li
          %a#stocks-message{"data-toggle" => "tab", :href => "#tab2"} 馆藏情况
        

      .tab-content
        #tab1.tab-pane.active
          .book-detail
            %form.form-inline
              %label.input-caption 绘本名称:
              %span.unedit-box#name-span= @book.name
              %label.input-caption#center-address 儿童中心:
              %span.unedit-box#address-span= @book.center.name
              %label.input-caption 数量:
              %span.unedit-box#stock-span= @book.stock.to_s + "本"
              - if @book.available
                %label#available-status.shelve 在架上
              - else
                %label#available-status.shelve 已下架
            .controls.controls-row
              %label.input-caption 标签:
              %span.unedit-box#type-span= @book.tags
              %label.input-caption#publisher 出版社:
              %span.unedit-box#publisher-span= @book.publisher
              %label.input-caption#book-number 书号:
              %span.unedit-box#isbn-span= @book.isbn
            .controls.controls-row
              %label.input-caption 作者:
              %span.unedit-box#author-span= @book.author
              %label.input-caption 译者:
              %span.unedit-box#translator-span= @book.translator
              %label.input-caption#illustrator-label 插画作者:
              %span.unedit-box#illustrator-span= @book.illustrator
            .book-introduce.clearfix
              %span.introduce 书籍介绍:
              %div.introduce-details
                = @book.desc.html_safe
              %span.wangedit-area
                #edit-area
          .cover-back
            %span.cover 封面:
            = image_tag(@book.cover.nil? ? asset_path("web/coverempty.png") : @book.cover.path, class: "cover-img")
            %span.back 封底:
            = image_tag(@book.back.nil? ? asset_path("web/coverempty.png") : @book.back.path, class: "back-img")

        #tab2.tab-pane
          - if @stocks[:data].blank?
            .undiscover
              %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
              %span.undiscover-message 抱歉！暂无查找信息
          - else
            .table-box
              %table.table.table-bordered#user-table1
                %thead
                  %tr
                    %th 儿童中心
                    %th 数&nbsp量
                    %th 在&nbsp架
                %tbody
                  - @stocks[:data].each do |s|
                    %tr
                      %td= s[:center]
                      %td= s[:stock].to_s + "本"
                      %td= s[:available_stock].to_s + "本"
            = render "admin/partials/auto_paginate", locals: { instance: @stocks, url: "/admin/books/" + @book.id.to_s + "?profile=stocks&", page: 'stock_page'}
      
