- content_for :head do
  = javascript_include_tag "pages/admin/books/show-bundle"
  = stylesheet_link_tag "pages/admin/books/show-bundle", :media => "all"
  :javascript
    window.profile = "#{@profile}"
    window.bid = "#{@book.id.to_s}"

.content-area
  .manage-content
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a#book-message{"data-toggle" => "tab", :href => "#tab1"} 绘本信息
        %li
          %a#user-review{"data-toggle" => "tab", :href => "#tab2"} 用户评价
        %li
          %a#borrow-message{"data-toggle" => "tab", :href => "#tab3"} 借阅信息
        

      .tab-content
        #tab1.tab-pane.active
          .book-detail
            %form.form-inline
              %label.input-caption 绘本名称:
              %span.unedit-box#name-span= @book.name
              %label.input-caption#center-address 儿童中心:
              %span.unedit-box#address-span= @book.center.name
              - if @book.available
                %label#available-status.shelve 在架上
              - else
                %label#available-status.shelve 已下架
            .controls.controls-row
              %label.input-caption 标签:
              %span.unedit-box#type-span= @book.tags
              %label.input-caption 数量:
              %span.unedit-box#stock-span= @book.stock.to_s + "本"
              %label.input-caption#book-number 书号:
              %span.unedit-box#isbn-span= @book.isbn
            .controls.controls-row
              %label.input-caption 作者:
              %span.unedit-box#author-span= @book.author
              %label.input-caption 译者:
              %span.unedit-box#translator-span= @book.translator
              %label.input-caption#illustrator-label 插画作者:
              %span.unedit-box#illustrator-span= @book.illustrator
            .book-introduce.clearfix
              %span.introduce 书籍介绍:
              %div.introduce-details
                = @book.desc.html_safe
              %span.wangedit-area
                #edit-area
          .cover-back
            %span.cover 封面:
            = image_tag(@book.cover.nil? ? asset_path("web/coverempty.png") : @book.cover.path, class: "cover-img")
            %span.back 封底:
            = image_tag(@book.back.nil? ? asset_path("web/coverempty.png") : @book.back.path, class: "back-img")

        #tab2.tab-pane
          - if @reviews[:data].blank?
            .undiscover
              %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
              %span.undiscover-message 抱歉！暂无查找信息
          - else
            .user-review-box
              - @reviews[:data].each do |r|
                .book-description
                  .user-item.clearfix
                    %img.book-img{:src => r.client.avatar.present? ? r.client.avatar.path : asset_path("web/boy.png")}
                    %p.user-name
                      %span= r.client.name
                      - r.score.times do
                        %img.star-img{src: asset_path("managecenter/star.png")}
                    %p.date= r.created_at.strftime("%Y-%m-%d %H:%M")
                    %p.user-review-content= r.content
                    - if r.is_private
                      %span.review-status#unopen 未公开
                    - else
                      %span.review-status#open 已公开
            .select-page 
              %span.totalitems= "共#{@reviews[:total_page]}页,总计#{@reviews[:total_number]}条"
              %span.choice-page
                %ul.pagination.pagination-sm
                  %li
                    %a{:href => "/admin/books/" + @book.id.to_s + "?profile=reviews&review_page=#{@reviews[:previous_page]}"} «
                  - ( (@reviews[:previous_page] > 2 ? @reviews[:previous_page] - 2 : 1) .. (@reviews[:next_page] < @reviews[:total_page] - 2 ? @reviews[:next_page] + 2 : @reviews[:total_page]) ).to_a.each do |page|
                    %li
                      %a{:href => "/admin/books/" + @book.id.to_s + "?profile=reviews&review_page=#{page}"}= page
                  %li
                    %a{:href => "/admin/books/" + @book.id.to_s + "?profile=reviews&review_page=#{@reviews[:next_page]}"} »

        #tab3.tab-pane
          - if @borrows[:data].blank?
            .undiscover
              %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
              %span.undiscover-message 抱歉！暂无查找信息
          - else
            .table-box
              %table.table.table-bordered#user-table1
                %thead
                  %tr
                    %th 借阅人
                    %th 借阅时间
                    %th 归还时间
                    %th 操&nbsp作
                %tbody
                  - @borrows[:data].each do |b|
                    %tr
                      %td= b.client.name
                      %td= Time.at(b.borrow_at).strftime("%Y-%m-%d %H:%M")
                      %td{class: b.return_class}= b.return_status_str
                      %td.td-data 
                        - if b.review.present?
                          %a.details{:href => "javascript:void(0);"} 
                            绘本评价
                            %span.triangle-down
                        - else
                          .unreturn-review　暂未评论
                    - if b.review.present?
                      %tr.status
                        %td{:colspan => "4"}
                          .comments-book
                            %span 评价：
                            %span.comments-content= b.review.content
            .select-page 
              %span.totalitems= "共#{@borrows[:total_page]}页,总计#{@borrows[:total_number]}条"
              %span.choice-page
                %ul.pagination.pagination-sm
                  %li
                    %a{:href => "/admin/books/" + @book.id.to_s + "?profile=borrows&borrow_page=#{@borrows[:previous_page]}"} «
                  - ( (@borrows[:previous_page] > 2 ? @borrows[:previous_page] - 2 : 1) .. (@borrows[:next_page] < @borrows[:total_page] - 2 ? @borrows[:next_page] + 2 : @borrows[:total_page]) ).to_a.each do |page|
                    %li
                      %a{:href => "/admin/books/" + @book.id.to_s + "?profile=borrows&borrow_page=#{page}"}= page
                  %li
                    %a{:href => "/admin/books/" + @book.id.to_s + "?profile=borrows&borrow_page=#{@borrows[:next_page]}"} »

       

