- content_for :head do
  = javascript_include_tag "pages/staff/clients/index-bundle"
  = stylesheet_link_tag "pages/staff/clients/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"


.content-area
  .main-top.direction
    .user-search-box.f14.bg2
      %input.input-style#search-input.font-color3{:type => "text", :placeholder => "输入学生姓名、手机号", value: "#{@keyword}"}
      .search#search-btn
    = render "staff/partials/account_set"
    
  .main-content.bg2
    %button.btn.new-normal.font-color1.btn-position#new-client{type: "button", "data-target" => "#kidsaddModal", "data-toggle" => "modal"} 添加儿童
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1{"data-toggle" => "tab", :href => "#tab1"} 所有学生
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div
              - if @users[:data].length == 0
                .undiscover.f14
                  %img.undiscover-icon{src: asset_path("undiscover.png")}
              - else
                .table-box.f14
                  %table.table.table-hover.table-height
                    %thead.th-bg.font-color2
                      %tr
                        %th 学生姓名
                        %th 年&nbsp&nbsp龄
                        %th 性&nbsp&nbsp别
                        %th 家长姓名
                        %th 手机号
                        %th 家庭住址
                    %tbody.font-color3
                      - @users[:data].each do |u|
                        %tr
                          %td= link_to u[:name].present? ? u[:name] : "未命名", "/staff/clients/#{u[:id]}"
                          %td= u[:age].present? ? u[:age].to_s + "岁" : ""
                          %td= u[:gender] == 0 ? "男" : "女"
                          %td= u[:parent]
                          %td= u[:mobile]
                          %td= truncate(u[:address], length: 30)
                = render "staff/partials/auto_paginate", locals: { instance: @users, url: "/staff/clients?keyword=#{@keyword}&", page: 'page'}
                / .select-page 
                /   %span.totalitems= "共#{@users[:total_page]}页，总计#{@users[:total_number]}条"
                /   %span.choice-page
                /     %ul.pagination.pagination-sm
                /       %li
                /         %a{href: "/staff/clients?keyword=#{@keyword}&page=#{@users[:previous_page]}"} «
                /       - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                /         %li
                /           %a{href: "/staff/clients?keyword=#{@keyword}&page=#{page}"}= page
                /       %li
                /         %a{href: "/staff/clients?keyword=#{@keyword}&page=#{@users[:next_page]}"} »

#kidsaddModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      .modalheader
        %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", src: asset_path("close.png")}
        %p.caption.font-color3 添加儿童
      .modal-body
        .form-horizontal.f14.font-color3{:role => "form"}
          .form-group
            %label.col-sm-3.control-label.fn{:for => "kid-name"} 姓&nbsp名
            .col-sm-9
              %input.unclicked-box#kid-name.form-control{:type => "text"}
          .form-group
            %label.col-sm-3.control-label.fn{:for => "kid-gender"} 性&nbsp别
            .col-sm-9
              = select_tag "kid-gender", options_for_select(User.genders_for_select(false)), class: "unclicked-box form-control"
          .form-group
            %label.col-sm-3.control-label.fn{:for => "datepicker"} 出生日期
            .col-sm-9
              %input.unclicked-box#datepicker.form-control{:type => "text"}
          .form-group
            %label.col-sm-3.control-label.fn{:for => "kid-parent"} 家长姓名
            .col-sm-9
              %input.unclicked-box#kid-parent.form-control{:type => "text"}
          .form-group#home-address
            %label.col-sm-3.control-label.fn{:for => "kid-address"} 家庭地址
            .col-sm-9
              %input.unclicked-box#kid-address.form-control{:type => "text"}
          %p.notice#mobile-notice 请核对手机号
          .form-group#mobile-input
            %label.col-sm-3.control-label.fn{:for => "kid-mobile"} 手机号
            .col-sm-9
              %input.unclicked-box#kid-mobile.form-control{:type => "text"}
          %p.notice#verify-code-notice 验证码输入错误
          .form-group
            %label.col-sm-3.control-label.fn{:for => "kid-mobilecode"} 验证码
            .col-sm-5
              %input.unclicked-box#kid-mobilecode.form-control{:type => "text"}
            .col-sm-4
              %button.unclicked#mobilecode{:href => "javascript:void(0);"} 获取验证码
          .form-group#password-input
            %label.col-sm-3.control-label.fn{:for => "kid-password"} 密码
            .col-sm-9
              %input.unclicked-box#kid-password.form-control{:type => "password"}
          .add-button
            %button.btn#kid-add.button-disabled{:href => "javascript:void(0);"} 添&nbsp加






