- content_for :head do
  = javascript_include_tag "pages/staff/clients/index-bundle"
  = stylesheet_link_tag "pages/staff/clients/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"

.content
  /clients-index

  .content-box
    .manage-box
      .user-search-box
        .search-box
          %input.search-input-box{:placeholder => "输入姓名", value: @keyword }
        .search-icon
          %a{:href => "javascript:void(0);"}
            %img.search{:src => "/assets/managecenter/search.png"}
      .btn.kidadd-btn{:type => "button", :href => "#kidsaddModal", "data-toggle" => "modal"} 
        %img.add-edit{:src => "/assets/managecenter/add.png"}
        添加儿童
    
    - if @users[:data].length == 0
      .undiscover
        %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
        %span.message 抱歉！暂无查找信息
    - else
      .table-box
        %table.table.table-bordered.user-table
          %caption
          %thead
            %tr
              %th 姓&nbsp名
              %th 年&nbsp龄
              %th 性&nbsp别
              %th 家&nbsp长
              %th 手机号
              %th 家庭住址
              %th 操&nbsp作
          %tbody
            - @users[:data].each do |u|
              %tr
                %td= u[:name]
                %td= u[:age].to_s + " 岁"
                %td= u[:gender] == 0 ? "男" : "女"
                %td= u[:parent]
                %td= u[:mobile]
                %td= u[:address]
                %td
                  = link_to "详情", "/staff/clients/#{u[:id]}"

      .select-page 
        %span.totalitems= "共#{@users[:total_page]}页,总计#{@users[:total_number]}条"
        %span.choice-page
          .pagination.pagination-small
            %ul
              %li
                %a{:href => "/staff/clients?keyword=#{@keyword}&page=#{@users[:previous_page]}"} «
              - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "/staff/clients?keyword=#{@keyword}&page=#{page}"}= page
              %li
                %a{:href => "/staff/clients?keyword=#{@keyword}&page=#{@users[:next_page]}"} »



#kidsaddModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modalheader
    %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
    %p.caption 添加儿童
  .modal-body
    .textbox#kid-name-box
      %label.textarea 姓&nbsp名
      %input.input-box.unclicked-box#kid-name{:type => "text"}
    .textbox
      %label.textarea 性&nbsp别
      %select.input-box.unclicked-box#kid-gender
        %option 男
        %option 女
    .textbox
      %label.textarea 出生日期
      %input.input-box.unclicked-box#datepicker{:type => "text"}     
    .textbox
      %label.textarea 家长姓名
      %input.input-box.unclicked-box#kid-parent{:type => "text"}
    .textbox#homeaddress
      %label.textarea 家庭地址
      %input.input-box.unclicked-box#kid-address{:type => "text"}
    %p#mobile-notice 请核对手机号
    .textbox#mobile
      %label.textarea 手机号
      %input.input-box.unclicked-box#kid-mobile{:type => "text"}
    %p#verify-code-notice 验证码输入错误
    .textbox
      %label.textarea 验证码
      %input.input-box.unclicked-box#kid-mobilecode{:type => "text"}
      %button.input-box.unclicked#mobilecode{:href => "javascript:void(0);"} 获取验证码
    %a#kid-add.button-disabled{:href => "javascript:void(0);"} 添&nbsp加
    



