- content_for :head do
  = javascript_include_tag "pages/staff/clients/show-bundle"
  = stylesheet_link_tag "pages/staff/clients/show-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"



.content-area
  .manage-content
    .tabbable
      %a{:href => "/staff/clients"}
        %img.back{:src => "/assets/web/tab-back.png"}
      %ul.nav.nav-tabs
        %li.active
          %a#kids-message{"data-toggle" => "tab", :href => "#tab1"} 儿童信息
        %li
          %a#course-review{"data-toggle" => "tab", :href => "#tab2"} 课程参与
        %li
          %a#book-review{"data-toggle" => "tab", :href => "#tab3"} 绘本借阅

      .tab-content
        #tab1.tab-pane.active
          %form.form-inline{:role => "form"}
            .form-group
              %label.caption 姓名:
              %span.unedit-box#name-span= @user.name
            %span.edit-box
              .form-group
                %input.form-control#name-input{:type => "text"}
            .form-group
              %label.caption 年龄:
              %span.unedit-box#age-span= @user.birthday.present? ? (Time.now.year - @user.birthday.year).to_s + "岁" : ""
            %span.edit-box
              .form-group
                %input.form-control#age-input{:type => "text"}
          %form.form-inline{:role => "form"}
            .form-group
              %label.caption 性别:
              %span.unedit-box#gender-span= @user.gender == 0 ? "男" : "女"
            %span.edit-box
              .form-group
                %input.form-control#gender-input{:type => "text"}
            .form-group
              %label.caption 家长:
              %span.unedit-box#parent-span= @user.parent
            %span.edit-box
              .form-group
                %input.form-control#parent-input{:type => "text"}
          %form.form-inline{:role => "form"}
            .form-group
              %label.caption 联系方式:
              %span.unedit-box#phone-span= @user.mobile
            %span.edit-box
              .form-group
                %input.form-control#phone-input{:type => "text"}
            .form-group
              %label.caption 地址:
              %span.unedit-box#address-span= @user.address
            %span.edit-box
              .form-group
                %input.form-control#address-input{:type => "text"}

        #tab2.tab-pane
          .undiscover
            %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
            %span.undiscover-message 抱歉！暂无查找信息
          .table-box
            %table.table.table-bordered#register-table
              %thead
                %tr
                  %th 课程名称
                  %th 上课时间
                  %th 上课地址
                  %th 主讲人
                  %th 课程状态
                  %th 操&nbsp作
              %tbody
                %tr
                  %td.td-data 少儿计算机知识
                  %td.td-data　2016.12.12-2016.12.30
                  %td.td-data 西二环复兴门桥向北200米路东
                  %td.td-data 李学霸
                  %td.td-data 已付款
                  %td.td-data 
                    %a.details{:href => "javascript:void(0);"} 
                      上课情况
                      %span.triangle-down
                %tr.status
                  %td{:colspan => "6"}
                    .course-status
                      %span.item-status 上课状态：
                      %span.join-square
                      %span.miss-square
                      %span.square
                    .comments
                      %span.comments-title 评论：
                      %span.comments-content 该课程很好
                %tr
                  %td.td-data 少儿计算机知识
                  %td.td-data　2016.12.12-2016.12.30
                  %td.td-data 西二环复兴门桥向北200米路东
                  %td.td-data 李学霸
                  %td.td-data 未付款
                  %td.td-data 上课情况

          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              %ul.pagination.pagination-sm
                %li
                  %a{:href => "javascript:void(0);"} «
                / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "javascript:void(0);"} 1
                %li
                  %a{:href => "javascript:void(0);"} »

        #tab3.tab-pane
          .undiscover
            %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
            %span.undiscover-message 抱歉！暂无查找信息
          .table-box
            %table.table.table-bordered#register-table
              %thead
                %tr
                  %th 绘本名称
                  %th 借阅时间
                  %th 归还时间
                  %th 操&nbsp作
              %tbody
                %tr
                  %td.td-data 少儿计算机知识
                  %td.td-data　2016.12.12
                  %td.td-data 2016.12.15
                  %td.td-data 
                    %a.details{:href => "javascript:void(0);"} 
                      绘本评价
                      %span.triangle-down
                %tr.status
                  %td{:colspan => "6"}
                    .comments-book
                      %span 评价：
                      %span.comments-content 该课程很好
                %tr
                  %td.td-data 少儿计算机知识
                  %td.td-data　2016.12.12
                  %td.td-data
                    .unreturn 暂未归还
                  %td.td-data
                    .unreturn-review　绘本评价
                %tr
                  %td.td-data 少儿计算机知识
                  %td.td-data　2016.12.12
                  %td.td-data
                    .overtime 已逾期(联系电话:131111111)
                  %td.td-data
                    .unreturn-review　绘本评价
          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              %ul.pagination.pagination-sm
                %li
                  %a{:href => "javascript:void(0);"} «
                / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "javascript:void(0);"} 1
                %li
                  %a{:href => "javascript:void(0);"} »
      

      

       
        

