- content_for :head do
  = javascript_include_tag "pages/staff/clients/show-bundle"
  = stylesheet_link_tag "pages/staff/clients/show-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"



.content-area
  /clients-show
  .manage-content
    / .btn.finish-btn{:type => "button"} 
    /   %img.ticker{:src => "/assets/managecenter/ticker.png"}
    /   完成
    / .btn.edit-btn{:type => "button"} 
    /   %img.edit{:src => "/assets/managecenter/edit.png"}
    /   编辑
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a#kids-message{"data-toggle" => "tab", :href => "#tab1"} 儿童信息
        %li
          %a#course-review{"data-toggle" => "tab", :href => "#tab2"} 课程评价
        %li
          %a#book-review{"data-toggle" => "tab", :href => "#tab3"} 绘本评价

      .tab-content
        #tab1.tab-pane.active
          %form.form-inline{:role => "form"}
            .form-group
              %label.caption 姓名:
              %span.unedit-box#name-span= @user.name
            %span.edit-box
              .form-group
                %input.form-control#name-input{:type => "text"}
            .form-group
              %label.caption 年龄:
              %span.unedit-box#age-span= (Time.now.year - @user.birthday.year).to_s + "岁"
            %span.edit-box
              .form-group
                %input.form-control#age-input{:type => "text"}
          %form.form-inline{:role => "form"}
            .form-group
              %label.caption 性别:
              %span.unedit-box#gender-span= @user.gender == 0 ? "男" : "女"
            %span.edit-box
              .form-group
                %input.form-control#gender-input{:type => "text"}
            .form-group
              %label.caption 家长:
              %span.unedit-box#parent-span= @user.parent
            %span.edit-box
              .form-group
                %input.form-control#parent-input{:type => "text"}
          %form.form-inline{:role => "form"}
            .form-group
              %label.caption 联系方式:
              %span.unedit-box#phone-span= @user.mobile
            %span.edit-box
              .form-group
                %input.form-control#phone-input{:type => "text"}
            .form-group
              %label.caption 地址:
              %span.unedit-box#address-span= @user.address
            %span.edit-box
              .form-group
                %input.form-control#address-input{:type => "text"}

        #tab2.tab-pane
          .review-box
            .course-details.clearfix
              %span.span-attr.course-name 课程:
              %span.span-input#course-name 社会科学
              %span.span-attr.course-time 上课时间:
              %span.span-input#course-time 2016-07-23--2016-08-23
              %span.span-attr.course-teacher 主讲人:
              %span.span-input#coure-teacher 王健林
              %span.span-attr.course-address 地址:
              %span.span-input#courese-address 呼伦贝尔大草原18号蒙古包
              %span.span-right
                %span.span-attr.course-status 状态:
                %span.span-input#coure-status 未付款
            .item
              %span.item-status 上课状态：
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.class-status
                %label.checkbox-inline
                  %input{:type => "checkbox", :value => "option1"} 未上课
                %label.checkbox-inline
                  %input#inlineCheckbox2{:type => "checkbox", :value => "option2"} 已上课
                %label.checkbox-inline
                  %input#inlineCheckbox3{:type => "checkbox", :value => "option3"} 缺课
            .comments
              %span 评论：
              %img{:src => "/assets/managecenter/star.png"}
              %img{:src => "/assets/managecenter/star.png"}
              %img{:src => "/assets/managecenter/star.png"}
              %img{:src => "/assets/managecenter/star.png"}
              %img{:src => "/assets/managecenter/star.png"}
              %p.comments-content 孩子刚上完这门课程，内容很新颖，学了很多知识，丰富了孩子的视野，是一门很好的课，老师讲的也很Nice，很棒的一门课程，会继续为孩子报名参加中心其它孩子感兴趣的课程。

          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              %ul.pagination.pagination-sm
                %li
                  %a{:href => "javascript:void(0);"} «
                / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "javascript:void(0);"} 1
                %li
                  %a{:href => "javascript:void(0);"} »

        #tab3.tab-pane
          .review-box
            .course-details.clearfix
              %span.span-attr.course-name 课程:
              %span.span-input#course-name 思想品德
              %span.span-attr.course-time 上课时间:
              %span.span-input#course-time 2016-07-23--2016-08-23
              %span.span-attr.course-teacher 主讲人:
              %span.span-input#coure-teacher 王健林
              %span.span-attr.course-address 地址:
              %span.span-input#courese-address 呼伦贝尔大草原18号蒙古包
              %span.span-right
                %span.span-attr.course-status 状态:
                %span.span-input#coure-status 上课中
            .item.clearfix
              %span.item-status 上课状态：
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
              %span.square
            .comments
              %span 评论：
              %img{:src => "/assets/managecenter/star.png"}
              %img{:src => "/assets/managecenter/star.png"}
              %img{:src => "/assets/managecenter/star.png"}
              %img{:src => "/assets/managecenter/star.png"}
              %img{:src => "/assets/managecenter/star.png"}
              %p.comments-content 孩子刚上完这门课程，内容很新颖，学了很多知识，丰富了孩子的视野，是一门很好的课，老师讲的也很Nice，很棒的一门课程，会继续为孩子报名参加中心其它孩子感兴趣的课程。
          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              %ul.pagination.pagination-sm
                %li
                  %a{:href => "javascript:void(0);"} «
                / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "javascript:void(0);"} 1
                %li
                  %a{:href => "javascript:void(0);"} »
      

      

       
        

