- content_for :head do
  = javascript_include_tag "pages/staff/clients/show-bundle"
  = stylesheet_link_tag "pages/staff/clients/show-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"
    window.profile = "#{@profile}"

.content-area
  .manage-content
    .tabbable
      %a{:href => "/staff/clients"}
        %img.back{src: asset_path("web/tab-back.png")}
      %ul.nav.nav-tabs
        %li.active
          %a#kids-message{"data-toggle" => "tab", :href => "#tab1"} 儿童信息
        %li
          %a#course-review{"data-toggle" => "tab", :href => "#tab2"} 课程参与
        %li
          %a#book-review{"data-toggle" => "tab", :href => "#tab3"} 绘本借阅

      .tab-content
        #tab1.tab-pane.active.clearfix
          .photo-div
            %img.avatar{src: @user.avatar.present? ? @user.avatar.path : asset_path("web/boy.png")}
          .message-div
            %form.form-inline{:role => "form"}
              .form-group
                %label.caption 姓名:
                %span.unedit-box#name-span= @user.name
              .form-group
                %label.caption 年龄:
                %span.unedit-box#age-span= @user.birthday.present? ? (Time.now.year - @user.birthday.year).to_s + "岁" : ""
            %form.form-inline{:role => "form"}
              .form-group
                %label.caption 性别:
                %span.unedit-box#gender-span= @user.gender == 0 ? "男" : "女"
              .form-group
                %label.caption 家长:
                %span.unedit-box#parent-span= @user.parent
            %form.form-inline{:role => "form"}
              .form-group
                %label.caption 联系方式:
                %span.unedit-box#phone-span= @user.mobile
              .form-group
                %label.caption 地址:
                %span.unedit-box#address-span= @user.address
          
        #tab2.tab-pane
          - if @participates[:data].blank?
            .undiscover
              %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
              %span.undiscover-message 抱歉！暂无查找信息
          - else
            .table-box
              %table.table.table-bordered#register-table
                %thead
                  %tr
                    %th 课程名称
                    %th 上课时间
                    %th 上课地址
                    %th 主讲人
                    %th 报名状态
                    %th 操&nbsp作
                %tbody
                  - @participates[:data].each do |e|
                    %tr
                      %td.td-data= e.course_inst.name || e.course_inst.course.name
                      %td.td-data= e.course_inst.duration
                      %td.td-data= e.course_inst.center.address
                      %td.td-data= e.course_inst.speaker
                      %td.td-data= e.status_str
                      %td.td-data 
                        - if e.is_success
                          %a.details{:href => "javascript:void(0);"} 
                            上课情况
                            %span.triangle-down
                        - else
                          .unreturn-review　上课情况
                    - if e.is_success
                      %tr.status
                        %td{:colspan => "6"}
                          .course-status
                            %span.item-status 上课状态：
                            - e.course_inst.length.times do |i|
                              - if e.signin_info[i].present?
                                %span.join-square
                              - else
                                - if e.course_inst.is_class_pass?(i)
                                  %span.miss-square
                                - else
                                  %span.square
                          .comments
                            %span.comments-title 评论：
                            %span.comments-content= e.review.present? ? e.review.content : "暂未评论"

            .select-page 
              %span.totalitems= "共#{@participates[:total_page]}页,总计#{@participates[:total_number]}条"
              %span.choice-page
                %ul.pagination.pagination-sm
                  %li
                    %a{:href => "/staff/clients/" + @user.id.to_s + "?profile=courses&course_page=#{@participates[:previous_page]}"} «
                  - ( (@participates[:previous_page] > 2 ? @participates[:previous_page] - 2 : 1) .. (@participates[:next_page] < @participates[:total_page] - 2 ? @participates[:next_page] + 2 : @participates[:total_page]) ).to_a.each do |page|
                    %li
                      %a{:href => "/staff/clients/" + @user.id.to_s + "?profile=courses&course_page=#{page}"}= page
                  %li
                    %a{:href => "/staff/clients/" + @user.id.to_s + "?profile=courses&course_page=#{@participates[:next_page]}"} »

        #tab3.tab-pane
          .deposit-div
            .deposit-pay
            .late-fee
          .table-box
            %table.table.table-bordered#register-table
              %thead
                %tr
                  %th 绘本名称
                  %th 借阅时间
                  %th 归还时间
                  %th 操&nbsp作
              %tbody
                %tr
                  %td.td-data 少儿计算机知识
                  %td.td-data　2016.12.12
                  %td.td-data
                    .unreturn 暂未归还
                  %td.td-data
                    .unreturn-review　绘本评价
                %tr
                  %td.td-data 少儿计算机知识
                  %td.td-data　2016.12.12
                  %td.td-data
                    .overtime 已逾期(联系电话:131111111)
                  %td.td-data
                    .unreturn-review　绘本评价
          - if @borrows[:data].blank?
            .undiscover
              %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
              %span.undiscover-message 抱歉！暂无查找信息
          - else
            .table-box
              %table.table.table-bordered#register-table
                %thead
                  %tr
                    %th 绘本名称
                    %th 借阅时间
                    %th 归还时间
                    %th 操&nbsp作
                %tbody
                  - @borrows[:data].each do |b|
                    %tr
                      %td.td-data= b.book.name
                      %td.td-data= Time.at(b.borrow_at).strftime("%Y-%m-%d %H:%M")
                      %td.td-data{class: b.return_class}= b.return_status_str
                      %td.td-data 
                        - if b.review.present?
                          %a.details{:href => "javascript:void(0);"} 
                            绘本评价
                            %span.triangle-down
                        - else
                          .unreturn-review　暂未评论
                    - if b.review.present?
                      %tr.status
                        %td{:colspan => "4"}
                          .comments-book
                            %span 评价：
                            %span.comments-content= b.review.content
            .select-page 
              %span.totalitems= "共#{@borrows[:total_page]}页,总计#{@borrows[:total_number]}条"
              %span.choice-page
                %ul.pagination.pagination-sm
                  %li
                    %a{:href => "/staff/clients/" + @user.id.to_s + "?profile=books&borrow_page=#{@borrows[:previous_page]}"} «
                  - ( (@borrows[:previous_page] > 2 ? @borrows[:previous_page] - 2 : 1) .. (@borrows[:next_page] < @borrows[:total_page] - 2 ? @borrows[:next_page] + 2 : @borrows[:total_page]) ).to_a.each do |page|
                    %li
                      %a{:href => "/staff/clients/" + @user.id.to_s + "?profile=books&borrow_page=#{page}"}= page
                  %li
                    %a{:href => "/staff/clients/" + @user.id.to_s + "?profile=books&borrow_page=#{@borrows[:next_page]}"} »
