- content_for :head do
  = javascript_include_tag "pages/staff/clients/show-bundle"
  = stylesheet_link_tag "pages/staff/clients/show-bundle", :media => "all"
  / :javascript
    

.content-area
  .main-top.direction
    %a#back{href: staff_clients_path}
      %img.back{src: asset_path("back.png")}
    = render "staff/partials/account_set"
    
  .main-content.bg2
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1#template-desc{"data-toggle" => "tab", :href => "#tab1"} 购买课程
         
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div
              - if @participates[:data].blank?
                .undiscover.f14
                  %img.undiscover-icon{src: asset_path("undiscover.png")}
              - else
                .table-box.f14
                  %table.table.table-hover.table-height.border-btm
                    %thead.th-bg.font-color2
                      %tr
                        %th 课程名称
                        %th 上课时间
                        %th 上课地址
                        %th 主讲人
                        %th 价格
                        %th 报名状态
                        %th 操&nbsp作
                    %tbody.font-color3
                      - @participates[:data].each do |p|
                        %tr
                          %td= p[:name]
                          %td= p[:duration]
                          %td= p[:address]
                          %td= p[:speaker]
                          %td= p[:price]
                          %td= p[:status_str]
                        /   %td
                        /     - if p.is_success  
                        /       %a.details{:href => "javascript:void(0);"} 
                        /         上课情况
                        /         %span.triangle-down
                        /     - else
                        /       .pay-fail　上课情况
                        / - if p.is_success
                        /   %tr.status
                        /     %td{colspan: "7"}
                        /       .course-status
                        /         %span.item-status 上课状态：
                        /         - p.course_inst.length.times do |i|
                        /           - if p.signin_info[i].present?
                        /             %span.join-square
                        /           - else
                        /             - if p.course_inst.is_class_pass?(i)
                        /               %span.miss-square
                        /             - else
                        /               %span.square
                        /       .comments
                        /         %span.comments-title 课程评价：
                        /         %span.comments-content= p.review.present? ? p.review.content : "暂未评价"
                
                = render "staff/partials/auto_paginate", locals: { instance: @participates, url: "/staff/clients/" + @course_inst.id.to_s, page: 'page'}


     