- content_for :head do
  = javascript_include_tag "pages/staff/clients/show-bundle"
  = stylesheet_link_tag "pages/staff/clients/show-bundle", :media => "all"
  / :javascript
    

.content-area
  .main-top.direction
    %a#back{href: staff_clients_path}
      %img.back{src: asset_path("back.png")}
    %ul.set
      %li
        %a.f16{href: staff_accounts_path} 账号设置
      %li
        %a.f16.set-left-border{href: signout_sessions_path} 退出登录
        / %a.f16.set-left-border= link_to "退出登录",  signin_page_sessions_path, class: "类名", method: :delete
  .main-content.bg2
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1#template-desc{"data-toggle" => "tab", :href => "#tab1"} 购买课程
         
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div
              - if @participates[:data].length == 1
                .undiscover.f14
                  %img.undiscover-icon{src: asset_path("undiscover.png")}
              - else
                .table-box.f14
                  %table.table.table-hover.table-height.border-btm
                    %thead.th-bg.font-color2
                      %tr
                        %th 课程名称
                        %th 上课时间
                        %th 上课地址
                        %th 主讲人
                        %th 价格
                        %th 报名状态
                        %th 操&nbsp作
                    %tbody.font-color3
                      %tr
                        %td aa
                        %td bb
                        %td vv
                        %td dd
                        %td ddf
                        %td df
                        %td  
                          %a.details{:href => "javascript:void(0);"} 
                            上课情况
                            %span.triangle-down
                          / - else
                          /   .unreturn-review　上课情况
                      %tr.status
                        %td{:colspan => "7"}
                          .course-status
                            %span.item-status 上课状态：
                            %span.join-square
                            %span.miss-square
                            %span.square
                          .comments
                            %span.comments-title 课程评价：
                            %span.comments-content 暂未评论
                      %tr
                        %td aa
                        %td bb
                        %td vv
                        %td dd
                        %td ddf
                        %td df
                        %td  
                          %a.details{:href => "javascript:void(0);"} 
                            上课情况
                            %span.triangle-down
                          / - else
                          /   .unreturn-review　上课情况
                      %tr.status
                        %td{:colspan => "7"}
                          .course-status
                            %span.item-status 上课状态：
                            %span.join-square
                            %span.miss-square
                            %span.square
                          .comments
                            %span.comments-title 课程评价：
                            %span.comments-content 暂未评论
                      / - @participates[:data].each do |e|
                      /   %tr
                      /     %td= e.course_inst.name || e.course_inst.course.name
                      /     %td= e.course_inst.duration
                      /     %td= e.course_inst.center.address
                      /     %td= e.course_inst.speaker
                      /     %td= e.course_inst.price
                      /     %td= e.status_str
                      /     %td 
                      /       - if e.is_success
                      /         %a.details{:href => "javascript:void(0);"} 
                      /           上课情况
                      /           %span.triangle-down
                      /       - else
                      /         .unreturn-review　上课情况
                      /   - if e.is_success
                      /     %tr.status
                      /       %td{:colspan => "6"}
                      /         .course-status
                      /           %span.item-status 上课状态：
                      /           - e.course_inst.length.times do |i|
                      /             - if e.signin_info[i].present?
                      /               %span.join-square
                      /             - else
                      /               - if e.course_inst.is_class_pass?(i)
                      /                 %span.miss-square
                      /               - else
                      /                 %span.square
                      /         .comments
                      /           %span.comments-title 评论：
                      /           %span.comments-content= e.review.present? ? e.review.content : "暂未评论"
                .select-page 
                  %span.totalitems 共1页，总计10条
                  %span.choice-page
                    %ul.pagination.pagination-sm
                      %li
                        %a{href: "#"} «
                      %li
                        %a{href: "#"} 1
                      %li
                        %a{href: "#"} »


























          
        / #tab2.tab-pane
        /   - if @participates[:data].blank?
        /     .undiscover
        /       %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
        /       %span.undiscover-message 抱歉！暂无课程信息
        /   - else
        /     .table-box
        /       %table.table.table-bordered#register-table
        /         %thead
        /           %tr
        /             %th 课程名称
        /             %th 上课时间
        /             %th 上课地址
        /             %th 主讲人
        /             %th 报名状态
        /             %th 操&nbsp作
        /         %tbody
        /           - @participates[:data].each do |e|
        /             %tr
        /               %td.td-data= e.course_inst.name || e.course_inst.course.name
        /               %td.td-data= e.course_inst.duration
        /               %td.td-data= e.course_inst.center.address
        /               %td.td-data= e.course_inst.speaker
        /               %td.td-data= e.status_str
        /               %td.td-data 
        /                 - if e.is_success
        /                   %a.details{:href => "javascript:void(0);"} 
        /                     上课情况
        /                     %span.triangle-down
        /                 - else
        /                   .unreturn-review　上课情况
        /             - if e.is_success
        /               %tr.status
        /                 %td{:colspan => "6"}
        /                   .course-status
        /                     %span.item-status 上课状态：
        /                     - e.course_inst.length.times do |i|
        /                       - if e.signin_info[i].present?
        /                         %span.join-square
        /                       - else
        /                         - if e.course_inst.is_class_pass?(i)
        /                           %span.miss-square
        /                         - else
        /                           %span.square
        /                   .comments
        /                     %span.comments-title 评论：
        /                     %span.comments-content= e.review.present? ? e.review.content : "暂未评论"
        /     .select-page 
        /       %span.totalitems= "共#{@participates[:total_page]}页,总计#{@participates[:total_number]}条"
        /       %span.choice-page
        /         %ul.pagination.pagination-sm
        /           %li
        /             %a{:href => "/staff/clients/" + @user.id.to_s + "?profile=courses&course_page=#{@participates[:previous_page]}"} «
        /           - ( (@participates[:previous_page] > 2 ? @participates[:previous_page] - 2 : 1) .. (@participates[:next_page] < @participates[:total_page] - 2 ? @participates[:next_page] + 2 : @participates[:total_page]) ).to_a.each do |page|
        /             %li
        /               %a{:href => "/staff/clients/" + @user.id.to_s + "?profile=courses&course_page=#{page}"}= page
        /           %li
        /             %a{:href => "/staff/clients/" + @user.id.to_s + "?profile=courses&course_page=#{@participates[:next_page]}"} »

     