- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/reviews/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/reviews/index-bundle", :media => "all"
  :javascript
    window.review_type="#{@review_type}"
    window.book_id="#{@book.try(:id).to_s}"
    window.course_id="#{@course.try(:id).to_s}"

- content_for :app_content do
  .content-area
    .header
      .cloud
        %p.caption 历史评价
      - if @review_type == "book"
        %a{:href => "/user_mobile/books/" + @book.id.to_s + "?back=" + @back}
          %img.back{:src => "/assets/evaluate/back.png"}
      - else
        %a{:href => "/user_mobile/courses/" + @course.id.to_s + "?back=" + @back}
          %img.back{:src => "/assets/evaluate/back.png"}
    - if @reviews.present?
      - @reviews.each do |r|
        %article.clearfix
          .left-div
            %img.headfigure{:src => r[:avatar_path].present? ? r[:avatar_path] : "/assets/web/boy.png"}
          .right-div
            %span.username= r[:user_name]
            %span.time= time_ago_in_words(r[:created_at])
            .review-score
              %span.score 课程评分
              - r[:score].times do
                %img.star{:src => "/assets/web/yellowstar2.png"}
              - (5 - r[:score]).times do
                %img.star{:src => "/assets/web/greystar2.png"}
            %p.message= r[:content]
    - else
      .unfound
        %img.unfound-icon{:src => "/assets/web/cry.png"}
    .mask
      .empty-div
      .text-div
        %textarea#text
        %form.review-div.clearfix
          %span.me 我的评价：
          %p.star-div
            %input{:checked => "checked", :name => "a", :type => "radio", :value => "0"}
            %input{:name => "a", :type => "radio", :value => "1"}
            %input{:name => "a", :type => "radio", :value => "2"}
            %input{:name => "a", :type => "radio", :value => "3"}
            %input{:name => "a", :type => "radio", :value => "4"}
            %input{:name => "a", :type => "radio", :value => "5"}
          %button.btn#submit 提交
    - if @current_user.review_on(@course || @book)
      %button.btn#review_end{:type => "button"} 已评价
    - elsif @current_user.can_review_on(@course || @book)
      %button.btn#review{:type => "button"} 立即评价


