- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/centers/show-bundle"
  = stylesheet_link_tag "pages/user_mobile/centers/show-bundle", :media => "all"
  :javascript
    window.center_id = "#{@center.id.to_s}"

- content_for :app_content do
  .content-area
    .header
      %img.photo{:src => @center.photo.nil? ? "/assets/banner.png" : @center.photo.path }
      / %a{href: "#", onClick: "history.go(-1);return true;"}
      %a{href: user_mobile_centers_path}
        %img.back{:src => "/assets/haidiancenter/back.png"}
    .description
      %p
        = @center.desc.to_s.html_safe
    .noticecaption-link
      %p 详细地址
    %p.linkaddress= @center.address
    %a{:href => "#"}
      %img.map{:src => "/assets/haidiancenter/map.jpg"}
    - if @follow
      %a.btn#cancel{:type => "button", href: "/user_mobile/centers/#{@center.id.to_s}/set_follow?follow=false"} 取消关注
    - else
      %a.btn#cancel{:type => "button", href: "/user_mobile/centers/#{@center.id.to_s}/set_follow?follow=true"} 关注此中心
