- content_for :head do
  = javascript_include_tag "pages/staff/books/index-bundle"
  = stylesheet_link_tag "pages/staff/books/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"
    window.profile = "#{@profile}"
   
.content-area
  /books-index
  .content-box
    .manage-box
      .user-search-box
        .input-group
          %input.form-control#search-input{:type => "text", :placeholder => "输入绘本名称", :value => "#{@keyword}"}
          %span.input-group-btn
            %button.btn.btn-default#search-btn{:type => "button"}
      .btn.bookadd-btn{:type => "button", "data-target" => "#isbnModal", "data-toggle" => "modal"} 
        %img.book-edit{src: asset_path("managecenter/add.png")}
        添加绘本
      .btn.download-code{:type => "button"} 二维码下载
    
    .manage-content
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a#book-list{"data-toggle" => "tab", :href => "#tab1"} 馆藏绘本
          %li
            %a#timeover{"data-toggle" => "tab", :href => "#tab2"} 逾期绘本

        .tab-content
          #tab1.tab-pane.active
            .tab-box
              - if @books[:data].length == 0
                .undiscover
                  %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                  %span.message 抱歉！暂无绘本信息
              - else
                .table-box
                  %table.table.table-bordered#user-table
                    %thead
                      %tr
                        %th 绘本名称
                        %th 书&nbsp号
                        %th 作&nbsp者
                        %th 数&nbsp量
                        %th 在架
                        %th 操&nbsp作
                    %tbody
                      - @books[:data].each do |b|
                        %tr{class: "book-record #{ b[:available] ? "available" : "unavailable" }", "data-id" => b[:id]}
                          %td.book-short-name= link_to b[:name], "/staff/books/#{b[:id]}"
                          %td= b[:isbn]
                          %td= b[:author]
                          %td= b[:stock].to_s + "本"
                          %td= b[:available_stock].to_s + "本"
                          %td
                            - if b[:available]
                              %a.set-available.link-available{:href => "javascript:void(0);"} 下架
                            - else
                              %a.set-available.link-unavailable{:href => "javascript:void(0);"} 上架
                = render "staff/partials/auto_paginate", locals: { instance: @books, url: "/staff/books?keyword=#{@keyword}&", page: 'page'}
                
          #tab2.tab-pane
            .tab-box
              - if @borrows[:data].blank?
                .undiscover
                  %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                  %span.message 抱歉！暂无绘本信息
              - else
                .table-box
                  %table.table.table-bordered#user-table1
                    %thead
                      %tr
                        %th 借阅人
                        %th 绘本名称
                        %th 手机号码
                        %th 借阅时间
                        %th 逾期天数
                        %th{colspan: "2"} 操&nbsp作
                    %tbody
                      - @borrows[:data].each do |b|
                        %tr{data: {id: b.id.to_s, name: b.book.name, clientname: b.client.name_or_parent}}
                          %td= link_to b.client.name_or_parent, "/staff/clients/#{b.client.id.to_s}"
                          %td.book-short-name= link_to b.book.name, "/staff/books/#{b.book.id.to_s}"
                          %td= b.client.mobile
                          %td= Time.at(b.borrow_at).strftime("%Y-%m-%d %H:%M")
                          %td{class: b.return_class}= b.expire_days_str
                          %td
                            %a.return{href: "javascript:void(0);"} 归还
                          %td
                            %a.lost{href: "javascript:void(0);"} 丢失
                = render "staff/partials/auto_paginate", locals: { instance: @borrows, url: "/staff/books?keyword=#{@keyword}&profile=borrows&", page: 'borrow_page'}
                

#shelveModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      .modalheader.shelve-header
        %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", src: asset_path("managecenter/close.png")}
        %p.caption 请填写完整信息后再选择上架
      .modal-body
        %a.footbox#signup-signin{:href => "javascript:void(0);"}
          点击前往补全信息
          %span.right-arrow
            %img{src: asset_path("managecenter/right-arrow.png")}

#returnModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      .modalheader
        %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", src: asset_path("managecenter/close.png")}
      .modal-body
        %p.modal-message
          %span.client-name 王小明
          %span 借阅的绘本
          %span.book-name《书名很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长》
          %span 将归还，是否确定立即归还该书？
        .btn-div
          %button.btn#return-cancel{type: "button"} 取&nbsp消
          %button.btn#return-confirm{type: "button"} 确&nbsp定

#lostModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      .modalheader
        %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", src: asset_path("managecenter/close.png")}
      .modal-body
        %p.lost-caption 绘本丢失
        %p.modal-message
          %span.client-name 王小明
          %span 借阅的绘本
          %span.book-name《书名很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长很长》
          %span 已丢失？
        .btn-div
          %button.btn#lost-cancel{type: "button"} 取&nbsp消
          %button.btn#lost-confirm{type: "button"} 确&nbsp定


#isbnModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modal-dialog
    .modal-content
      .modalheader
        %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", src: asset_path("managecenter/close.png")}
      .modal-body
        .isbn-div
          .input-box
            %p.isbn-name ISBN号
            .outer-div
              %input.isbn-input
              .btn.isbn-search-btn{type: "button"} 查询
          .isbn-notice-div
            %span.isbn-space
            %span.isbn-notice

          .input-box
            %p.isbn-name 数量
            .outer-div
              %input.isbn-input-num
          .btn.isbn-confirm-btn.button-disabled{:type => "button", :disabled => true} 确定
      


                              
