- content_for :head do
  = javascript_include_tag "pages/staff/books/index-bundle"
  = stylesheet_link_tag "pages/staff/books/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"
.content
  /books-index
  .content-box
    .manage-box
      .user-search-box
        .input-append
          %input#appendedInputButton.span2{:type => "text", :placeholder => "输入绘本名称", :value => "#{@keyword}"}
          %button.btn#search-btn{:type => "button"}
      .btn.bookadd-btn{:type => "button", :href => "#kidsaddModal", "data-toggle" => "modal"} 
        %img.book-edit{:src => "/assets/managecenter/add.png"}
        添加绘本

    - if @books[:data].length == 0
      .undiscover
        %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
        %span.message 抱歉！暂无查找信息
    - else
      .table-box
        %table.table.table-bordered.user-table
          %caption
          %thead
            %tr
              %th 绘本名称
              %th 类&nbsp型
              %th 数&nbsp量
              %th 当前借出
              %th 作&nbsp者
              %th 书&nbsp号
              %th{:colspan => "2"} 操&nbsp作
          %tbody
            - @books[:data].each do |b|
              %tr{class: "book-record #{ b[:available] ? "available" : "unavailable" }", "data-id" => b[:id]}
                %td= b[:name]
                %td= b[:type]
                %td= b[:stock].to_s + "本"
                %td
                %td= b[:author]
                %td= b[:isbn]
                %td
                  %a.details{:href => "/staff/books/#{b[:id]}"} 详情
                %td
                  - if b[:available]
                    %a.set-available.available{:href => "javascript:void(0);"} 下架
                  - else
                    %a.set-available.unavailable{:href => "javascript:void(0);"} 上架

      .select-page 
        %span.totalitems= "共#{@books[:total_page]}页,总计#{@books[:total_number]}条"
        %span.choice-page
          .pagination.pagination-small
            %ul
              %li
                %a{:href => "/staff/books?keyword=#{@keyword}&page=#{@books[:previous_page]}"} «
              - ( (@books[:previous_page] > 2 ? @books[:previous_page] - 2 : 1) .. (@books[:next_page] < @books[:total_page] - 2 ? @books[:next_page] + 2 : @books[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "/staff/books?keyword=#{@keyword}&page=#{page}"}= page
              %li
                %a{:href => "/staff/books?keyword=#{@keyword}&page=#{@books[:next_page]}"} »

      .user-review-box
        .user-checkbox
          %span.user-review 用户评价
          %label.checkbox.inline
            %input#inlineCheckbox1{:type => "checkbox", :value => "option1"} 未公开
          %label.checkbox.inline
            %input#inlineCheckbox2{:type => "checkbox", :value => "option2"} 已公开
        .book-description
          .user-item.clearfix
            %img.book-img{:src => "/assets/managecenter/user-img.png"}
            %p.user-name 大鱼海棠
            %p.date 2017-6-23 13:20
            %p.user-review-content 这本书看了感觉很好，儿童容易理解。
            %button.btn#open-btn{:type => "button"} 公开
        .book-description
          .user-item.clearfix
            %img.book-img{:src => "/assets/managecenter/user-img.png"}
            %p.user-name 大鱼海棠
            %p.date 2017-6-23 13:20
            %p.user-review-content 这本书看了感觉很好，儿童容易理解。
            %button.btn#open-btn{:type => "button"} 公开

      .select-page 
        %span.totalitems= "共6页,总计12条"
        %span.choice-page
          .pagination.pagination-small
            %ul
              %li
                %a{:href => "javascript:void(0);"} «
              / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
              %li
                %a{:href => "javascript:void(0);"} 1
              %li
                %a{:href => "javascript:void(0);"} »



#shelveModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  .modalheader
    %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
    %p.caption 请填写完整信息后再选择上架
  .modal-body
    %a.footbox#signup-signin{:href => "javascript:void(0);"}
      点击前往补全信息
      %span.right-arrow
        %img{:src => "/assets/managecenter/right-arrow.png"}
      


                              
