- content_for :head do
  = javascript_include_tag "pages/staff/books/merge-bundle"
  = stylesheet_link_tag "pages/staff/books/merge-bundle", :media => "all"
  :javascript
    window.books_id_str = "#{@books_id_str}"
    window.keyword = "#{@keyword}"
    window.page = "#{@page}"


.content-area
  /books-merge
  .content-box
    .manage-box.clearfix
      %a#back{:href => "/staff/books"}
        %img{src: asset_path("web/back.png")}
      %p.book-merge 绘本合并
    .manage-content
      .merge-div
        %p.caption 自动合并
        .desc-div
          %p.desc 自动合并即为将全部各条信息完全一致的绘本条目分别合并
          %button.btn#merge-btn 批量自动合并
          %p.total.hide#auto-merge-result
            %span 共检索到
            %span#auto-merge-book-num 36
            %span 条，已合并为
            %span#auto-merge-group-num 8
            %span 条
          %p.total.hide#auto-merge-none 没有检索到信息完全一致的绘本
      .merge-div
        %p.caption 手动合并
        .item-div
          .item
            .user-search-box
              .input-group
                %input.form-control#search-input{:type => "text", :placeholder => "输入绘本名称、作者", :value => "#{@keyword}"}
                %span.input-group-btn
                  %button.btn.btn-default#search-btn{:type => "button"}
            - if @books[:data].blank?
            - else
              .table-box
                %table.table.table-bordered#user-table
                  %thead
                    %tr
                      %th 书&nbsp名
                      %th 作&nbsp者
                      %th 操&nbsp作
                  %tbody
                    - @books[:data].each do |b|
                      %tr{data: {id: b.id.to_s}}
                        %td
                          %a{href: "/staff/books/#{b.id.to_s}", target: "_blank"}= b.name
                        %td= b.author
                        - if @books_id_ary.include?(b.id.to_s)
                          %td.add-over　已添加
                        - else
                          %td
                            %a.add{href: "javascript:void(0);"}　添加>
              = render "staff/partials/auto_paginate", locals: { instance: @books, url: "/staff/books/merge?books_id_str=#{@books_id_str}&keyword=#{@keyword}&", page: 'page'}
              / .select-page 
              /   %span.totalitems= "共#{@books[:total_page]}页,总计#{@books[:total_number]}条"
              /   %span.choice-page
              /     %ul.pagination.pagination-sm
              /       %li
              /         %a.page-link{:href => "/staff/books/merge?books_id_str=#{@books_id_str}&keyword=#{@keyword}&page=#{@books[:previous_page]}"} «
              /       - ( (@books[:previous_page] > 2 ? @books[:previous_page] - 2 : 1) .. (@books[:next_page] < @books[:total_page] - 2 ? @books[:next_page] + 2 : @books[:total_page]) ).to_a.each do |page|
              /         %li
              /           %a.page-link{:href => "/staff/books/merge?books_id_str=#{@books_id_str}&keyword=#{@keyword}&page=#{page}"} 1
              /       %li
              /         %a.page-link{:href => "/staff/books/merge?books_id_str=#{@books_id_str}&keyword=#{@keyword}&page=#{@books[:next_page]}"} »
          .item
            .title-div
              %span.title 合并条目
              %button.btn#merge{disabled: true} 立即合并
            - if @merge_books.blank?
            - else
              .table-box
                %table.table.table-bordered#user-table
                  %thead
                    %tr
                      %th 保留资料
                      %th 书&nbsp名
                      %th 作&nbsp者
                      %th 操&nbsp作
                  %tbody
                    - @merge_books.each do |b|
                      %tr{data: {id: b.id.to_s}}
                        %td
                          %input.checkbox-div{type: "radio", name: "select_default"}
                        %td
                          %a{href: "/staff/books/#{b.id.to_s}", target: "_blank"}= b.name
                        %td= b.author
                        %td
                          %a.delete{href: "javascript:void(0);"} 删除
            / .select-page 
            /   %span.totalitems= "共3页,总计15条"
            /   %span.choice-page
            /     %ul.pagination.pagination-sm
            /       %li
            /         %a{:href => "javascript:void(0);"} «
            /       / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
            /       %li
            /         %a{:href => "javascript:void(0);"} 1
            /       %li
            /         %a{:href => "javascript:void(0);"} »
