- content_for :head do
  = javascript_include_tag "pages/staff/books/show-bundle"
  = stylesheet_link_tag "pages/staff/books/show-bundle", :media => "all"
  :javascript
    window.bid = "#{@book.id.to_s}"
    window.stock = "#{@book.stock}"
    window.age_lower_bound = "#{@book.age_lower_bound}"
    window.age_upper_bound = "#{@book.age_upper_bound}"

.content-area
  .manage-content
    .btn.finish-btn{:type => "button"} 
      %img.ticker{:src => "/assets/managecenter/ticker.png"}
      完成
    .btn.edit-btn{:type => "button"} 
      %img.edit{:src => "/assets/managecenter/edit.png"}
      编辑
    .btn.QRcode-btn{:type => "button"}
      %img.QRcode{src: "/assets/web/qrcode.png"} 导出二维码
    - if @book.available == true
      .btn.unshelve-btn.available{:type => "button"} 
        %img.end{:src => "/assets/managecenter/unshelve.png"}
        %span 下架
    - else
      .btn.unshelve-btn.unavailable{:type => "button"} 
        %img.end{:src => "/assets/managecenter/shelve.png"}
        %span 上架
    .tabbable
      %a{:href => "/staff/books"}
        %img.back{:src => "/assets/web/tab-back.png"}
      %ul.nav.nav-tabs
        %li.active
          %a#book-message{"data-toggle" => "tab", :href => "#tab1"} 绘本信息
        %li
          %a#user-review{"data-toggle" => "tab", :href => "#tab2"} 用户评价
        %li
          %a#borrow-message{"data-toggle" => "tab", :href => "#tab3"} 借阅信息

      .tab-content
        #tab1.tab-pane.active
          .controls.controls-row
            %label.input-caption 绘本名称:
            %span.unedit-box#name-span= @book.name
            %span.edit-box
              %input.input-area.form-control#name-input{:type => "text"}
            %label.input-caption#author 作者:
            %span.unedit-box#author-span= @book.author
            %span.edit-box
              %input.input-area.form-control#author-input{:type => "text"}
          .controls.controls-row
            %label.input-caption#illustrator-label 插画作者:
            %span.unedit-box#illustrator-span= @book.illustrator
            %span.edit-box
              %input.input-area.form-control#illustrator-input{:type => "text"} 
            %label.input-caption#translator 译者:
            %span.unedit-box#translator-span= @book.translator
            %span.edit-box
              %input.input-area.form-control#translator-input{:type => "text"}
            %label.input-caption#book-number 书号:
            %span.unedit-box#isbn-span= @book.isbn
            %span.edit-box
              %input.input-area.form-control#isbn-input{:type => "text"}
          .controls.controls-row
            %label.input-caption#mixage-label 最小适龄:
            %span.unedit-box#age-lower-bound-span= @book.age_lower_bound.blank? ? "未填写" : @book.age_lower_bound.to_s + "岁"
            %span.edit-box
              %input.input-area.form-control#age-lower-bound-input{:type => "text"}      
            %label.input-caption#mixage-label 最大适龄:
            %span.unedit-box#age-upper-bound-span= @book.age_upper_bound.blank? ? "未填写" : @book.age_upper_bound.to_s + "岁"
            %span.edit-box
              %input.input-area.form-control#age-upper-bound-input{:type => "text"}  
            %label.input-caption 数量:
            %span.unedit-box#stock-span= @book.stock.to_s + "本"
            %span.edit-box
              %input.input-area.form-control#stock-input{:type => "text"}
          %form.form-inline.clearfix#tag-form
            %label.input-caption 标签:
            - (@book.tags || "").split(',').each do |tag|
              %span.unedit-box.type-span.type-span-ele= tag
            %span.edit-box
              %ul#type-tag
                   
          .book-introduce.clearfix
            %span.introduce 书籍介绍:
            %div.introduce-details
              = @book.desc.html_safe
            %span.wangedit-area
              #edit-area

          = form_tag("/staff/books/" + @book.id.to_s + "/upload_photo", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
            = text_field_tag "has_cover"
            = text_field_tag "has_back"
            = file_field_tag "cover_file", { class: "hide", accept: ".jpg,.png" }
            = file_field_tag "back_file", { class: "hide", accept: ".jpg,.png" }
          .cover-back
            %span.book-cover 封面:
            %a#upload-cover{href: "javascript:void(0);"}
              %img#cover-photo.photo{src: @book.cover.nil? ? "/assets/web/coverempty.png" : @book.cover.path}
            %span.book-back 封底:
            %a#upload-back{href: "javascript:void(0);"}
              %img#back-photo.photo{src: @book.back.nil? ? "/assets/web/coverempty.png" : @book.back.path}
        #tab2.tab-pane
          .undiscover
            %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
            %span.undiscover-message 抱歉！暂无查找信息
          .user-review-box
            .user-checkbox
              %label.checkbox-inline
                %input#inlineCheckbox1{:type => "checkbox", :value => "option1"} 未公开
              %label.checkbox-inline
                %input#inlineCheckbox2{:type => "checkbox", :value => "option2"} 已公开
            .book-description
              .user-item.clearfix
                %img.book-img{:src => "/assets/managecenter/user-img.png"}
                %p.user-name 大鱼海棠
                %p.date 2017-6-23 13:20
                %p.user-review-content 这本书看了感觉很好，儿童容易理解。
                %button.btn#open-btn{:type => "button"} 公开
            .book-description
              .user-item.clearfix
                %img.book-img{:src => "/assets/managecenter/user-img.png"}
                %p.user-name 大鱼海棠
                %p.date 2017-6-23 13:20
                %p.user-review-content 这本书看了感觉很好，儿童容易理解。
                %button.btn#open-btn{:type => "button"} 公开
          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              %ul.pagination.pagination-sm
                %li
                  %a{:href => "javascript:void(0);"} «
                / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "javascript:void(0);"} 1
                %li
                  %a{:href => "javascript:void(0);"} »

        #tab3.tab-pane
          .undiscover
            %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
            %span.undiscover-message 抱歉！暂无查找信息
          .table-box
            %table.table.table-bordered#user-table
              %thead
                %tr
                  %th 借阅人
                  %th 借阅时间
                  %th 归还时间
              %tbody
                / - @books[:data].each do |b|
                /   %tr{class: "book-record #{ b[:available] ? "available" : "unavailable" }", "data-id" => b[:id]}
                %tr
                  %td 小明
                  %td 2016-8-23
                  %td 2016-10-23
                %tr
                  %td 小明
                  %td 2016-8-23
                  %td.unreturn 暂未归还
                %tr
                  %td 小明
                  %td 2016-8-23
                  %td.delay 已逾期(联系电话:13245677654)
          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              %ul.pagination.pagination-sm
                %li
                  %a{:href => "javascript:void(0);"} «
                / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                %li
                  %a{:href => "javascript:void(0);"} 1
                %li
                  %a{:href => "javascript:void(0);"} »
     
#editor-content.hide
  = @book.desc.html_safe

