- content_for :head do
  = javascript_include_tag "pages/staff/books/show-bundle"
  = stylesheet_link_tag "pages/staff/books/show-bundle", :media => "all"
  :javascript
    window.bid = "#{@book.id.to_s}"
    window.stock = "#{@book.stock}"

.content-area
  .manage-content
    .btn.finish-btn{:type => "button"} 
      %img.ticker{:src => "/assets/managecenter/ticker.png"}
      完成
    .btn.edit-btn{:type => "button"} 
      %img.edit{:src => "/assets/managecenter/edit.png"}
      编辑
    .btn#QRcode-btn{:type => "button"} 生成二维码
    - if @book.available == true
      .btn#unshelve-btn.available{:type => "button"} 
        %img.end{:src => "/assets/managecenter/unshelve.png"}
        %span 下架
    - else
      .btn#unshelve-btn.unavailable{:type => "button"} 
        %img.end{:src => "/assets/managecenter/shelve.png"}
        %span 上架
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a#book-message{"data-toggle" => "tab", :href => "#tab1"} 绘本信息
        %li
          %a#user-review{"data-toggle" => "tab", :href => "#tab2"} 用户评价
        %li
          %a#borrow-message{"data-toggle" => "tab", :href => "#tab3"} 借阅信息

      .tab-content
        #tab1.tab-pane.active
          .book-detail
            %form.form-inline
              %label.input-caption 绘本名称:
              %span.unedit-box#name-span= @book.name
              %span.edit-box
                %input.input-area#name-input{:type => "text"}
              - if @book.available == true
                %label#available-status.shelve 在架上
              - else
                %label#available-status.shelve 已下架
            .controls.controls-row
              %label.input-caption 类型:
              %span.unedit-box#type-span= @book.type
              %span.edit-box
                %input.input-area#type-input{:type => "text"}
              %label.input-caption 数量:
              %span.unedit-box#stock-span= @book.stock.to_s + "本"
              %span.edit-box
                %input.input-area#stock-input{:type => "text"}
              %label.input-caption#book-number 书号:
              %span.unedit-box#isbn-span= @book.isbn
              %span.edit-box
                %input.input-area#isbn-input{:type => "text"}
            .controls.controls-row
              %label.input-caption 作者:
              %span.unedit-box#author-span= @book.author
              %span.edit-box
                %input.input-area#author-input{:type => "text"}
              %label.input-caption 译者:
              %span.unedit-box#translator-span= @book.translator
              %span.edit-box
                %input.input-area#translator-input{:type => "text"}
              %label.input-caption#illustrator-label 插画作者:
              %span.unedit-box#illustrator-span= @book.illustrator
              %span.edit-box
                %input.input-area#illustrator-input{:type => "text"}             
            .book-introduce.clearfix
              %span.introduce 书籍介绍:
              %div.introduce-details
                = @book.desc.html_safe
              %span.wangedit-area
                #edit-area
          .cover-back
            %span.cover 封面:
            - if @book.cover.present?
              = image_tag(@book.cover.path, id: "cover-img")
            - else
              %a#upload-cover{href: "javascript:void(0);"} 请点击上传封面
            %span.back 封底:
            - if @book.back.present?
              = image_tag(@book.back.path, id: "back-img")
            - else
              %a#upload-back{href: "javascript:void(0);"} 请点击上传封底

        #tab2.tab-pane
          .user-review-box
            .user-checkbox
              %label.checkbox.inline
                %input#inlineCheckbox1{:type => "checkbox", :value => "option1"} 未公开
              %label.checkbox.inline
                %input#inlineCheckbox2{:type => "checkbox", :value => "option2"} 已公开
            .book-description
              .user-item.clearfix
                %img.book-img{:src => "/assets/managecenter/user-img.png"}
                %p.user-name 大鱼海棠
                %p.date 2017-6-23 13:20
                %p.user-review-content 这本书看了感觉很好，儿童容易理解。
                %button.btn#open-btn{:type => "button"} 公开
            .book-description
              .user-item.clearfix
                %img.book-img{:src => "/assets/managecenter/user-img.png"}
                %p.user-name 大鱼海棠
                %p.date 2017-6-23 13:20
                %p.user-review-content 这本书看了感觉很好，儿童容易理解。
                %button.btn#open-btn{:type => "button"} 公开
          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              .pagination.pagination-small
                %ul
                  %li
                    %a{:href => "javascript:void(0);"} «
                  / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                  %li
                    %a{:href => "javascript:void(0);"} 1
                  %li
                    %a{:href => "javascript:void(0);"} »

        #tab3.tab-pane
          .table-box
            %table.table.table-bordered.user-table
              %caption
              %thead
                %tr
                  %th 借阅人
                  %th 借阅时间
                  %th 归还时间
              %tbody
                / - @books[:data].each do |b|
                /   %tr{class: "book-record #{ b[:available] ? "available" : "unavailable" }", "data-id" => b[:id]}
                %tr
                  %td 小明
                  %td 2016-8-23
                  %td 2016-10-23
          .select-page 
            %span.totalitems= "共6页,总计12条"
            %span.choice-page
              .pagination.pagination-small
                %ul
                  %li
                    %a{:href => "javascript:void(0);"} «
                  / - ( (@users[:previous_page] > 2 ? @users[:previous_page] - 2 : 1) .. (@users[:next_page] < @users[:total_page] - 2 ? @users[:next_page] + 2 : @users[:total_page]) ).to_a.each do |page|
                  %li
                    %a{:href => "javascript:void(0);"} 1
                  %li
                    %a{:href => "javascript:void(0);"} »
     
#editor-content.hide
  = @book.desc.html_safe


#uploadCoverModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  = form_tag(update_cover_staff_book_path(@book), method: "post", multipart: true) do
    .modal-header
      %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
      %p.caption 上传封面
    .modal-body
      .form-group.hide
        = text_field_tag :book_id, @book.id.to_s
      .form-group
        = file_field_tag "cover_file", { class: "hide", accept: ".jpg,.png" }
        %span.cover-caption 上传封面图片
        %a#browser-cover-click{href: "javascript:void(0);"} 
          %img{:src => "/assets/managecenter/upload.png"} 
        %span.notice 请选择10M内的.jpg或.png图片上传
        %p#cover-name
    .modal-footer
      = submit_tag "上传", :class => 'btn-primary btn'
      %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消


#uploadBackModal.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"} 
  = form_tag(update_back_staff_book_path(@book), method: "post", multipart: true) do
    .modal-header
      %img.close{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
      %p.caption 上传封底
    .modal-body
      .form-group.hide
        = text_field_tag :book_id, @book.id.to_s
      .form-group
        = file_field_tag "back_file", { class: "hide", accept: ".jpg,.png" }
        %span.back-caption 上传封底图片
        %a#browser-back-click{href: "javascript:void(0);"} 
          %img{:src => "/assets/managecenter/upload.png"} 
        %span.notice 请选择10M内的.jpg或.png图片上传
        %p#back-name
    .modal-footer
      = submit_tag "上传", :class => 'btn-primary btn'
      %a.btn.btn-default{href: "#", data: {dismiss: "modal"}, "aria-hidden" => "true"} 取消

