- content_for :head do
  = javascript_include_tag "pages/admin/staffs/index-bundle"
  = stylesheet_link_tag "pages/admin/staffs/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"

.content-area
  .content-box
    .manage-box
      .user-search-box
        .input-append
          %input#appendedInputButton.span2{:type => "text", :placeholder => "输入姓名", :value => "#{@keyword}"}
          %button.btn#search-btn{:type => "button"}
    .manage-content
      - if @staffs[:data].length == 0
        .undiscover
          %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
          %span.message 抱歉！暂无查找信息
      - else
        .table-box
          %table.table.table-bordered.user-table
            %caption
            %thead
              %tr
                %th 工作人员
                %th 儿童中心
                %th 联系电话
                %th 操&nbsp作
                %th 状&nbsp态
            %tbody
              - @staffs[:data].each do |u|
                %tr
                  %td= u[:name]
                  %td= u[:center]
                  %td= u[:mobile]
                  %td
                    = link_to "详情", "/admin/staffs/#{u[:id]}"
                  %td= u[:status]

        .select-page 
          %span.totalitems= "共#{@staffs[:total_page]}页,总计#{@staffs[:total_number]}条"
          %span.choice-page
            .pagination.pagination-small
              %ul
                %li
                  %a{:href => "/admin/staffs?keyword=#{@keyword}&page=#{@staffs[:previous_page]}"} «
                - ( (@staffs[:previous_page] > 2 ? @staffs[:previous_page] - 2 : 1) .. (@staffs[:next_page] < @staffs[:total_page] - 2 ? @staffs[:next_page] + 2 : @staffs[:total_page]) ).to_a.each do |page|
                  %li
                    %a{:href => "/admin/staffs?keyword=#{@keyword}&page=#{page}"}= page
                %li
                  %a{:href => "/admin/staffs?keyword=#{@keyword}&page=#{@staffs[:next_page]}"} »

