- content_for :head do
  = javascript_include_tag "pages/admin/staffs/show-bundle"
  = stylesheet_link_tag "pages/admin/staffs/show-bundle", :media => "all"
  :javascript
    window.sid = "#{@staff.id.to_s}"

.content-area
  .content-box
    .manage-box.clearfix
      %a#back{:href => "/admin/staffs"}
        %img{src: asset_path("web/back.png")}
      %p.staffs-name= @staff.name
      - if @staff.status == User::NEW
        %span.staff-status.new-staff 新账号，等待开通
        .btn.status-btn.open-btn{:type => "button"} 开通
      - elsif @staff.status == User::LOCKED
        %span.staff-status.locked-staff 账号锁定中，暂时无法使用
        .btn.status-btn.unlock-btn{:type => "button"} 解锁
      - else
        %span.staff-status.normal-staff
        .btn.status-btn.lock-btn{:type => "button"} 锁定
    .manage-content
      / %p.gender 性别：男
      %span.mobile 联系方式:
      %span= "#{@staff.mobile}"
      %form.form-horizontal{:role => "form"}
        .form-group
          %label.col-sm-2.control-label.adjust{:for => "inputEmail3"} 调整岗位:
          .col-sm-10
            = select_tag "center_id", options_for_select(Center.centers_for_select, @staff.staff_center.id.to_s), class: "form-control"
            / %input#inputEmail3.form-control{:placeholder => "Email", :type => "email"}

