- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/account-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/account-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 设置
      %a{:href => user_mobile_settings_path}
        %img.back{src: asset_path("mybook/back.png")}

    .item-div
      .item#figure
        %p 头像
        = form_tag("/", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
          = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
        %a#upload-photo{:href => "#"}
          %img.avatar-icon{:src => @current_user.avatar.present? ? @current_user.avatar.path : asset_path("web/avatar.png")}
      .item.clearfix
        %span.left 儿童姓名
        %span.right= @current_user.name
      .item.clearfix
        %span.left 账户
        %span.right= @current_user.mobile
    .item-div
      .item-box{data: {link: reset_password_user_mobile_settings_path}}
        %p 修改密码
        %a{:href => "javascript:void(0);"}
          %img.more-icon{src: asset_path("web/more.png")}
      .item-box{data: {link: profile_user_mobile_settings_path}}
        %p 个人资料
        %a{:href => "javascript:void(0);"}
          %img.more-icon{src: asset_path("web/more.png")}
      .item-box{data: {link: new_user_mobile_center_path}}
        %p 儿童中心设置
        %a{:href => "javascript:void(0);" }
          %img.more-icon{src: asset_path("web/more.png")}
    %a#exit{href: signout_user_mobile_sessions_path} 退出
    
