- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/book-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/book-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 我的绘本
      %a{:href => user_mobile_settings_path}
        %img.back{src: asset_path("mybook/back.png")}
    - if @book_borrows.blank?
      .undiscover
        %img.icon{src: asset_path("web/cry.png")}
    - else
      - @book_borrows.each do |e|
        .details{data: {id: e.book.id.to_s}}
          .left-div
            %img.visit{:src => e.book.cover.nil? ? asset_path("banner.png") : e.book.cover.path}
          .right-div
            %p.caption 
              = e.book.name
              / %span 8月14日归还
            %p.article= truncate(strip_tags(e.book.desc).strip(), length: 50)
            .location-div
              %img.location{src: asset_path("web/location.png")}
              %span.center= e.book.center.name
    / .details
    /   .left-div
    /     %img.visit{:src => "/assets/mybook/book.jpg"}
    /   .right-div
    /     %p.caption 
    /       蚯蚓的日记 
    /       %span 已逾期
    /     %p.article 简介：全套20册小学英文全套绘本各种可爱的小故事。
    /     .location-div
    /       %img.location{:src => "/assets/web/location.png"}
    /       %span.center 什刹海街道西四北社区儿童中心
    / .details
    /   .left-div
    /     %img.visit{:src => "/assets/mybook/newhome.png"}
    /   .right-div
    /     %p.caption 
    /       蚯蚓的日记 
    /       %span#return 已还
    /     %p.article 简介：小袋袋的伙伴们是不是有一个比他更棒的家？小…
    /     .location-div
    /       %img.location{:src => "/assets/web/location.png"}
    /       %span.center 西城区新街口街道社区儿童中心
