- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/book-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/book-bundle", :media => "all"
  :javascript
    window.pay_deposit = "#{@pay_deposit.to_s}"

- content_for :app_content do
  - if @pay_info.present?
    .hide
      %span#appId= @pay_info["appId"]
      %span#timeStamp= @pay_info["timeStamp"]
      %span#nonceStr= @pay_info["nonceStr"]
      %span#package= @pay_info["package"]
      %span#signType= @pay_info["signType"]
      %span#paySign= @pay_info["sign"]
  .content-area
    .header
      .cloud
        %p 我的绘本
      %a{:href => user_mobile_settings_path}
        %img.back{src: asset_path("mybook/back.png")}
    - if @book_borrows.blank?
      .undiscover
        %img.icon{src: asset_path("web/cry.png")}
    - else
      - @book_borrows.each do |e|
        .details{data: {id: e.book.id.to_s}}
          .left-div
            %img.visit{:src => e.book.cover.nil? ? asset_path("banner.png") : e.book.cover.path}
          .right-div
            %p.caption 
              = e.book.name
              / %span 8月14日归还
            %p.article= truncate(strip_tags(e.book.desc).strip(), length: 50)
            .location-div
              %img.location{src: asset_path("web/location.png")}
              %span.center= e.book.center.name

    - if @pay_info.present?
      %a.btn.click-btn#confirm-pay{href: "javascript:void(0);"} 押金100元，确认支付
    - elsif @current_user.deposit.blank? || @current_user.deposit.paid == false
      %a.btn.click-btn#deposit-pay{href: "https://open.weixin.qq.com/connect/oauth2/authorize?appid=wxfe4fd89f6f5f9f57&redirect_uri=#{CGI::escape('http://babyplan.bjfpa.org.cn/user_mobile/settings/book/')}&response_type=code&scope=snsapi_base&state=#{true}#wechat_redirect", :type => "button"} 缴纳押金
    - elsif @current_user.deposit.is_paying
      %button.btn.unclick-btn{type: "button"} 支付进行中
    - else
      %button.btn#deposit{type: "button"} 已缴押金

    / %button.btn#redeposit{type: "button"} 重新缴纳押金
    / %button.btn#deposit-pay{type: "button"} 缴纳押金

    / .details
    /   .left-div
    /     %img.visit{:src => "/assets/mybook/book.jpg"}
    /   .right-div
    /     %p.caption 
    /       蚯蚓的日记 
    /       %span 已逾期
    /     %p.article 简介：全套20册小学英文全套绘本各种可爱的小故事。
    /     .location-div
    /       %img.location{:src => "/assets/web/location.png"}
    /       %span.center 什刹海街道西四北社区儿童中心
    / .details
    /   .left-div
    /     %img.visit{:src => "/assets/mybook/newhome.png"}
    /   .right-div
    /     %p.caption 
    /       蚯蚓的日记 
    /       %span#return 已还
    /     %p.article 简介：小袋袋的伙伴们是不是有一个比他更棒的家？小…
    /     .location-div
    /       %img.location{:src => "/assets/web/location.png"}
    /       %span.center 西城区新街口街道社区儿童中心
