- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/course-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/course-bundle", :media => "all"


- content_for :app_content do
  .head-div.bg1
    %a.back-link#back{href: list_user_mobile_courses_path}
      %img.back{src: asset_path("wap/back.png")}
    %span.title.f16.font-color1.fb 我的课程
  .content-div
    .item-div
      - if @courses_participates[:data].blank?
        .undiscover
          %img.undiscover-icon{src: asset_path("wap/empty.png")}
      - else
        - @courses_participates[:data].each do |cp|
          .item{data: {id: cp[:id]}}
            .icon-div
              %img.icon{src: cp[:photo].nil? ? asset_path("wap/example.png") : cp[:photo].path}
            .word-div
              .row-div.clearfix
                %span.item-title.f14= cp[:name]
                - if Date.parse(cp[:end_date]).past?
                  %span.item-value.end-register.f12 截止报名
                - else
                  %span.item-value.f12{class: cp[:status_class]}= "￥" + cp[:status_str].to_s
              .row-div.f12.opacity54
                %span.rank 主讲人：
                %span.speaker= cp[:speaker]
              .row-div.f12.opacity54
                %img.location-icon{src: asset_path("wap/location.png")}
                %span.location= cp[:address]
        .render-more
          %p 点击加载更多
        .load-gif
          %img.loading{src: asset_path("wap/loading.gif")}

