- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/course-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/course-bundle", :media => "all"


- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 我的课程
      %a{:href => user_mobile_settings_path}
        %img.back{src: asset_path("mycourse/back.png")}
    .item
      .item-div
        - if @courses_participates[:data].blank?
          .undiscover
            %img.icon{src: asset_path("web/cry.png")}
        - else
          - @courses_participates[:data].each do |e|
            .details{data: {id: e[:id]}}
              .left-div
                %img.visit{:src => e[:photo].nil? ? asset_path("web/course.png") : e[:photo].path}
              .right-div
                %p.caption 
                  = e[:name]
                  / %span#unpaid= e.status_str
                %p.article= truncate(strip_tags(e[:content]).strip(), length: 50)
                .location-div
                  %img.location{src: asset_path("web/location.png")}
                  %span.center= e[:center]
        
          .render-more
            %p 点击加载更多 
          .load
            %img.loading{src: asset_path("loading.gif")}
        


    
