- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/favorite-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/favorite-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 收藏
      %a{:href => user_mobile_settings_path}
        %img.back{:src => "/assets/mybook/back.png"}
    - if @favorites.blank?
      .undiscover
        %img.icon{:src => "/assets/web/cry.png"}
    - else
      - @favorites.each do |f|
        .line-wrapper
          .line-scroll-wrapper.clearfix
            .line-normal-wrapper{data: {url: f.ele_url} }
              .details
                .left-div
                  %img.visit{:src => f.img_src}
                .right-div
                  %img.mini-icon{:src => "/assets/kidscenter/" + f.fav_icon + ".png"}
                  %p.caption= f.name
                  %p.article= truncate(strip_tags(f.desc).strip(), length: 50)
                  .location-div
                    %img.location{:src => "/assets/web/location.png"}
                    %span.center= f.center_str
            }
            .line-btn-delete
              %img.delete-icon{:src => "/assets/lajitong.png", data: {id: f.id.to_s}}
    / .line-wrapper
    /   .line-scroll-wrapper.clearfix
    /     .line-normal-wrapper
    /       .details
    /         .left-div
    /           %img.visit{:src => "/assets/mybook/diary.png"}
    /         .right-div
    /           %img.mini-icon{:src => "/assets/kidscenter/hui.png"}
    /           %p.caption 蚯蚓的日记
    /           %p.article 简介：这是一本极为有趣的图画书，以日记书写的方式…
    /           .location-div
    /             %img.location{:src => "/assets/web/location.png"}
    /             %span.center 什刹海街道西四北社区儿童中心
    /     .line-btn-delete
    /       %img.delete-icon{:src => "/assets/lajitong.png"}
    / .line-wrapper
    /   .line-scroll-wrapper.clearfix
    /     .line-normal-wrapper
    /       .details
    /         .left-div
    /           %img.visit{:src => "/assets/mybook/diary.png"}
    /         .right-div
    /           %p.caption 蚯蚓的日记
    /           %p.article 简介：这是一本极为有趣的图画书，以日记书写的方式…
    /           .location-div
    /             %img.location{:src => "/assets/web/location.png"}
    /             %span.center 西城区新街口街道社区儿童中心
    /     .line-btn-delete
    /       %img.delete-icon{:src => "/assets/lajitong.png"}

    
    
    
    


  