- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/index-bundle", :media => "all"
  :javascript
    window.signin = "#{@signin}"

- content_for :app_content do
  .content-area
    %img.headcloud{src: asset_path("headcloud.png")}
    %a{:href => message_user_mobile_settings_path}
      %img.mail{src: asset_path("mail.png")}
      - if @msg_num > 0
        .notice-num= @msg_num
    %a{:href => account_user_mobile_settings_path}
      %img.set{src: asset_path("setting.png")}
    %a{:href => user_mobile_feeds_path}
      %img.back{src: asset_path("back.png")}
    .face.clearfix
      %img.avator-icon{:src => @current_user.avatar.present? ? @current_user.avatar.path : asset_path("web/boy.png")}
      %p.username= @current_user.name_or_parent

    .collect-div
      %a.collect{:href => favorite_user_mobile_settings_path}
        .icon-div
          %img.icon{src: asset_path("heart.png")}
        .span-div
          %span.content 我的收藏
        .icon-div
          %img.icon{src: asset_path("rightarrow.png")}
    .collect-div
      %a.collect{:href => course_user_mobile_settings_path}
        .icon-div
          %img.icon{src: asset_path("c-box.png")}
        .span-div
          %span.content 我的课程
        .icon-div
          %img.icon{src: asset_path("rightarrow.png")}
    .collect-div
      %a.collect{:href => book_user_mobile_settings_path}
        .icon-div
          %img.icon{src: asset_path("smile.png")}
        .span-div
          %span.content 我的绘本
        .icon-div
          %img.icon{src: asset_path("rightarrow.png")}
    .collect-div
      %a#signin-course.collect{:href => "javascript:void(0);"}
        .icon-div
          %img.icon{src: asset_path("sign.png")}
        .span-div
          %span.content 签&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp到
        .icon-div
          %img.icon{src: asset_path("rightarrow.png")}
    .collect-div
      %a.collect{:href => new_user_mobile_center_path}
        .icon-div
          %img.icon{src: asset_path("center-set.png")}
        .span-div
          %span.content 中心设置
        .icon-div
          %img.icon{src: asset_path("rightarrow.png")}
   