- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/profile-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/profile-bundle", :media => "all"
  :javascript
    window.birthday_str="#{@current_user.birthday_str}"
    window.unnamed="#{@unnamed}"

- content_for :app_content do
  .content-area
    .header
      .cloud
        %p 个人资料
      %a{:href => account_user_mobile_settings_path}
        %img.back{src: asset_path("mybook/back.png")}

    .item-div
      .item-box#num1
        %span.item 儿童姓名：
        %input.input-div#name{value: @current_user.name}
      .item-box#num2
        %span.item 出生日期：
        %input.input-div#datepicker{value: @current_user.birthday_str}
      .item-box#num3
        %span.item 性别：
        = select_tag "gender", options_for_select(User.genders_for_select, @current_user.gender), class: "input-div"
      .item-box
        %span.item 家长姓名：
        %input.input-div#parent{value: @current_user.parent}
      .item-box
        %span.item#address-span 详细地址：
        %textarea#address{value: @current_user.address, rows: "3"}= @current_user.address
    .check_box.pregnant
      %label.no-bold
        %input#choice{type: "checkbox", checked: @current_user.is_pregnant} 我是准爸爸或准妈妈
    .btn-div
      %button.btn#confirm 确定