- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/settings/sign-bundle"
  = stylesheet_link_tag "pages/user_mobile/settings/sign-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .desc-div
      - if @success == true
        .success-div
          .item
            %img.icon{src: asset_path("web/finish.png")}
            %span.success 签到成功
          .item
            %span 课程：
            %span= @course.name || @course.course.name
          .item
            %span 上课中心:
            %span= @course.center.name
          .item= "第" + @class_num + "次课签到成功"
      - else
        .fail-div
          %p.fail 签到失败
          - if @err = "course_inst_not_exist"
            %p.notice 课程不存在！
          - else
            %p.notice 您未报这门课程！
    .btn-div
      - if @success == true
        %a.btn#desc{href: "/user_mobile/courses/" + @course.id.to_s} 查看详情
      - else
        / 失败时显示为返回,需要删掉一条
        %a.btn#desc{href: "/user_mobile/settings"} 返回

