- content_for :head do
  = javascript_include_tag "pages/staff/statistics/index-bundle"
  = stylesheet_link_tag "pages/staff/statistics/index-bundle", :media => "all"
  :javascript
    window.start_time = "#{@start_time}"
    window.end_time = "#{@end_time}"
    window.profile = "#{@profile}"

.content-area
  .manage-content
    .tabbable
      %ul.nav.nav-tabs
        %li.active
          %a#kids-message{"data-toggle" => "tab", :href => "#tab1"} 儿童统计
        %li
          %a#course-review{"data-toggle" => "tab", :href => "#tab2"} 课程统计
        %li
          %a#book-review{"data-toggle" => "tab", :href => "#tab3"} 绘本统计
        / %li
        /   %a#cash-statistics{"data-toggle" => "tab", :href => "#tab4"} 金额统计

      .tab-content
        #tab1.tab-pane.active
          / .undiscover
          /   %img.undiscover-icon{src: asset_path("managecenter/no-data.png")}
          /   %p.no-data-message 暂无统计数据
          .pie-box
            .gender-pie
              %p.pie-title 性别比例
              .figure-box
                #gender-statistics
            .age-pie
              %p.pie-title 年龄比例
              .figure-box
                #age-statistics
          .kids-nums
            %p.column-title 儿童数量（近10周增长）
            .figure-box
              #nums-statistics
        #tab2.tab-pane
          .desc
            .search
              %form.form-inline
                .form-group.form-time
                  %span.input-caption　查询时段:
                  %input.input-area.form-control#datepicker-1{:type => "text"}
                  %span.input-caption 至
                  %input.input-area.form-control#datepicker-2{:type => "text"}
                  .btn#course-search-btn.search-btn{:type => "button"} 查询
                  = select_tag "course-quick-choice", options_for_select(Statistic.duration_for_select, 1.months.to_i), class: "form-control quick-choice"
            .statistics-chart
              .borrow
                .left-div
                  %p.column-title 报名情况
                  .tab-chart-div
                    .total-div
                      %p#total-signup.total-nums 91234
                      %p.total-category 人次
                    .chart-div
                      #register-statistics
                .right-div
                  %p.column-title.review-title 评价排名
                  %table.table.table-bordered#review-table
                    %tbody
                    - @course_rank[:review_rank].each_with_index do |e, i|
                      %tr
                        %td.td-data= i + 1
                        %td.td-data= link_to truncate(e[:name], length: 10), "/staff/courses/#{e[:id]}"
                        %td.td-data= e[:review_score]

              .collection
                .left-div
                  %p.column-title 课程收入
                  .tab-chart-div
                    .income-div
                      %p#total-money.total-nums 91234
                      %p.total-category 元
                    .chart-column-div
                      #income-statistics
                .right-div
                  %p.column-title.review-title 报名排名
                  %table.table.table-bordered#review-table
                    %tbody
                    - @course_rank[:cp_rank].each_with_index do |e, i|
                      %tr
                        %td.td-data= i + 1
                        %td.td-data= link_to truncate(e[:name], length: 10), "/staff/courses/#{e[:id]}"
                        %td.td-data= e[:cp_num]

              .school
                .left-div
                  %p.column-title 各授课单位收入情况
                  #school-income-statistics
                .right-div

        #tab3.tab-pane
          .desc
            .search
              %form.form-inline
                .form-group.form-time
                  %span.input-caption　查询时段:
                  %input.input-area.form-control#datepicker-3{:type => "text"}
                  %span.input-caption 至
                  %input.input-area.form-control#datepicker-4{:type => "text"}
                  .btn#book-search-btn.search-btn{:type => "button"} 查询
                  = select_tag "book-quick-choice", options_for_select(Statistic.duration_for_select, 1.months.to_i), class: "form-control quick-choice"
            .statistics-chart
              .borrow
                .left-div
                  %p.column-title 借阅情况
                  .tab-chart-div
                    .total-div
                      %p#total-borrow.total-nums 91234
                      %p.total-category 人次
                    .chart-div
                      #borrow-statistics
                .right-div
                  %p.column-title.review-title 评价排名
                  %table.table.table-bordered#review-table
                    %tbody
                    - @book_rank[:review_rank].each_with_index do |e, i|
                      %tr
                        %td.td-data= i + 1
                        %td.td-data= link_to truncate(e[:name], length: 10), "/staff/books/#{e[:id]}"
                        %td.td-data= e[:review_score]

              .collection
                .left-div
                  %p.column-title 馆藏情况
                  #collect-statistics
                .right-div
                  %p.column-title.review-title 借阅排名
                  %table.table.table-bordered#review-table
                    %tbody
                    - @book_rank[:borrow_rank].each_with_index do |e, i|
                      %tr
                        %td.td-data= i + 1
                        %td.td-data= link_to truncate(e[:name], length: 10), "/staff/books/#{e[:id]}"
                        %td.td-data= e[:borrow_num]

        #tab4.tab-pane
          .desc
            .search
              %form.form-inline
                .form-group.form-time
                  %span.input-caption　查询时段:
                  %input.input-area.form-control#datepicker-5{:type => "text"}
                  %span.input-caption 至
                  %input.input-area.form-control#datepicker-6{:type => "text"}
                  .btn#bill-search-btn.search-btn{:type => "button"} 查询
            - if @bills[:data].length == 0
              .undiscover
                %img.undiscover-icon{src: asset_path("managecenter/no-data.png")}
                %p.no-data-message 暂无统计数据
            - else
              .courses-income-box
                %p.income-title 金额合计
                .income-box
                  .income-items
                    %p.income-caption 收入合计(元)
                    %p.income-nums= @stat[:total_amount]
                  .income-items
                    %p.income-caption 微信收入(元)
                    %p.income-nums= @stat[:weixin_amount]
                  .income-items#goverment
                    %p.income-caption 现金收入(元)
                    %p.income-nums= @stat[:offline_amount]
              .table-box
                %table.table.table-bordered#income-table
                  %thead
                    %tr
                      %th 操作日期
                      %th 具体时间
                      %th 学生姓名
                      %th 款项来源
                      %th 具体项目
                      %th 收费方式
                      %th 金&nbsp额
                  %tbody
                    - @bills[:data].each do |e|
                      %tr
                        %td.td-data= e[:date]
                        %td.td-data= e[:time]
                        %td.td-data= e[:name]
                        %td.td-data= e[:fund_type]
                        %td.td-data= e[:course_name]
                        %td.td-data= e[:fund_channel]
                        %td.td-data{class: e[:amount_class]}= e[:amount_nums]
              .select-page 
                %span.totalitems= "共#{@bills[:total_page]}页,总计#{@bills[:total_number]}条"
                %span.choice-page
                  %ul.pagination.pagination-sm
                    %li
                      %a{:href => "/staff/statistics?start_time=#{@start_time}&end_time=#{@end_time}&page=#{@bills[:previous_page]}&profile=amount"} «
                    - ( (@bills[:previous_page] > 2 ? @bills[:previous_page] - 2 : 1) .. (@bills[:next_page] < @bills[:total_page] - 2 ? @bills[:next_page] + 2 : @bills[:total_page]) ).to_a.each do |page|
                      %li
                        %a{:href => "/staff/statistics?start_time=#{@start_time}&end_time=#{@end_time}&page=#{page}&profile=amount"}= page
                    %li
                      %a{:href => "/staff/statistics?start_time=#{@start_time}&end_time=#{@end_time}&page=#{@bills[:next_page]}&profile=amount"} »

                    



