- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/feeds/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/feeds/index-bundle", :media => "all"
  :javascript
    window.keyword="#{@keyword}"

- content_for :app_content do
  .content-area
    = render "user_mobile/partials/list_header", list_type: "feeds"
    = render "user_mobile/partials/no_centers"
    - if User.see_feeds(@current_user)
      - if @feeds.present?
        - @feeds.each do |e|
          .content{data: {path: e.path.to_s}}
            .left-div
              %img.visit{:src => e.img_src}
            .right-div
              %img.icon{src: asset_path("kidscenter/" + e.feed_icon + ".png")}
              %p.caption= e.name
              %p.message= truncate(strip_tags(e.desc).strip(), length: 50)
              .location-div
                %img.location{src: asset_path("web/location.png")}
                %span.center= e.center_str
        - if @current_user.try(:is_client)
          .render-more
            %p 加载更多 
          .load
            %img.loading{src: asset_path("loading.gif")}
      - else
        .unfound
          %img.unfound-icon{src: asset_path("web/cry.png")}
