- content_for :head do
  = javascript_include_tag "pages/staff/announcements/index-bundle"
  = stylesheet_link_tag "pages/staff/announcements/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"

.content-area
  .main-top.direction
    .user-search-box.f14.bg2
      %input.input-style#search-input.font-color3{:type => "text", :placeholder => "请输入公告标题关键字", value: "#{@keyword}"}
      .search#search-btn
    %ul.set
      %li
        %a.f16{href: staff_accounts_path} 账号设置
      %li
        %a.f16.set-left-border{href: signout_sessions_path} 退出登录
        / %a.f16.set-left-border= link_to "退出登录",  signin_page_sessions_path, class: "类名", method: :delete
  .main-content.bg2
    %button.btn.new-normal.font-color1.btn-position#announce-add{type: "button"} 添加公告
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1{"data-toggle" => "tab", :href => "#tab1"} 所有公告
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div
              - if @notices[:data].length == 0
                .undiscover.f14
                  %img.undiscover-icon{src: asset_path("undiscover.png")}
              - else
                - @notices[:data].each do |e|
                  .announce-items
                    %a.img-div{href: "/staff/announcements/" + e.id.to_s }
                      %img.announce-icon{src: e.photo.present? ? e.photo.path : asset_path("announce-icon.png")}
                    .word-div
                      .head-div.clearfix
                        %p.fl.f16.notice-caption= link_to e.title, "/staff/announcements/#{e.id.to_s}", class: "font-color2"
                        - if e.is_published
                          %p.announce-status.fr.f12.font-color-green 已公布
                        - else
                          %p.announce-status.fr.f12.font-color-red 未公布
                        / 当显示评论时为finish-normal
                      %p.desc.f14.font-color3#judge-length= truncate(e.plain_text, length: 170)
                      .time-div.font-color4.f12
                        %span.review-time= e.created_at.strftime("%Y/%m/%d %H:%M")
                = render "staff/partials/auto_paginate", locals: { instance: @notices, url: "/staff/announcements?keyword=#{@keyword}", page: 'page'}
                / .select-page 
                /   %span.totalitems= "共#{@notices[:total_page]}页，总计#{@notices[:total_number]}条"
                /   %span.choice-page
                /     %ul.pagination.pagination-sm
                /       %li
                /         %a{href: "/staff/announcements?keyword=#{@keyword}&page=#{@notices[:previous_page]}"} «
                /       - ( (@notices[:previous_page] > 2 ? @notices[:previous_page] - 2 : 1) .. (@notices[:next_page] < @notices[:total_page] - 2 ? @notices[:next_page] + 2 : @notices[:total_page]) ).to_a.each do |page|
                /         %li
                /           %a{href: "/staff/announcements?keyword=#{@keyword}&page=#{page}"}= page
                /       %li
                /         %a{href: "/staff/announcements?keyword=#{@keyword}&page=#{@notices[:next_page]}"} »
            
           
