- content_for :head do
  = javascript_include_tag "pages/staff/announcements/index-bundle"
  = stylesheet_link_tag "pages/staff/announcements/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"
    window.profile = "#{@profile}"

.content-area
  .content-box
    .manage-box
      .user-search-box
        .input-group
          %input.form-control#search-input{:type => "text", :placeholder => "输入搜索关键字", :value => "#{@keyword}"}
          %span.input-group-btn
            %button.btn.btn-default#search-btn{:type => "button"}
      .btn.add-btn{:type => "button"} 
        %img.add-img{src: asset_path("managecenter/add.png")}
        添加本区公告
    .manage-content
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1"} 本区公告
          %li
            %a{"data-toggle" => "tab", :href => "#tab2"} 全局公告

        .tab-content
          #tab1.tab-pane.active
            - if @local_eles[:data].length == 0
              .undiscover
                %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                %span.message 抱歉！暂无查找信息
            - else
              - @local_eles[:data].each do |e|
                .introduce
                  %a{href: "/staff/announcements/" + e.id.to_s}
                    %img.visit{:src => e.photo.present? ? e.photo.path : asset_path("web/announcement.png"), width: "190", height: "129"}
                  %p.caption-header
                    %span.caption= link_to e.title, "/staff/announcements/#{e.id.to_s}"
                    %span#time-flag= e.created_at.strftime("%Y-%m-%d %H-%M")
                    %a.undeclared{:href => "javascript:void(0);"}= e.status_str
                  .desc
                    = e.plain_text
              .select-page 
                %span.totalitems= "共#{@local_eles[:total_page]}页,总计#{@local_eles[:total_number]}条"
                %span.choice-page
                  %ul.pagination.pagination-sm
                    %li
                      %a{:href => "/staff/announcements?profile=local&keyword=#{@keyword}&local_page=#{@local_eles[:previous_page]}"} «
                    - ( (@local_eles[:previous_page] > 2 ? @local_eles[:previous_page] - 2 : 1) .. (@local_eles[:next_page] < @local_eles[:total_page] - 2 ? @local_eles[:next_page] + 2 : @local_eles[:total_page]) ).to_a.each do |page|
                      %li
                        %a{:href => "/staff/announcements?profile=local&keyword=#{@keyword}&local_page=#{page}"}= page
                    %li
                      %a{:href => "/staff/announcements?profile=local&keyword=#{@keyword}&local_page=#{@local_eles[:next_page]}"} »
            
          #tab2.tab-pane
            - if @global_eles[:data].length == 0
              .undiscover
                %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                %span.message 抱歉！暂无查找信息
            - else
              - @global_eles[:data].each do |e|
                .introduce
                  %a{href: "/staff/announcements/" + e.id.to_s}
                    %img.visit{:src => e.photo.present? ? e.photo.path : asset_path("web/announcement.png"), width: "190", height: "129"}
                  %p.caption-header
                    %span.caption= link_to e.title, "/staff/announcements/#{e.id.to_s}"
                    %span#time-flag= e.created_at.strftime("%Y-%m-%d %H:%M")
                    %a.undeclared{:href => "javascript:void(0);"}= e.status_str
                  .desc
                    = e.plain_text
              .select-page 
                %span.totalitems= "共#{@global_eles[:total_page]}页,总计#{@global_eles[:total_number]}条"
                %span.choice-page
                  %ul.pagination.pagination-sm
                    %li
                      %a{:href => "/staff/announcements?profile=global&keyword=#{@keyword}&global_page=#{@global_eles[:previous_page]}"} «
                    - ( (@global_eles[:previous_page] > 2 ? @global_eles[:previous_page] - 2 : 1) .. (@global_eles[:next_page] < @global_eles[:total_page] - 2 ? @global_eles[:next_page] + 2 : @global_eles[:total_page]) ).to_a.each do |page|
                      %li
                        %a{:href => "/staff/announcements?profile=global&keyword=#{@keyword}&global_page=#{page}"}= page
                    %li
                      %a{:href => "/staff/announcements?profile=global&keyword=#{@keyword}&global_page=#{@global_eles[:next_page]}"} »
           
