- content_for :head do
  = javascript_include_tag "pages/staff/announcements/new-bundle"
  = stylesheet_link_tag "pages/staff/announcements/new-bundle", :media => "all"

.content-area
  .main-top.direction
    %a{href: staff_announcements_path}
      %img.back{src: asset_path("back.png")}
    = render "staff/partials/account_set"
    
  .main-content.bg2
    %label.checkbox-inline.open.f14.font-color3#available
      %input#unshelve{:type => "checkbox"} 暂不发布
    %button.btn.finish-normal.font-color1.finish-btn-position#finish-btn{type: "button"} 完成
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1{"data-toggle" => "tab", :href => "#tab1"} 所有公告
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div.font-color3.f14
              .form-group
                %label.input-name.fn 公告标题:
                %input.form-control#input-caption{:type => "text"}
              .phont-inline
                %span 封面配图:
                = form_tag("/", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
                  = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
                %a#upload-photo{href: "javascript:void(0);"}
                  %img.photo{src: asset_path("default-anc.png")}
              .notice-introduce.clearfix
                %span.introduce 公告正文:
                .wangedit-area
                  #edit-box

      