- content_for :head do
  = javascript_include_tag "pages/staff/announcements/show-bundle"
  = stylesheet_link_tag "pages/staff/announcements/show-bundle", :media => "all"
  :javascript
    window.aid = "#{@announcement.id.to_s}"

.content-area
  .main-top.direction
    %a{href: staff_announcements_path}
      %img.back{src: asset_path("back.png")}
    %ul.set
      %li
        %a.f16{href: staff_accounts_path} 账号设置
      %li
        %a.f16.set-left-border{href: signout_sessions_path} 退出登录
        / %a.f16.set-left-border= link_to "退出登录",  signin_page_sessions_path, class: "类名", method: :delete
  .main-content.bg2
    - if @announcement.is_published
      %button.btn.delete-normal.font-color1.unshelve-btn-position#unshelve-btn.operation{type: "button"} 不公布
    - else
      %button.btn.new-normal.font-color1.unshelve-btn-position#shelve-btn.operation{type: "button"} 公布
    %button.btn.edit-normal.font-color1.create-btn-position#edit-btn{type: "button"} 编辑
    %button.btn.edit-normal.font-color1.create-btn-position#finish-btn{type: "button"} 完成

    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1#course-message{"data-toggle" => "tab", :href => "#tab1"} 所有公告
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div
              .display-box
                .display-area
                  %p.caption-header#show-caption.f24.font-color2= @announcement.title
                  %img.photo{class: @announcement.photo.present? ? "" : "hide", src: @announcement.photo.try(:path)}
                  .display-content.f16.font-color2
                    = @announcement.content.html_safe

              / 点击edit-btn后display-box隐藏，edit-area显示
              .edit-area.font-color3
                .form-group
                  %label.input-name.f14 公告标题:
                  %input.form-control#input-caption{:type => "text"}
                .phont-inline
                  %span.f14 封面配图:
                  = form_tag("/", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
                    = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
                  %a#upload-photo{href: "javascript:void(0);"}
                    %img.edit-photo{src: asset_path("default-anc.png")}
                .notice-introduce.clearfix
                  %span.introduce.f14 公告正文:
                  .wangedit-area.f16
                    #edit-box




/ .content-area
/   .content-box
/     .manage-box.clearfix
/       %a#back{:href => "/staff/announcements?profile=" + (@announcement.center.present? ? "local" : "global")}
/         %img{src: asset_path("web/back.png")}
/       %p.local-notice= @announcement.center.present? ? "本区公告" : "全局公告"
/       - if @announcement.center.present?
/         .btn.end-btn{:type => "button"} 
/           %img.end-img{src: asset_path("managecenter/ticker.png")}
/           完成
/         .btn.edit-btn{:type => "button"} 
/           %img.edit-img{src: asset_path("managecenter/edit.png")}
/           编辑
/         - if @announcement.is_published
/           .btn.unshelve-btn.published{:type => "button"} 
/             %img.unshelve{src: asset_path("managecenter/unshelve.png")}
/             %span 隐藏
/         - else
/           .btn.unshelve-btn.unpublished{:type => "button"} 
/             %img.unshelve{src: asset_path("managecenter/shelve.png")}
/             %span 公布

/     .manage-content
/       .display-box
/         .display-area
/           %p.caption-header#show-caption= @announcement.title
/           %img.photo{class: @announcement.photo.present? ? "" : "hide", src: @announcement.photo.try(:path)}
/           .display-content
/             = @announcement.content.html_safe

/       / 点击edit-btn后display-box隐藏，edit-area显示
/       .edit-area
/         .form-group
/           %label.input-name 公告标题:
/           %input.form-control#input-caption{:type => "text"}
/         .phont-inline
/           %span 封面配图:
/           = form_tag("/", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
/             = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
/           %a#upload-photo{href: "javascript:void(0);"}
/             %img.edit-photo{:src => @announcement.photo.present? ? @announcement.photo.path : asset_path("web/add-photo.png")}
/         .notice-introduce.clearfix
/           %span.introduce 公告正文:
/           .wangedit-area
/             #edit-box


