- content_for :head do
  = javascript_include_tag "pages/staff/announcements/show-bundle"
  = stylesheet_link_tag "pages/staff/announcements/show-bundle", :media => "all"
  :javascript
    window.aid = "#{@announcement.id.to_s}"

.content-area
  .content-box
    .manage-box.clearfix
      %a#back{:href => "/staff/announcements?profile=" + (@announcement.center.present? ? "local" : "global")}
        %img{src: asset_path("web/back.png")}
      %p.local-notice= @announcement.center.present? ? "本区公告" : "全局公告"
      - if @announcement.center.present?
        .btn.end-btn{:type => "button"} 
          %img.end-img{src: asset_path("managecenter/ticker.png")}
          完成
        .btn.edit-btn{:type => "button"} 
          %img.edit-img{src: asset_path("managecenter/edit.png")}
          编辑
        - if @announcement.is_published
          .btn.unshelve-btn.published{:type => "button"} 
            %img.unshelve{src: asset_path("managecenter/unshelve.png")}
            %span 隐藏
        - else
          .btn.unshelve-btn.unpublished{:type => "button"} 
            %img.unshelve{src: asset_path("managecenter/shelve.png")}
            %span 公布

    .manage-content
      .display-box
        .display-area
          %p.caption-header#show-caption= @announcement.title
          %img.photo{class: @announcement.photo.present? ? "" : "hide", src: @announcement.photo.try(:path)}
          .display-content
            = @announcement.content.html_safe

      / 点击edit-btn后display-box隐藏，edit-area显示
      .edit-area
        .form-group
          %label.input-name 公告标题:
          %input.form-control#input-caption{:type => "text"}
        .phont-inline
          %span 封面配图:
          = form_tag("/", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
            = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
          %a#upload-photo{href: "javascript:void(0);"}
            %img.edit-photo{:src => @announcement.photo.present? ? @announcement.photo.path : asset_path("web/add-photo.png")}
        .notice-introduce.clearfix
          %span.introduce 公告正文:
          .wangedit-area
            #edit-box


