- content_for :head do
  = javascript_include_tag "pages/staff/transfers/index-bundle"
  = stylesheet_link_tag "pages/staff/transfers/index-bundle", :media => "all"
  :javascript
    window.keyword="#{@keyword}"
    window.profile="#{@profile}"


.content-area
  .content-box
    .manage-box
      .user-search-box
        .input-group
          %input.form-control#search-input{:type => "text", :placeholder => "输入中心名称", :value => "#{@keyword}"}
          %span.input-group-btn
            %button.btn.btn-default#search-btn{:type => "button"}
    .manage-content
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a#out-transfers{"data-toggle" => "tab", :href => "#tab1"} 迁出记录
          %li
            %a#in-transfers{"data-toggle" => "tab", :href => "#tab2"} 迁入记录

        .tab-content
          #tab1.tab-pane.active
            .moveout-box
              - if @out_transfers[:data].blank?
                .undiscover
                  %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                  %span.undiscover-message 抱歉！暂无迁移信息
              - else
                .table-box
                  %table.table.table-bordered#user-table
                    %thead
                      %tr
                        %th 迁出时间
                        %th 迁入中心
                        %th 绘本数量
                        %th 迁移状态
                        %th 操&nbsp作
                    %tbody
                      - @out_transfers[:data].each do |e|
                        %tr
                          %td= e[:out_time].present? ? Time.at(e[:out_time]).strftime("%Y.%m.%d") : ""
                          %td= e[:in_center]
                          %td= e[:count]
                          %td#status{class: e[:status_class]}= e[:status_str]
                          %td
                            %a.details{:href => "/staff/transfers/#{e[:id]}"} 详情
                            - if e[:count] == 0 && e[:status] == Transfer::PREPARE
                              %a.details{:href => "/staff/transfers/#{e[:id]}/remove"} 删除
                .select-page 
                  %span.totalitems= "共#{@out_transfers[:total_page]}页,总计#{@out_transfers[:total_number]}条"
                  %span.choice-page
                    %ul.pagination.pagination-sm
                      %li
                        %a{:href => "/staff/transfers?keyword=#{@keyword}&page=#{@out_transfers[:previous_page]}"} «
                      - ( (@out_transfers[:previous_page] > 2 ? @out_transfers[:previous_page] - 2 : 1) .. (@out_transfers[:next_page] < @out_transfers[:total_page] - 2 ? @out_transfers[:next_page] + 2 : @out_transfers[:total_page]) ).to_a.each do |page|
                        %li
                          %a{:href => "/staff/transfers?keyword=#{@keyword}&page=#{page}"}= page
                      %li
                        %a{:href => "/staff/transfers?keyword=#{@keyword}&page=#{@out_transfers[:next_page]}"} »
          #tab2.tab-pane  
            .movein-box
              - if @in_transfers[:data].blank?
                .undiscover
                  %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                  %span.undiscover-message 抱歉！暂无迁移信息
              - else
                .table-box
                  %table.table.table-bordered#user-table
                    %thead
                      %tr
                        %th 迁入时间
                        %th 迁出中心
                        %th 绘本数量
                        %th 迁移状态
                        %th 操&nbsp作
                    %tbody
                      - @in_transfers[:data].each do |e|
                        %tr
                          %td= e[:in_time].present? ? Time.at(e[:in_time]).strftime("%Y.%m.%d") : ""
                          %td= e[:out_center]
                          %td= e[:count]
                          %td#status{class: e[:status_class]}= e[:status_str]
                          %td
                            %a.details{:href => "/staff/transfers/#{e[:id]}"} 详情
                .select-page 
                  %span.totalitems= "共#{@in_transfers[:total_page]}页,总计#{@in_transfers[:total_number]}条"
                  %span.choice-page
                    %ul.pagination.pagination-sm
                      %li
                        %a{:href => "/staff/transfers?profile=in&keyword=#{@keyword}&page=#{@in_transfers[:previous_page]}"} «
                      - ( (@in_transfers[:previous_page] > 2 ? @in_transfers[:previous_page] - 2 : 1) .. (@in_transfers[:next_page] < @in_transfers[:total_page] - 2 ? @in_transfers[:next_page] + 2 : @in_transfers[:total_page]) ).to_a.each do |page|
                        %li
                          %a{:href => "/staff/transfers?profile=in&keyword=#{@keyword}&page=#{page}"}= page
                      %li
                        %a{:href => "/staff/transfers?profile=in&keyword=#{@keyword}&page=#{@in_transfers[:next_page]}"} »