- content_for :head do
  = javascript_include_tag "pages/staff/transfers/show-bundle"
  = stylesheet_link_tag "pages/staff/transfers/show-bundle", :media => "all"

.content-area
  .content-box
    .manage-box
      %a#back{:href => "/staff/transfers?profile=" + @profile.to_s}
        %img{src: asset_path("web/back.png")}
      %p.transfer-status 迁移详情
  .manage-content
    .desc
      .controls.controls-row
        %label.input-caption 迁出地点:
        %span.unedit-box.text-ellipsis= @transfer.out_center.name
        %label.input-caption 迁入地点:
        %span.unedit-box.text-ellipsis= @transfer.in_center.name
        %label.input-caption 迁移状态:
        %span.unedit-box= @transfer.status_str
        
      .controls.controls-row
        %label.input-caption 迁出时间:
        %span.unedit-box= @transfer.out_time.present? ? @transfer.out_time.strftime("%Y-%m-%d %H:%M") : ""
        %label.input-caption 迁入时间:
        %span.unedit-box= @transfer.in_time.present? ? @transfer.in_time.strftime("%Y-%m-%d %H:%M") : ""
        %label.input-caption 数量:
        %span.unedit-box= @transfer.book_insts.count
    .table-box
      %table.table.table-bordered#book-table
        %thead
          %tr
            %th 绘本名称
            %th 数&nbsp量
            %th 作&nbsp者
            %th ISBN编码
            %th 备注
        %tbody
          - @books_info_detail[:data].each do |info|
            %tr
              %td.td-data= info["name"]
              %td.td-data= info["count"]
              %td.td-data= info["author"]
              %td.td-data= info["isbn"]
              %td.td-data.red= (@transfer.status == Transfer::ABNORMAL && info["lost_count"] > 0) ? "缺失" + info["lost_count"].to_s + "本" : ""
    = render "staff/partials/auto_paginate", locals: { instance: @books_info_detail, url: "/staff/transfers/#{@transfer.id.to_s}?", page: 'page'}
