- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/sessions/index-bundle"
  = stylesheet_link_tag "pages/user_mobile/sessions/index-bundle", :media => "all"

- content_for :app_content do
  .content-area
    %img.cloudblock{src: asset_path("cloudblock.png")}
    %img.frontcloud{src: asset_path("frontcloud.png")}
    %a{:href => (@current_user.present? && @current_user.is_client) ? user_mobile_settings_path : new_user_mobile_session_path }
      %img.user{src: asset_path("kidscenter/user.png")}
    
    .img_gallery
      .point
        - @announcements.each_with_index do |e, i|
          %a{:href => "#"}= "#{i + 1}"
      .main_img
        %ul
          - @announcements.each do |e|
            %li
              .notice-div{data: {id: e.id.to_s}}
                .caption= truncate(e.title, length: 16)
                .notice-content= truncate(e.plain_text, length: 80)
        %a#btn_prev{:href => "#"}
        %a#btn_next{:href => "#"}
      
    .tagchoice
      %img.circle{src: asset_path("circle.png")}
      %a{:href => user_mobile_announcements_path}
        %img.notice{src: asset_path("notice.png"), :alt => "公告"}
      %a{:href => user_mobile_books_path}
        %img.book{src: asset_path("book.png"), :alt => "绘本"}
      %a{:href => user_mobile_courses_path}
        %img.course{src: asset_path("course.png"), :alt => "课程"}
    %img.footer{src: asset_path("tree.png")}





