- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/books/show-bundle"
  = stylesheet_link_tag "pages/user_mobile/books/show-bundle", :media => "all"
  :javascript
    window.book_id="#{@book.id.to_s}"

- content_for :app_content do
  .content-area
    .header
      %img.crocodile{:src => @book.cover.present? ? @book.cover.path : "/assets/web/book.png"}
      / %a{:href => @back == "setting" ? "/user_mobile/settings/book" : "/user_mobile/books"}
      %a{:href => book_back_url(@back)}
        %img.back{:src => "/assets/back.png"}
    .right-float
      %a.a-div#concern{:href => "javascript:void(0);"}
        - if @current_user.favorite_on(@book)
          %img.smallheart{:src => "/assets/concern.png", data: {fav: "false"}}
        - else
          %img.smallheart{:src => "/assets/cancel-concern.png", data: {fav: "true"}}
      %a.a-div{:href => user_mobile_reviews_path + "?back=" + @back.to_s + "&review_type=book&book_id=" + @book.id.to_s}
        %img.dialog{:src => "/assets/pinglun.png"}
      %p.num= @book.reviews.count.to_s
    .boxtitle
      .bookcloud
        %p= @book.name
    .content
      - if @book.age_range_str.present?
        .item
          %span 适合年龄：
          %span.age= @book.age_range_str
      - if @book.author.present?
        .item
          %span.moveright 作者：
          %span.author= @book.author
      - if @book.translator.present?
        .item
          %span.moveright 译者：
          %span.translator= @book.translator
      - if @book.illustrator.present?
        .item
          %span 插图作者：
          %span.illustrtor= @book.illustrator
      - if @book.tags.present?
        .item
          %span 书籍标签：
          %span.type= @book.tags
    .title-div
      %p 书籍介绍
    .article
      = @book.desc.html_safe
    .title-div
      %p 馆藏情况
    .content
      .item 
        %p.center= @book.center.name
      .item
        %span 中心剩余
        / %span.residual= @book.stock - @book.book_borrows.count
        %span.residual= [0, @book.stock - @book.book_borrows.where(status: BookBorrow::NORMAL, return_at: nil).length].max
        %span 本
      .item
        %span 地址：
        %span#address= @book.center.address
