- content_for :app_head do
  = javascript_include_tag "pages/user_mobile/books/show-bundle"
  = stylesheet_link_tag "pages/user_mobile/books/show-bundle", :media => "all"

- content_for :app_content do
  .content-area
    .header
      %img.crocodile{:src => "/assets/crocodile.png"}
      %a{:href => @back == "books" ? "/user_mobile/books" : "/user_mobile/feeds"}
        %img.back{:src => "/assets/back.png"}
    .right-float
      %a.a-div{:href => "#"}
        %img.smallheart{:src => "/assets/aixinhong.png"}
      %a.a-div{:href => "#"}
        %img.dialog{:src => "/assets/pinglun.png"}
      %p.num= @book.feedbacks.count.to_s
    .boxtitle
      .bookcloud
        %p= @book.name
    .content
      - if @book.age_range_str.present?
        .item
          %span 适合年龄：
          %span.age= @book.age_range_str
      - if @book.author.present?
        .item
          %span.moveright 作者：
          %span.author= @book.author
      - if @book.translator.present?
        .item
          %span.moveright 译者：
          %span.translator= @book.translator
      - if @book.illustrator.present?
        .item
          %span 插图作者：
          %span.illustrtor= @book.illustrator
      - if @book.tags.present?
        .item
          %span 书籍类型：
          %span.type= @book.tags
    .title-div
      %p 书籍介绍
    .article
      = @book.desc.html_safe
      / %p 这是一本很酷而且很有意思的图画书，书 |
      /   名乍一看很吓人，但其中的故事似乎又与我们 |
      /   的生活、成长有着让人更加惊讶的共同体验。 |
      /   吃香蕉也能长大，可小鳄鱼偏偏要吃小孩，最 |
      /   后它才明白吃香蕉也是吃小孩的一个必要过程 |
      /   像是生活中积累磨炼的必要。图书有一种3到8 |
      /   岁孩子都欣赏的黑色幽默，在十多个国家都已 |
      /   出版，并获多项大奖。 |
    .title-div
      %p 借阅地点
    .content
      .item 
        %p.center= @book.center.name
      .item
        %span 中心剩余
        %span.residual= @book.stock - @book.book_borrows.count
        %span 本
      .item
        %span 地址：
        %span#address= @book.center.address
    






