<div class="content" data-path={{ele_path}}>
  <div class="left-div">
    <img class="visit" src={{ele_photo}}>
  </div>
  <div class="right-div">
    {{#ifCond ele_icon "ke"}}
      <img class="icon" src="<%= asset_path('kidscenter/ke.png') %>">
    {{/ifCond}}
    {{#ifCond ele_icon "hui"}}
      <img class="icon" src="<%= asset_path('kidscenter/hui.png') %>">
    {{/ifCond}}
    {{#ifCond ele_icon "gao"}}
      <img class="icon" src="<%= asset_path('kidscenter/gao.png') %>">
    {{/ifCond}}
    <span class="caption">{{ele_name}}</span>
    {{#ifCond ele_course true}}
      <span class= {{ele_status_class}}></span>
      <div class="location-div flex-div">
        <div class="age-div">
          <span class="age">适龄:</span>
          <span class="age">{{ele_age}}</span>
        </div>
        <div class="price-div">
          <span class="age price">价格:</span>
          <span class="age">{{ele_price}}</span>
        </div>
      </div>
      <div class="location-div">
        <img class="time" src="<%= asset_path('web/time.png') %>">
        <span class="date">{{ele_date}}</span>
      </div>
    {{else}}
      <p class="message">{{ele_content}}</p>
    {{/ifCond}}
    <div class="location-div margin-b">
      <img class="location" src="<%= asset_path('web/location.png') %>">
      <span class="center">{{ele_center}}</span>
    </div>
  </div>
</div>