- content_for :head do
  = javascript_include_tag "http://map.qq.com/api/js?v=2.exp"
  = javascript_include_tag "pages/admin/centers/show-bundle"
  = stylesheet_link_tag "pages/admin/centers/show-bundle", :media => "all"
  :javascript
    window.cid = "#{@center.id.to_s}"
    window.lat = "#{@center.lat.to_s}"
    window.lng = "#{@center.lng.to_s}"
    window.profile = "#{@profile}"
    window.price_upper = "#{@center.price_upper}"
    window.classtime_upper = "#{@center.classtime_upper}"

.content-area
  .manage-content
    .btn.finish-btn{:type => "button"} 
      %img.ticker{src: asset_path("managecenter/ticker.png")}
      完成
    .btn.edit-btn{:type => "button"} 
      %img.edit{src: asset_path("managecenter/edit.png")}
      编辑
    - if @center.available == true
      .btn#unshelve-btn.available{:type => "button"} 
        %img.end{src: asset_path("managecenter/unshelve.png")}
        %span 关闭
    - else
      .btn#unshelve-btn.unavailable{:type => "button"} 
        %img.end{src: asset_path("managecenter/shelve.png")}
        %span 开放

    .tabbable
      %a{:href => "/admin/centers"}
        %img.back{src: asset_path("web/tab-back.png")}
      %ul.nav.nav-tabs
        %li.active
          %a#center-message{"data-toggle" => "tab", :href => "#tab1"} 基本信息
        %li
          %a#center-class{"data-toggle" => "tab", :href => "#tab2"} 开设课程
        %li
          %a#center-book{"data-toggle" => "tab", :href => "#tab3"} 绘本

      .tab-content
        #tab1.tab-pane.active
          .input-box.clearfix
            .input-left
              .form-group
                %label.input-caption 中心名称:
                %span.unedit-box#name-span= @center.name
                %span.edit-box
                  %input.input-area.form-control#name-input{:type => "text"}
              .form-group
                %label.input-caption 开放时间:
                %span.unedit-box#time-span= @center.open_time
                %span.edit-box
                  %input.input-area.form-control#time-input{:type => "text"}
              .form-group
                %label.input-caption 详细地址:
                %span.unedit-box#address-span= @center.address
                %span.edit-box
                  %input.input-area.form-control#center-address{:type => "text"}
            .photo
              %img.unedit-photo#old-photo{:src => @center.photo.nil? ? asset_path("web/center.png") : @center.photo.path }
              = form_tag("/admin/centers/" + @center.id.to_s + "/upload_photo", method: "post", multipart: true, id: "upload-photo-form", class: "hide") do
                = file_field_tag "photo_file", { class: "hide", accept: ".jpg,.png" }
              %a#upload-photo{href: "javascript:void(0);"}
                %img.edit-photo{src: asset_path("web/add-photo.png")}
          .controls.controls-row
            %label.input-caption 中心代号:
            %span.unedit-div#abbr-span= @center.abbr
            %span.edit-box
              %input.input-div.form-control#center-abbr{:type => "text"}
            %label.input-caption.no-margin 公益价上限:
            %span.unedit-div#price-upper-span= @center.price_upper.to_s + "元"
            %span.edit-box
              %input.input-div.form-control#price-upper{:type => "text"}
            %label.input-caption.no-margin#total 授课时间上限:
            %span.unedit-div#classtime-upper-span= @center.classtime_upper.to_s + "小时"
            %span.edit-box
              %input.input-div.form-control#classtime-upper{:type => "text"}
          
          .center-introduce.clearfix
            %span.introduce 中心介绍:
            .introduce-details
              = @center.desc.to_s.html_safe
            %span.wangedit-area
              #edit-area
          .map-position
            %span.map-address 地图位置:
            .map-notice
              .notice-box
                %span.notice 
                  请在地图上点击定位或
                %a#auto-locate{:href => "javascript:void(0);"} 自动定位
              #map-container

        #tab2.tab-pane
          - if @course_insts[:data].blank?
            .undiscover
              %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
              %span.undiscover-message 抱歉！暂无课程信息
          - else
            .table-box
              %table.table.table-bordered#user-table1
                %thead
                  %tr
                    %th 课&nbsp程
                    %th 上课时间
                    %th 上课地址
                    %th 主讲人
                    %th 费用（元）
                %tbody
                  - @course_insts[:data].each do |ci|
                    %tr
                      %td= ci[:name]
                      %td= ci[:date]
                      %td.courseinst-address= ci[:address]
                      %td= ci[:speaker]
                      %td= ci[:price].to_s + "元"
            = render "admin/partials/auto_paginate", locals: { instance: @course_insts, url: "/admin/centers/" + @center.id.to_s + "?profile=courses&", page: 'course_inst_page'}
            
        #tab3.tab-pane
          - if @books[:data].blank?
            .undiscover
              %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
              %span.undiscover-message 抱歉！暂无绘本信息
          - else
            .table-box
              %table.table.table-bordered#user-table2
                %thead
                  %tr
                    %th 绘本名称
                    %th 标&nbsp签
                    %th 数&nbsp量
                    %th 在架
                    %th 作&nbsp者
                    %th 书&nbsp号
                %tbody
                  - @books[:data].each do |b|
                    %tr
                      %td.bookinst-name= b[:name]
                      %td= truncate((b[:tags] || "").gsub(',', '，'), length: 20)
                      %td= b[:stock].to_s + "本"
                      %td= b[:available_stock].to_s + "本"
                      %td= b[:author]
                      %td= b[:isbn]
            = render "admin/partials/auto_paginate", locals: { instance: @books, url: "/admin/centers/" + @center.id.to_s + "?profile=books&", page: 'book_page'}
          