- content_for :head do
  = javascript_include_tag "pages/staff/centers/index-bundle"
  = stylesheet_link_tag "pages/staff/centers/index-bundle", :media => "all"
  :javascript
    window.keyword="#{@keyword}"

.content-area
  .main-top.direction
    .user-search-box.f14.bg2
      %input.input-style#search-input.font-color3{:type => "text", :placeholder => "输入中心名称、地址", value: "#{@keyword}"}
      .search#search-btn
      / .input-group
      /   %input.input-style#search-input.font-color3{:type => "text", :placeholder => "输入中心名称、地址", value: "#{@keyword}"}
      /   %span.input-group-btn
      /     %button.btn#search-btn{:type => "button"}
    %ul.set
      %li
        %a.f16{href: staff_accounts_path} 账号设置
      %li
        %a.f16.set-left-border{href: signout_sessions_path} 退出登录
        / %a.f16.set-left-border= link_to "退出登录",  signin_page_sessions_path, class: "类名", method: :delete
  .main-content.bg2
    %button.btn.new-normal.font-color1.btn-position#add-center{type: "button"} 添加中心
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1{"data-toggle" => "tab", :href => "#tab1"} 课程中心
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div
              - if @centers[:data].length == 0
                .undiscover.f14
                  %img.undiscover-icon{src: asset_path("undiscover.png")}
              - else
                .table-box.f14
                  %table.table.table-hover.table-height
                    %thead.th-bg.font-color2
                      %tr
                        %th 中心名称
                        %th 详细地址
                        %th 正在开课
                        %th 历史开课
                    %tbody.font-color3
                      - @centers[:data].each do |c|
                        %tr
                          %td= link_to c[:name], "/staff/centers/#{c[:id]}"
                          %td= c[:address]
                          %td= c.coursing_num
                          %td= c.course_insts.length

                .select-page 
                  %span.totalitems= "共#{@centers[:total_page]}页，总计#{@centers[:total_number]}条"
                  %span.choice-page
                    %ul.pagination.pagination-sm
                      %li
                        %a{href: "/staff/clients?keyword=#{@keyword}&page=#{@centers[:previous_page]}"} «
                      - ( (@centers[:previous_page] > 2 ? @centers[:previous_page] - 2 : 1) .. (@centers[:next_page] < @centers[:total_page] - 2 ? @centers[:next_page] + 2 : @centers[:total_page]) ).to_a.each do |page|
                        %li
                          %a{href: "/staff/clients?keyword=#{@keyword}&page=#{page}"}= page
                      %li
                        %a{href: "/staff/clients?keyword=#{@keyword}&page=#{@centers[:next_page]}"} »






