- content_for :head do
  = javascript_include_tag "http://map.qq.com/api/js?v=2.exp"
  = javascript_include_tag "pages/staff/centers/show-bundle"
  = stylesheet_link_tag "pages/staff/centers/show-bundle", :media => "all"
  :javascript
    window.cid = "#{@center.id.to_s}"
    window.lat = "#{@center.lat.to_s}"
    window.lng = "#{@center.lng.to_s}"
    window.profile = "#{@profile}"


.content-area
  .main-top.direction
    %a{href: staff_centers_path}
      %img.back{src: asset_path("back.png")}
    = render "staff/partials/account_set"
    
  .main-content.bg2
    %button.btn.delete-normal.font-color1.delete-btn-position#delete-btn{type: "button"} 删除
    .table-div
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a.f16.font-color1#center-desc{"data-toggle" => "tab", :href => "#tab1"} 中心详情
          %li
            %a.f16.font-color1#history-course{"data-toggle" => "tab", :href => "#tab2"} 历史开课
        .tab-content.bg3
          #tab1.tab-pane.active
            .desc-div.font-color3.f14
              .form-group
                %label.input-name.fn 中心名称:
                %span.left-margin= @center.name
              .form-group
                %label.input-name.fn 详细地址:
                %span.left-margin= @center.address
              .map-position
                %span.map-address 地图位置:
                .map-div
                  #map-container
          #tab2.tab-pane
            .desc-div
              - if @course_insts[:data].length == 0
                .undiscover
                  %img.undiscover-icon{src: asset_path("undiscover.png")}
              - else
                .table-box.f14
                  %table.table.table-hover.table-height
                    %thead.th-bg.font-color2
                      %tr
                        %th 课程名称
                        %th 上课时间
                        %th 上课地址
                        %th 主讲人
                        %th 价&nbsp&nbsp格
                    %tbody.font-color3
                      - @course_insts[:data].each do |c|
                        %tr{class: "", "data-id" => c[:id]}
                          %td= c[:name]
                          %td= c[:date]
                          %td= c[:address]
                          %td= c[:speaker]
                          %td= c[:price]

                = render "staff/partials/auto_paginate", locals: { instance: @course_insts, url: "/staff/centers/#{@center.id.to_s}?profile=history&", page: 'page'}
                / .select-page 
                /   %span.totalitems= "共#{@course_insts[:total_page]}页,总计#{@course_insts[:total_number]}条"
                /   %span.choice-page
                /     %ul.pagination.pagination-sm

                /       %li
                /         %a{:href => "/staff/centers/#{@center.id.to_s}?page=#{@course_insts[:previous_page]}&profile=history"} «
                /       - ( (@course_insts[:previous_page] > 2 ? @course_insts[:previous_page] - 2 : 1) .. (@course_insts[:next_page] < @course_insts[:total_page] - 2 ? @course_insts[:next_page] + 2 : @course_insts[:total_page]) ).to_a.each do |page|
                /         %li
                /           %a{:href => "/staff/centers/#{@center.id.to_s}?page=#{page}&profile=history"}= page
                /       %li
                /         %a{:href => "/staff/centers/#{@center.id.to_s}?page=#{@course_insts[:next_page]}&profile=history"} »
