- content_for :head do
  = javascript_include_tag "pages/admin/courses/index-bundle"
  = stylesheet_link_tag "pages/admin/courses/index-bundle", :media => "all"
  :javascript
    window.keyword = "#{@keyword}"
    window.profile = "#{@profile}"

.content-area
  /courses-index
  .content-box
    .manage-box
      .user-search-box
        .input-group
          %input.form-control#search-input{:type => "text", :placeholder => "输入课程名称", :value => "#{@keyword}"}
          %span.input-group-btn
            %button.btn.btn-default#search-btn{:type => "button"}
      
    
    .manage-content
      .tabbable
        %ul.nav.nav-tabs
          %li.active
            %a{"data-toggle" => "tab", :href => "#tab1"} 已开课程
          %li
            %a#unopen_course{"data-toggle" => "tab", :href => "#tab2"} 未开课程


        .tab-content
          #tab1.tab-pane.active
            .local-course
              - if @course_insts[:data].length == 0
                .undiscover
                  %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                  %span.message 抱歉！暂无课程信息
              - else
                .table-box
                  %table.table.table-bordered#local-course-table
                    %thead
                      %tr
                        %th 课&nbsp程
                        %th 上课时间
                        %th 儿童中心
                        %th 授课单位
                        %th 价&nbsp格
                    %tbody
                      - @course_insts[:data].each do |ci|
                        %tr{class: "book-record #{ ci[:available] ? "available" : "unavailable" }", "data-id" => ci[:id]}
                          %td= link_to ci[:name], "/admin/courses/#{ci[:id]}"
                          %td= ci[:date]
                          %td= ci[:center]
                          %td= ci[:school]
                          %td= ci[:price_pay]
                          
                = render "admin/partials/auto_paginate", locals: { instance: @course_insts, url: "/admin/courses?keyword=#{@keyword}&", page: 'course_inst_page'}

          #tab2.tab-pane
            .open-course
              - if @unshelf_course_insts[:data].length == 0
                .undiscover
                  %img.undiscover-icon{src: asset_path("managecenter/undiscover.png")}
                  %span.message 抱歉！暂无课程信息
              - else
                .table-box
                  %table.table.table-bordered#course-table
                    %thead
                      %tr
                        %th 课&nbsp程
                        %th 上课时间
                        %th 儿童中心
                        %th 授课单位
                        %th 价&nbsp格
                    %tbody
                      - @unshelf_course_insts[:data].each do |ci|
                        %tr{class: "book-record #{ ci[:available] ? "available" : "unavailable" }", "data-id" => ci[:id]}
                          %td= link_to ci[:name], "/admin/courses/#{ci[:id]}"
                          %td= ci[:date]
                          %td= ci[:center]
                          %td= ci[:school]
                          %td= ci[:price_pay]
                          
                = render "admin/partials/auto_paginate", locals: { instance: @unshelf_course_insts, url: "/admin/courses?keyword=#{@keyword}&profile=unshelf&", page: 'course_page'}
          
