- content_for :head do
  = javascript_include_tag "pages/admin/courses/show-bundle"
  = stylesheet_link_tag "pages/admin/courses/show-bundle", :media => "all"
  :javascript
    window.cid = "#{@course.id.to_s}"
    window.price = "#{@course.price}"
    window.profile = "#{@profile}"


.content-area
  .manage-content
    .btn.finish-btn{:type => "button"} 
      %img.ticker{:src => "/assets/managecenter/ticker.png"}
      完成
    .btn.edit-btn{:type => "button"} 
      %img.edit{:src => "/assets/managecenter/edit.png"}
      编辑
    - if @course.available == true
      .btn#unshelve-btn.available{:type => "button"} 
        %img.end{:src => "/assets/managecenter/unshelve.png"}
        %span 下架
    - else
      .btn#unshelve-btn.unavailable{:type => "button"} 
        %img.end{:src => "/assets/managecenter/shelve.png"}
        %span 上架
    .tabbable
      %a{:href => "/admin/courses"}
        %img.back{:src => "/assets/web/tab-back.png"}
      %ul.nav.nav-tabs
        %li.active
          %a#course-message{"data-toggle" => "tab", :href => "#tab1"} 课程信息
        %li
          %a#course-area{"data-toggle" => "tab", :href => "#tab2"} 开课区域

      .tab-content
        #tab1.tab-pane.active
          .desc-items
            %span.course-name 课程名称:
            %span.unedit-box#classname-span= @course.name
            %span.edit-box
              %input.input-area.form-control#classname-input{:type => "text"}
            %span.course-name#speaker 主讲人:
            %span.unedit-box#classspeaker-span= @course.speaker
            %span.edit-box
              %input.input-area.form-control#classspeaker-input{:type => "text"}
            %span.course-name#nums 课次:
            %span.unedit-box#nums-span
            %span.edit-box
              %input.input-area.form-control#nums-input{:type => "text"}
          
          .desc-items
            %span.course-name 课程编号:
            %span.unedit-box#code-span= @course.code
            %span.edit-box
              %input.input-area.form-control#code-input{:type => "text"}
            %span.course-name#charge 市场价:
            %span.unedit-box#charge-span= @course.price.to_s + "元"
            %span.edit-box
              %input.input-area.form-control#charge-input{:type => "text"}
            %span.course-name#public-price 公益价:
            %span.unedit-box#public-price-span
            %span.edit-box
              %input.input-area.form-control#public-price-input{:type => "text"}
          .course-introduce.clearfix
            %span.introduce 课程介绍:
            %div.introduce-details
              = @course.desc.to_s.html_safe
            .wangedit-area
              #edit-area
        #tab2.tab-pane
          / .course-box.clearfix
          /   .user-checkbox
          /     %span.user-review 课程名称:
          /     %span.class-name= @course.name
          /     %label.checkbox-inline
          /       %input#inlineCheckbox1{:type => "checkbox", :value => "option1"} 已开课
          /     %label.checkbox-inline
          /       %input#inlineCheckbox2{:type => "checkbox", :value => "option2"} 未开课
          /     %label.checkbox-inline
          /       %input#inlineCheckbox2{:type => "checkbox", :value => "option2"} 已结课
          - if @course_insts[:data].length == 0
            .undiscover
              %img.undiscover-icon{:src => "/assets/managecenter/undiscover.png"}
              %span.message 抱歉！暂无查找信息
          - else
            .table-box
              %table.table.table-bordered#user-table
                %thead
                  %tr
                    %th 儿童中心
                    %th 上课地址
                    %th 主讲人
                    %th 课程容量
                    %th 报名人数
                    %th 费&nbsp用
                    %th 上课时间
                %tbody
                  - @course_insts[:data].each do |ci|
                    %tr.course-inst-tr{data: {id: ci.id.to_s}}
                      %td= ci.center.name
                      %td= ci.address
                      %td= ci.speaker
                      %td= ci.capacity.to_s + "人"
                      %td= ci.course_participates.length.to_s + "人"
                      %td= ci.price.to_s + "元"
                      %td= ci.date
            / 分页
            .select-page 
              %span.totalitems= "共#{@course_insts[:total_page]}页,总计#{@course_insts[:total_number]}条"
              %span.choice-page
                %ul.pagination.pagination-sm
                  %li
                    %a{:href => "/admin/courses/#{@course.id.to_s}?profile=area&page=#{@course_insts[:previous_page]}"} «
                  - ( (@course_insts[:previous_page] > 2 ? @course_insts[:previous_page] - 2 : 1) .. (@course_insts[:next_page] < @course_insts[:total_page] - 2 ? @course_insts[:next_page] + 2 : @course_insts[:total_page]) ).to_a.each do |page|
                    %li
                      %a{:href => "/admin/courses/#{@course.id.to_s}?profile=area&page=#{page}"}= page
                  %li
                    %a{:href => "/admin/courses/#{@course.id.to_s}?profile=area&page=#{@course_insts[:next_page]}"} »

            %p.class-calendar 点击表格中记录显示具体课程日历
            #calendar
