- content_for :app_head do
  = stylesheet_link_tag "layouts/admin-layout", :media => "all"
  = javascript_include_tag "layouts/admin-layout"
  = yield :head
  :javascript
    window.code = "#{@code}"



- content_for :app_content do
  .wrapper
    .header
      %a{:href => "#"}
        %img.logo{src: asset_path("managecenter/logo.png")}
      %p.leftword 管理员后台系统


      /登录注册页面的layout
      - if @current_user.present? && ( @current_user.is_staff || @current_user.is_admin )
        %ul.kids-manage
          %li.manage#manage-photo
            %img.manager{src: asset_path("managecenter/headphoto.png")}
            .btn-group
              %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = @current_user.name
                %span.caret
              %ul.dropdown-menu
                %li 
                %li 
                  %a.modify_password{:href => "javascript:void(0);"} 修改密码
          / %li.manage
          /   %a{:href => "javascript:void(0);"}
          /     %img.about-icon{:src => "/assets/managecenter/about.png"}
          %li.manage
            %a{:href => signout_admin_sessions_path}
              %img.turnoff-icon{src: asset_path("managecenter/turnoff.png")}
      - else
        %p.rightword 您好欢迎访问管理员后台系统！
        %button.btn#sign-in{"data-target" => "#signinModal", "data-toggle" => "modal"} 登录
        
      
    - if @current_user.try(:is_staff_or_admin)
      .main
        .sidebar
          %ul
            %li{class: @active_tab == "staff" ? "active" : ""}
              %a{:href => "/admin/staffs"} 工作人员管理
            %li{class: @active_tab == "course" ? "active" : ""}
              %a{:href => "/admin/courses"} 课程管理
            %li{class: @active_tab == "book" ? "active" : ""}
              %a{:href => "/admin/books"} 绘本管理
            %li{class: @active_tab == "announcement" ? "active" : ""}
              %a{:href => "/admin/announcements"} 公告信息管理
            %li{class: @active_tab == "center" ? "active" : ""}
              %a{:href => "/admin/centers"} 儿童中心管理
            %li{class: @active_tab == "statistics" ? "active" : ""}
              %a{:href => "/admin/statistics"} 统计信息查询

    %div{class: @current_user.try(:is_staff_or_admin) ? "user_sign_in" : "user_unsign_in" }
      = yield
= render :template => 'layouts/application'

/ modify_password
#modify_passwordModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      %img.close-btn{"aria-hidden" => "true", "data-dismiss" => "modal", src: asset_path("managecenter/close.png")}
      .modal-body
        .set-password-box
          %form.form-horizontal#form-layout{:role => "form"}
            .form-group.change
              %label.col-sm-4.control-label#label-name{:for => "forget-password"} 原始密码
              .col-sm-8
                %input.unclicked-box#password.form-control{:type => "password"}
            .form-group.change
              %label.col-sm-4.control-label#label-name{:for => "forget-password"} 重设密码
              .col-sm-8
                %input.unclicked-box#new-password.form-control{:type => "password"}
            .form-group.change
              %label.col-sm-4.control-label#label-name{:for => "forget-confirm-password"} 确认密码
              .col-sm-8
                %input.unclicked-box#confirm-password.form-control{:type => "password"}
            .confirm-button
              %button.btn#confirm.button-disabled{:href => "javascript:void(0);"} 确定

