- content_for :app_head do
  = stylesheet_link_tag "layouts/admin-layout", :media => "all"
  = javascript_include_tag "layouts/admin-layout"
  = yield :head
  :javascript
    window.code = "#{@code}"



- content_for :app_content do
  .container
    .header
      %a{:href => "#"}
        %img.logo{:src => "/assets/managecenter/logo.png"}
      %p.leftword 管理员后台系统


      /登录注册页面的layout
      - if @current_user.present? && ( @current_user.is_staff || @current_user.is_admin )
        %ul.kids-manage
          %li.manage#manage-photo
            %img.manager{:src => "/assets/managecenter/headphoto.png"}
            .btn-group
              %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = @current_user.name
                %span.caret
              %ul.dropdown-menu
                %li 
                  %a{:href => "javascript:void(0);"} 相关信息
                %li 
                  %a{:href => "javascript:void(0);"} 修改密码
          %li.manage
            %a{:href => "javascript:void(0);"}
              %img.about-icon{:src => "/assets/managecenter/about.png"}
          %li.manage
            %a{:href => signout_admin_sessions_path}
              %img.turnoff-icon{:src => "/assets/managecenter/turnoff.png"}
      - else
        %p.rightword 您好欢迎访问管理员后台系统！
        %button.sign-in{"data-target" => "#signinModal", "data-toggle" => "modal"} 登录
        
      
    
    .main
      .sidebar
        %ul
          %li{class: @active_tab == "staff" ? "active" : ""}
            %a{:href => "/admin/staffs"} 工作人员管理
          %li{class: @active_tab == "course" ? "active" : ""}
            %a{:href => "/admin/courses"} 课程管理
          %li{class: @active_tab == "book" ? "active" : ""}
            %a{:href => "/admin/books"} 绘本管理
          %li{class: @active_tab == "announcement" ? "active" : ""}
            %a{:href => "/admin/announcements"} 公告信息管理
          %li{class: @active_tab == "center" ? "active" : ""}
            %a{:href => "/admin/centers"} 儿童中心管理
          %li{class: @active_tab == "statistics" ? "active" : ""}
            %a{:href => "/admin/statistics"} 统计信息查询


    = yield
= render :template => 'layouts/application'
