!!!
%html
  %head
    %title= @title.present? ? @title : "宝贝计划"
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %meta{"http-qeuiv" => "X-UA-Compatible", content: "IE=edge"}/
    %meta{"name" => "renderer", content: "webkit"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :app_head
    = csrf_meta_tags
  %body
    = yield
