!!!
%html
  %head
    %title= @title.present? ? @title : "儿童中心"
    %meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
    %meta{name: "format-detection", content: "telephone=no"}/
    %meta{name: "format-detection", content: "email=no"}/
    %meta{"http-qeuiv" => "X-UA-Compatible", content: "IE=edge"}/
    %meta{"name" => "renderer", content: "webkit"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :app_head
    = csrf_meta_tags
  %body
    = yield :app_content
