!!!
%html
  %head
    %title= @title.present? ? @title : "北京市社区儿童中心"
    %meta{content: "width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
    %meta{name: "format-detection", content: "telephone=no"}/
    %meta{name: "format-detection", content: "email=no"}/
    %meta{"http-qeuiv" => "X-UA-Compatible", content: "IE=edge"}/
    %meta{"name" => "renderer", content: "webkit"}/
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = yield :app_head
    :javascript
      window.shelve_path = "#{asset_path("managecenter/shelve.png")}"
      window.unshelve_path = "#{asset_path("managecenter/unshelve.png")}"
      window.concern_path = "#{asset_path("concern.png")}"
      window.unconcern_path = "#{asset_path("cancel-concern.png")}"
      window.marker_path = "#{asset_path("dingwei03.png")}"
      window.qrcode_path = "#{asset_path("web/bigqrcode.png")}"
    = csrf_meta_tags
  %body
    = yield :app_content
