- content_for :app_head do
  = stylesheet_link_tag "layouts/staff-layout", :media => "all"
  = javascript_include_tag "layouts/staff-layout"
  = yield :head
  :javascript
    window.code = "#{@code}"



- content_for :app_content do
  .container
    .header
      %a{:href => "#"}
        %img.logo{:src => "/assets/managecenter/logo.png"}
      %p.leftword= @current_center.nil? ? "北京市社区儿童中心" : @current_center.name

      /登录注册页面的layout
      - if @current_user.present? && ( @current_user.is_staff || @current_user.is_admin )
        %ul.kids-manage
          %li.manage#manage-photo
            %img.manager{:src => "/assets/managecenter/headphoto.png"}
            .btn-group
              %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = @current_user.name
                %span.caret
              %ul.dropdown-menu
                %li 
                  %a.modify_password{:href => "javascript:void(0);"} 修改密码
          %li.manage
            %a{:href => "javascript:void(0);"}
              %img.about-icon{:src => "/assets/managecenter/about.png"}
          %li.manage
            %a{:href => signout_staff_sessions_path}
              %img.turnoff-icon{:src => "/assets/managecenter/turnoff.png"}
      - else
        %p.rightword 您好欢迎访问北京市社区儿童中心！
        %button.sign-up{"data-target" => "#signupModal", "data-toggle" => "modal", :type => "button"} 注册
        %button.sign-in{"data-target" => "#signinModal", "data-toggle" => "modal", :type => "button"} 登录
        
    .main
      .sidebar
        %ul
          %li{class: @active_tab == "client" ? "active" : ""}
            %a{:href => "/staff/clients"} 儿童管理
          %li{class: @active_tab == "course" ? "active" : ""}
            %a{:href => "/staff/courses"} 课程管理
          %li{class: @active_tab == "book" ? "active" : ""}
            %a{:href => "/staff/books"} 绘本管理
          %li{class: @active_tab == "announcement" ? "active" : ""}
            %a{:href => "/staff/announcements"} 公告信息管理
          %li{class: @active_tab == "statistics" ? "active" : ""}
            %a{:href => "/staff/statistics"} 统计信息查询
          %li{class: @active_tab == "transfers" ? "active" : ""}
            %a{:href => "/staff/transfers"} 迁入迁出记录

    = yield
= render :template => 'layouts/application'

/ modify_password
#modify_passwordModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    .modal-content
      %img.close-btn{"aria-hidden" => "true", "data-dismiss" => "modal", :src => "/assets/managecenter/close.png"}
      .modal-body
        .set-password-box
          %form.form-horizontal{:role => "form"}
            .form-group
              %label.col-sm-4.control-label#label-name{:for => "forget-password"} 原始密码
              .col-sm-8
                %input.unclicked-box#password.form-control{:type => "password"}
            .form-group
              %label.col-sm-4.control-label#label-name{:for => "forget-password"} 重设密码
              .col-sm-8
                %input.unclicked-box#new-password.form-control{:type => "password"}
            .form-group
              %label.col-sm-4.control-label#label-name{:for => "forget-confirm-password"} 确认密码
              .col-sm-8
                %input.unclicked-box#confirm-password.form-control{:type => "password"}
            .confirm-button
              %button#confirm.button-disabled{:href => "javascript:void(0);"} 确定
