- content_for :app_head do
  = stylesheet_link_tag "layouts/staff-layout", :media => "all"
  = javascript_include_tag "layouts/staff-layout"
  = yield :head
  :javascript
    window.code = "#{@code}"



- content_for :app_content do
  .wrapper
    .layout-left
      %img.logo2{src: asset_path("logo2.png")}
      .avatar-div.f16
        %img.layout-avatar{ src: @current_user.avatar.nil? ?  asset_path("default.png") : @current_user.avatar.path }
        %p.layout-name= @current_user.name.nil? ? "欢迎您" : @current_user.name
      .main
        .sidebar
          %ul
            %li{class: @active_tab == "course" ? "active-li" : ""}
              %a{:href => staff_courses_path}
                %img.mini-icon{src: asset_path("1class.png")}
                %span.f18.sidebar-title 课程管理
            %li{class: @active_tab == "client" ? "active-li" : ""}
              %a{:href => staff_clients_path}
                %img.mini-icon{src: asset_path("2kid.png")}
                %span.f18.sidebar-title 学生管理
            %li{class: @active_tab == "announcement" ? "active-li" : ""}
              %a{:href => staff_announcements_path}
                %img.mini-icon{src: asset_path("3announcement.png")}
                %span.f18.sidebar-title 公告管理
            %li{class: @active_tab == "center" ? "active-li" : ""}
              %a{:href => staff_centers_path}
                %img.mini-icon{src: asset_path("5center.png")}
                %span.f18.sidebar-title 课程中心
            %li{class: @active_tab == "statistic" ? "active-li" : ""}
              %a{:href => staff_statistics_path}
                %img.mini-icon{src: asset_path("4data.png")}
                %span.f18.sidebar-title 统计数据
    = yield
= render :template => 'layouts/application'




