- content_for :app_head do
  = stylesheet_link_tag "layouts/user_mobile-layout", :media => "all"
  = javascript_include_tag "layouts/user_mobile-layout"
  = yield :head
  :javascript
    window.code = "#{@code}"

- content_for :app_content do
  = yield
= render :template => 'layouts/application'
